[2021-01-21 13:21] Zahod commented on #103
Let me know if I can help!
I will stay on 0.15.3 version for now.

[2021-01-21 14:04] zalemmm commented on #104
https://codesandbox.io/s/sn1fb?file=/src/App.vue

[2021-01-21 14:46] Norserium commented on #103
Could you send me one of the photos that cause the issue? In the archive.

[2021-01-21 14:51] Norserium commented on #104
Why do you set the stencil size explicitly?

[2021-01-21 16:30] Zahod commented on #103
[test_photos.zip](https://github.com/Norserium/vue-advanced-cropper/files/5850679/test_photos.zip)

[2021-01-21 17:20] Norserium commented on #103
Could you test [this image](https://github.com/Norserium/vue-advanced-cropper/files/5850968/photo.zip)?

[2021-01-21 17:38] Norserium commented on #103
If you encounter trouble with this image also, then please try to upload this image to [this sandbox](https://codesandbox.io/s/stupefied-paper-dgjr2?file=/src/App.vue).

[2021-01-21 18:37] Norserium commented on #103
@Zahod, could you test [1.2.2](https://codesandbox.io/s/vue-avanced-cropper-basic-jfy5w?file=/src/main.js) with one of your previous images also?

[2021-01-22 06:18] Zahod commented on #103
@Norserium, page reloads in both sandboxes. I tried to upload  your sent photo and my old - same result.

[2021-01-22 08:39] zalemmm commented on #104
i set the size explicitly because the user can quickly save the picture for a standard default ratio corresponding at 200*300 cm relative to pic's size. Otherwise, he can choose his height and width, and while changing ratio the stencil is supposed to stick to picture borders, left/right or top/bottom depending on picture size that can be different and rectangle stencil's orientation... I thought

[2021-01-22 09:03] Norserium commented on #104
@zalemmm I suppose there is little misunderstanding.

The prop `stencil-size` sets the physical size of the stencil, not the actual cropped area. It should be obvious if you look at the following screenshot:
![Explanation](https://user-images.githubusercontent.com/9862719/105469358-25e62400-5ca9-11eb-8d91-8016e33e35dd.png)

[2021-01-22 09:04] Norserium commented on #103
@Zahod do you have any troubles with loading [this sandbox](https://codesandbox.io/s/heuristic-lehmann-xfogt?file=/src/App.vue)?

[2021-01-22 09:37] Zahod commented on #103
Yep, same issue. Here [screen video](https://www.dropbox.com/s/gblaz7lm47j9tev/RPReplay_Final1611307861.MP4?dl=0)

[2021-01-22 09:38] Norserium commented on #103
Could you load [this sandbox](https://codesandbox.io/s/adoring-frost-elbm2?file=/src/App.vue)?

[2021-01-22 09:45] Zahod commented on #103
This sandbox working fine. Also with new uploaded photo.

[2021-01-22 09:50] Norserium commented on #103
It's nice! Now I want to figure out what changes actually help. Could you test this sandboxes: [(1)](https://codesandbox.io/s/adoring-frost-elbm2?file=/src/App.vue), [(2)](https://codesandbox.io/s/bold-fog-bzuw0?file=/src/App.vue), [(3)](https://codesandbox.io/s/wispy-firefly-hq1xf?file=/src/App.vue), [(4)](https://codesandbox.io/s/lucid-rosalind-thzgw?file=/src/App.vue), [(5)](https://codesandbox

[2021-01-22 10:35] Norserium commented on #104
Also, I don't understand exactly what you want to get. For example, what does centimetres means? There is no centimetres in the browser, only pixels.

[2021-01-22 10:46] Zahod commented on #103
1, 3, 4, 5 - work
2 - reloads page

[2021-01-22 10:54] zalemmm commented on #104
ok sorry i took shortcuts with fixed dimensions in the sandbox but it's more like this in the app i'm working on:
https://codesandbox.io/s/festive-ramanujan-vtrmq?file=/src/App.vue
I get pictures from an api, various sizes and orientations. from theses pics we print real wallpapers according to user chosen dimensions in centimeters.
The user chose his wall size and he can preview in the cropper wh

[2021-01-22 11:30] Norserium commented on #103
Could you test [1.2.3](https://codesandbox.io/s/vue-avanced-cropper-basic-jfy5w?file=/src/App.vue)?

[2021-01-22 11:51] Zahod commented on #103
This one is working!

[2021-01-22 12:16] Norserium commented on #103
Do you plan to use this version in your application? If so, it would be nice to receive feedback.

Anyway, thank you very much for your help. It was very helpful for all our community.

[2021-01-22 12:18] Norserium commented on #104
@zalemmm I'm not sure that I understand you correctly, but there is [probable solution](https://codesandbox.io/s/vue-advanced-cropper-dynamic-aspect-ratio-goyu6?file=/src/App.vue).

[2021-01-22 12:40] zalemmm commented on #104
exactly !!! sorry if i was not very clear but you understood correctly, thanks a lot !

[2021-01-22 12:40] #104 closed

[2021-01-22 12:46] Zahod commented on #103
Yes, but not right now, I will try to update version in next releases, and let you know. I was glad to help.

Could you explain, if it possible, what was the case, and how you fixed that? It might be helpful in my future developments and
will help to improve performance on mobile devices.

[2021-01-22 12:54] Norserium commented on #103
I've removed `will-change: transform` for the image elements. This property is useful, but I made the mistake by using it here.

[2021-01-22 12:55] Norserium commented on #104
@zalemmm, you are welcome!

[2021-01-22 13:24] Norserium commented on #104
@zalemmm try also this variation with [custom auto zoom](https://codesandbox.io/s/vue-advanced-cropper-dynamic-aspect-ratio-autozoom-nnpvr?file=/src/App.vue). It should guarantee the centering of the stencil.

[2021-01-22 13:35] Norserium commented on #103
If you have time, could you test [the rotation of your images](https://codesandbox.io/s/vue-advanced-cropper-rotate-2-k37kl?file=/src/App.vue) on iOS?

[2021-01-24 21:00] ionicsolutions opened #105 "Add LICENSE file"
I modified the RectangularStencil for one of my projects and stumbled across the fact that there is no `LICENSE` file in the repository which shows the proper attribution (i.e., which name and date range to use).

Hence, I'd like to ask if [this license notice](https://github.com/XAI-Demonstrator/xai-demonstrator/blob/master/visual-inspection/inspection-frontend/src/components/ExplanationStencil.v

[2021-01-25 08:40] Norserium commented on #105
@ionicsolutions I've added the license file. In short:

You already can use this version. It's published on [NPM](https://www.npmjs.com/package/vue-advanced-cropper/v/1.2.4).

[2021-01-25 09:33] ionicsolutions commented on #105
Thanks! I'll make sure to update both the license notice and the code as soon as possible.

[2021-01-25 09:33] #105 closed

[2021-01-25 12:11] Norserium commented on #105
@ionicsolutions you are welcome! If you encounter any issues with migration to the new version (that is not described in [the guide](https://norserium.github.io/vue-advanced-cropper/introduction/migration.html)), feel free to create the issue. It would be helpful for other users.

[2021-01-25 14:32] Zahod commented on #103
Hey @Norserium thanks for your answer!
Just now I tested rotation on my phone in sandbox.
When I try to rotate uploaded image - page reloads. Looks like the same issue

[2021-01-25 14:51] Norserium commented on #103
@Zahod thanks. Alas, it looks not fixable. Could you test [1.0.0](https://codesandbox.io/s/vue-advanced-cropper-rotate-2-forked-gj1s7?file=/src/App.vue) also?

[2021-01-25 15:25] Zahod commented on #103
This one is works!

[2021-01-25 17:53] ionicsolutions opened #106 "Feature Request: Propagate move/resize events"
Currently, the Cropper component emits the _change_ event once the stencil has been moved/resized. I would like to receive an event when the stencil starts changing as well, e.g., a _changeStarted_ event. As far as I can see, this could be accomplished by propagating the _move_ and _resize_ events emitted by the stencil component.

If this is something you're interested in, I'm happy to provide a

[2021-01-25 17:58] Norserium commented on #106
@ionicsolutions, could you describe your use-case?

Actually, it's pretty easy to implement, but there are questions:
- When you start to resize image, should the cropper emit `change-start` and `change-end` evens? When the resizing is started? When the resizing is ended?
- Should the cropper emit `change-start` and `change-end` on calling its methods? I suppose no, but `change` event will be fire

[2021-01-25 18:10] ionicsolutions commented on #106
I'm selecting a portion of an image and generate a prediction using an ML model (currently, there is an early demo publicly available here: https://test.xaidemo.de/inspection/). We would like to remove the prediction output as soon as the user moves/resizes the stencil, as it is no longer valid. I imagine that this is a somewhat common situation, e.g., let's say we show the size of the selected ar

[2021-01-25 18:37] Norserium commented on #106
Currently you can use the following workaround:
1. Set `debounce` to `false`. In this case `change` will fire on each change immediately.
2. Add to the callback function clearing of the current result and the debounced call of the image processing.

It's not perfect solution, but it will create the illusion of desired result. Anyway, your feature request sounds pretty reasonable. This is clearly s

[2021-01-25 18:48] Norserium commented on #106
In this case I recommend to set `debounce` to `false` and display the size immediately. And it's won't be a workaround.

The same situation when you need to preview the image in real-time. There is [the corresponding example](https://norserium.github.io/vue-advanced-cropper/guides/recipes.html#preview-the-result) in the documentation.

Maybe, the debounce will be disabled by default in this librar

[2021-01-25 21:48] Norserium commented on #103
@Zahod I suppose that you will get the similar error when you try to resize image in 1.0.0. Am I right?

[2021-01-26 00:19] Norserium commented on #103
@Zahod could you test also [1.2.5](https://codesandbox.io/s/vue-advanced-cropper-rotate-2-k37kl?file=/src/App.vue)?

[2021-01-26 13:00] kramalexx commented on #78
Hello @Norserium! I met the same issue when I try to use vertical image in the cropper. I see this problem even on the demo page. Look at the example below

<img width="684" alt="Снимок экрана 2021-01-26 в 15 59 07" src="https://user-images.githubusercontent.com/42442717/105848056-86e66280-5fef-11eb-8ac0-79528c7c2fef.png">

[2021-01-26 19:04] Norserium commented on #78
@kramalexx, it's completely my fault. There is the bug in `1.2.3`. Please  update to `1.2.5`.

[2021-01-27 07:12] kramalexx commented on #78
Thanks for the reply, but unfortunately it still looks the same even with the version `1.2.5`.

![image](https://user-images.githubusercontent.com/42442717/105955869-0162c100-6088-11eb-818d-fe7f343d8097.png)

I use the image below to test. Maybe it will be useful to you
![image](https://user-images.githubusercontent.com/42442717/105955971-23f4da00-6088-11eb-8907-66001b003618.png)

[2021-01-27 12:39] Norserium commented on #78
It works just fine:
![image](https://user-images.githubusercontent.com/9862719/105992132-c4adbe80-60b5-11eb-892c-6593b036ec95.png)

Could you test your image in [this sandbox](https://codesandbox.io/s/vue-advanced-cropper-rotate-2-k37kl?file=/src/App.vue)?

[2021-01-28 14:22] Norserium commented on #78
@kramalexx I've updated the documentation also.

[2021-01-28 14:33] kramalexx commented on #78
@Norserium It was the problem not with the .js file, but with .css. So I updated the styles to version 1.2.5 and the issue was gone. Thanks a lot!

[2021-01-28 14:35] Norserium commented on #78
@kramalexx you are welcome!

[2021-01-29 16:09] Norserium commented on #106
@ionicsolutions could you give the feedback for the workaround above?

[2021-01-29 16:12] Norserium commented on #103
@Zahod, if you could find the time, it would be very helpful if you test the two cases above.

[2021-01-31 21:32] ionicsolutions commented on #106
Hi Norserium, thanks for the hints! I haven't worked on that part of the app in the past week. I'll most likely get around to it over the next days (also the switch to 1.0) and will let you know as soon as I've tried.

[2021-02-02 09:55] Zahod commented on #103
Hey @Norserium !
Sorry, I was a little busy last week. I will try to answer as fast as I can.

This version is working in any cases: rotate, zoom, change cropper size. Looks stable.

This version is also work. Only image [disappear](https://www.dropbox.com/s/97rjcz8x5qtc9yi/RPReplay_Final1612259466.MP4?dl=0) for a short time when I try to rotate first time. But, I think , it is fine.

[2021-02-02 10:07] Norserium commented on #103
@Zahod, awesome!

The disappearing of the image is a minor bug compared with the bugs described above. Anyway, I will investigate it later and I've add its mention to the bugs list.

Thank you for your help again.  I suppose issue maybe close now?

[2021-02-02 12:10] Zahod commented on #103
Yep!
On my project, I updated to v1.2.4. For my purposes it works well.

[2021-02-02 12:12] Norserium commented on #103
@Zahod, I'm wondering why did you chose `1.2.4` rather than `1.2.5`? The last version fixes crash on an image rotate.

[2021-02-02 13:56] Zahod commented on #103
@Norserium No troubles.
At the moment when I push new release, 1.2.4 was the latest. I am not using image rotate on my project. I will switch to latest version, on my next release.

[2021-02-02 14:32] Norserium commented on #103
@Zahod I got it. I close the issue then, if you encounter any troubles, feel free to open it.

[2021-02-02 14:32] #103 closed

[2021-02-04 19:24] CalebJTSmith opened #107 "Responsive width Preview component"
I was curious if there are any recommendations out there for making the Preview component more responsive.

A common use case that we have right now is showing several cropper images side-by-side in a flex row. On desktop I can show 5 at a time with fixed width and that is fine, but it gets harder as I break down the size of the device and the images become too small, or I have 4-5 Preview rows fo

[2021-02-05 21:47] Norserium commented on #107
@CalebJTSmith, I've implemented the experimental auto width / height calculation in `1.3.0`. Check [this example](https://codesandbox.io/s/vue-advanced-cropper-preview-experimental-fk9jx?file=/src/App.vue).

[2021-02-05 21:49] CalebJTSmith commented on #107
Fantastic news! Let me give it a try.

[2021-02-05 21:58] CalebJTSmith commented on #107
That worked perfectly - Thank you for implementing that!

[2021-02-05 22:06] Norserium commented on #107
@CalebJTSmith, you are welcome! If you encounter any troubles, feel free to create the corresponding issue.

[2021-02-08 22:27] m0jimo opened #108 "Crop images without vue component"
I'm happy i've found `vue-advanced-cropper` which is easy to implement and has a nice UI.

Is there a way how to crop images outside a vue component?

I'm developing Chrome extension which should  take screenshots of active tab in intervals (in the `background.js` process ) and compare cropped parts of snapshots based on saved dimension (or already cropped image) from the vue component cropper.

[2021-02-09 08:19] Norserium commented on #108
Hello, @m0jimo!

I assume that you are already using the canvas to compare images, hence you can easily crop image by using the canvas. That's how the cropper crops the image internally ([source](https://github.com/Norserium/vue-advanced-cropper/blob/master/src/core/canvas.ts)).

[2021-02-09 09:20] m0jimo commented on #108
It was too late when I posted my issue and was not thinking much. Thanks for the answer with link and thanks for a great component.

[2021-02-09 09:20] #108 closed

[2021-02-09 09:33] Norserium commented on #108
@m0jimo, you are welcome!

[2021-02-14 20:40] Norserium commented on #97
@Flawe, any news?

[2021-02-14 20:41] Norserium commented on #72
@bzd2000, @phena109, @alekbarszczewski, I close the issue. If you encounter any troubles, feel free to create the specific issue.

[2021-02-14 20:41] #72 closed

[2021-02-14 20:42] Norserium commented on #106
@ionicsolutions, any news?

[2021-02-15 07:52] bzd2000 commented on #72
Thx for the work!

[2021-02-16 12:31] ionicsolutions commented on #106
Sorry that it took longer than expected, we have a deadline approaching so I needed to take care of some other issues first.

I've upgraded our project to 1.3.0 and tried the debounce workaround.

It has the desired effect, however, I would then need to handle waiting for the moving/resizing to stop in my part of the App. Hence, I'd still like to be able to listen to a `change-start` event.

It's

[2021-02-16 12:36] Norserium commented on #106
@ionicsolutions I assume there is a little misunderstanding. You can clear the results and then call the **debounced** API request (I use `debounce` library for it in this library).

[2021-02-16 12:48] ionicsolutions commented on #106
@Norserium Indeed, I didn't get that part!

Thanks for pointing this out, I was able to solve it in a matter of minutes now 👍

[2021-02-25 02:09] Dylan190774 opened #109 "Get stencil coordinates after change & auto-zoom"
I have a Cropper with `auto-zoom` set to `true`.
I wish to get the absolute coordinates of the stencil, after something has changed.

To do this I do something like this in the `v-on:change` event:

        let stencil = document.querySelector(".vue-rectangle-stencil");
        let stencil_rect = stencil.getBoundingClientRect();

With that I 'm able do what I want (overlay the stencil with some st

[2021-02-25 08:54] Norserium commented on #109
Hello, @Dylan190774!

I'm wondering why do you need to get absolute coordinates of the stencil?

To answer your question, there is no such feature now. To be clear, I should note, that auto-zoom changes the coordinates immediately and the smooth animation of resizing is the result of using transitions. By the way, I have some plans about adding `transition-end` and `transition-start` events that w

[2021-02-25 15:22] Dylan190774 commented on #109
I understand that this can be used to calculate the coordinates, but the problem was when to do this.
Somehow it needs to be triggered when the transition has ended. A `transition-end` event would be great :)

A `slot `in the cropper (or stencil) component would als be nice, so I could use this to put the overlay in, but I understand that's even more complicated :)

[2021-02-25 18:35] Norserium commented on #109
Could you explain why do you need to get the coordinates? Why do you need to put overlay in? There is the overlay right now.

[2021-02-26 00:01] Dylan190774 commented on #109
I'm making some kind of graphics editor that can turn a picture into a mosaic.
It would be nice to display the calculated mosaic directly onto the editor, without switching to another page/tab.

See this page for examples of what I'm trying to do: http://close-pixelate.desandro.com/

[2021-02-26 02:56] Awatatah commented on #93
same

[2021-02-26 03:06] Dylan190774 commented on #109
I added the following to achieve what I want:

[code]

In the `cropper_update `method I redraw the overlay.
This works when I use the handles to resize the stencil, but somehow it doesn't work right when I move the stencil, because it doesn't catch the latest position.
Also the transitionend event is fired multiple times, which of course slows down the process.

[2021-02-26 03:27] Awatatah opened #110 "How to get x,x2,y,y2 coordinates?"
This is a dumb question but I need to know how to get the x,x2,y,y2 coordinates?

To add a bit of context, I need to send these in order for my transformer to crop the image

[code]

[2021-02-26 07:42] Norserium commented on #109
It would be nice to display the calculated mosaic directly onto the editor, without switching to another page/tab.

I don't get the idea completely. Do you need to pixelate the whole image? Could you provide any screenshot of the current result?

[2021-02-26 07:45] Norserium commented on #110
Hello, @Awatatah! I don't know what do this coordinates mean. Perhaps you should do something like this:
[code]

[2021-02-26 10:38] Dylan190774 commented on #109
I'm still in the beginning stages, so not much to see yet, but I'll keep you posted :)

By the way, the following solution seems to work a lot better than my previous one:

[code]

[2021-02-26 10:44] Norserium commented on #109
You could illustrate your idea in a some picture editor. Select by color the areas that should be pixelated and it will answer on my previous question.

[2021-02-26 10:52] Dylan190774 commented on #109
![image](https://user-images.githubusercontent.com/16488685/109291231-00f54b80-7829-11eb-8fa9-501044355acd.png)

Here's the idea of the editor. The overlay is now simply red ;) , but would be the mosaic when it's finished.

[2021-02-26 12:01] Norserium commented on #109
Now I get it. Thanks.

[2021-02-26 12:55] Norserium commented on #109
@Dylan190774, I suppose [it's](https://codesandbox.io/s/vue-advanced-cropper-pixelate-hqb46?file=/src/PixelatedPreview.vue) what you want to get. Yes?

[2021-02-26 15:01] Dylan190774 commented on #109
Wow, that's absolutely fantastic. Great work!
This is exactly the idea that I have in mind.

[2021-02-26 15:16] Norserium commented on #109
You are welcome! And keep in mind two things:
1. It's a still fast made sketch. It may have different disadvantages and limitations. For example, it doesn't support the image rotate / scale (but it's fixable).
2. I didn't use the `close-pixelate` library normally. I cat the needed code and transform it to functions, it's much flexible and suitable. I suppose it's pretty normal approach, considerin

[2021-02-26 15:25] Dylan190774 commented on #109
I wrote my own version of this library already, so that's ok.

The only thing that bothers me a little bit, is that quite a lot of duplicated code in the new Stencil component is needed to make it work., for example the onMove, onMoveEnd methodes, etc. When you'd change the default Stencil, these changes would have to be made in the custom Stencil too.

So it'd still be great if an event was sent

[2021-02-26 15:59] Awatatah commented on #110
@Norserium
Thank you! I revised it a little and it seems to work correctly when compared to an old cropper we were using
[code]

output
[code]

[2021-02-26 15:59] #110 closed

[2021-02-26 16:38] Norserium commented on #109
I suppose that the current solution is the most idiomatic solution for this library. Why? Because the pixelated preview is actually the part of the stencil.

You shouldn't worry about the future changes of default stencil if you don't plan to create the universal stencil for the community. It's the core feature of this library: creating of your own stencils. Just create the stencil that you need.

[2021-02-26 18:33] Dylan190774 commented on #109
Thank you for your effort.
The pixelation-logic depends on a lot of different variables (multiple layers, palette, shapes, masks, all kinds of settings, etc.). All this is defined and configured in the main vue-file. What do you think is the best option to pass all this to the stencil?
Somehow I still think it's better that the pixelation is done in the vue file that in the cropper/stencil, but I

[2021-02-26 19:17] Norserium commented on #109
You can pass any props by using `stencil-props` prop in the cropper.

[2021-03-06 11:53] Nemesis19 opened #111 "Canvas max size"
Dear Developer,

I'm using the lib mostly on mobile and Safari is a must use browser for the situation.

With specific photos over about 4000x4000 pixels, coming i.e. from a professional camera (like canon etc), I receive from safari the errors like this "Canvas area exceeds the maximum limit (width * height > 16777216)."

If I resize the canvas after the `const { canvas } = this.$refs.cropper.get

[2021-03-06 12:27] Norserium commented on #111
Hello, @Nemesis19!

Nice to meet you again.

On the one hand the described problem affects I suppose many real users (however, it's hard to reproduce this problem on desktop devices). On the other hand I'm not sure that there is the universal solution that will suit for all cases.

Perhaps, the optimal solution is the documenting of approaches to solve your problem. The first approach that comes t

[2021-03-06 15:27] Nemesis19 commented on #111
Thanks for your reply, I understand your point and I also saw the references you sent me.

But the problem here seems to be about giving to the cropper canvas a preliminary constraint. I'll try to explain better.

If from my code above I just leave the `const { canvas } = this.$refs.cropper.getResult();` removing all the rest, Safari keeps prompting with the warning of excess of canvas limit.
I pu

[2021-03-06 17:03] Norserium commented on #111
No, I suggested "before" approach, i.e. resize image before passing it to the cropper.

Anyway, I've published 1.3.1 now version that has `maxCanvasSize` prop. It's still the experimental feature, but it works pretty well. This prop doesn't have a default value so set the one that will suit your needs. I suppose it's [3 * 1024 * 1024](https://discussions.apple.com/thread/4975106#:~:text=The%20maxi

[2021-03-06 20:21] Nemesis19 commented on #111
Thanks for the reply.

Man, I must tell you, you just anticipate my needs! I updated the lib to 1.3.1, you say it's experimental but I don't know how many tests you need to do...for me it's production ready. It just SOLVES MY PROBLEM!

Thank you, that's a very useful feature, especially for  problematic browsers like Safari!

[2021-03-06 20:21] #111 closed

[2021-03-06 23:51] Norserium commented on #111
@Nemesis19, you are welcome!

[2021-03-09 09:10] Norserium commented on #97
@Flawe, I close the issue for now. If you encounter this trouble in the future, feel free to reopen.

[2021-03-09 09:10] #97 closed

[2021-03-10 18:52] gregkepler opened #113 "Stencil props aspect ratio change doesn't trigger change event"
Hello there,

I have radio buttons to update the aspect ratio on the cropper stencil. I expect that when the aspect ratio changes in `:stencil-props` that it would trigger the change event from the cropper, but that doesn't seem to be the case.

Is this a correct assumption or is there another way to set the aspect ratio that would trigger a ui change as well as the change event?

Something like t

[2021-03-11 13:44] Norserium commented on #113
@gregkepler, thank you for your report. [Fixed in `1.3.2`](https://codesandbox.io/s/vue-cropper-aspect-ratio-change-132-xutht).

[2021-03-11 15:44] gregkepler commented on #113
@Norserium Thank you, looks good here!

[2021-03-11 15:44] #113 closed

[2021-03-11 16:00] Norserium commented on #113
@gregkepler, you are welcome!

[2021-03-12 11:45] mattkingshott opened #114 "Rename destroyed to unmounted"
I'm getting warnings on the version / branch targeting Vue 3:

[code]

[2021-03-12 21:47] Norserium commented on #114
@mattkingshott, thank you for your report. Fixed in `2.2.1`.

[2021-03-13 09:56] Norserium commented on #114
@mattkingshott, will I close issue then. If you encounter one in the future, feel free to reopen.

[2021-03-13 09:56] #114 closed

[2021-03-14 17:42] Elvincth commented on #84
Would be nice to add a search bar to the documantaion!

[2021-03-15 04:19] Elvincth opened #115 "Add search bar to documentation"
First, thanks for creating this amazing libary.
But for the documentation without a search bar really make us very inconvenient.

[2021-03-15 06:20] Elvincth opened #116 "Zoom to cropped area programmatically without auto-zoom"
How to zoom in and zoom out to a cropped area programmatically without auto-zoom being set?

For instance if I cropped to an area e.g.
![image](https://user-images.githubusercontent.com/6602723/111111484-5bb4d400-8599-11eb-8f88-04516b5d4f89.png)

And I want to programmatically  zoom into the cropped area without auto zoom props passed in (PS. I have tried zoom with left top setted but no luck the

[2021-03-15 10:05] Elvincth opened #117 "Set canvas to false is not working"
` <cropper
           ...
            :canvas="false"`

I have followed [https://norserium.github.io/vue-advanced-cropper/components/cropper.html#props](url) and set the canvas to false, but still when I inspect the cropper it still got canvas, also in vue inspect tool there isn't a prop call canvas.

Still got canvas in the elemet:
![image](https://user-images.githubusercontent.com/6602723/111136

[2021-03-15 10:18] Norserium commented on #117
@Elvincth why do you want to eliminate the `canvas` elements?

[2021-03-15 10:20] Norserium commented on #115
@Elvincth, I've returned the default Vuepress search to the documentation. It's pretty unattractive, but it works at least.

[2021-03-15 10:20] #115 closed

[2021-03-15 10:22] Elvincth commented on #117
For better performance, as I would like to use the cropper to show "annotation" part of the image, the user won't be able to resize, or change the stencile, so canavs would not be use I guess?

e.g.
![image](https://user-images.githubusercontent.com/6602723/111138632-20c39800-85bb-11eb-802d-b67b1f2cb1ec.png)

[2021-03-15 10:23] Elvincth commented on #115
Thanks it really help!

[2021-03-15 10:26] Norserium commented on #117
Actually, that canvases are empty, until you try to get the `canvas` property of the result.

[2021-03-15 10:27] Elvincth commented on #116
UPDATE:
Got working with:
[code]

[code]

But the cropped area is not being center

[2021-03-15 10:31] Elvincth commented on #117
Got it ! Then it should be ok. Thankas a lot.

[2021-03-15 10:31] #117 closed

[2021-03-15 10:55] Norserium commented on #116
Could you describe your use-case in more detail? Why do you need to auto zoom programatically?

Anyway, it's pretty tough to implement this, especially if you want to have transitions during this zoom. Perhaps, I should provide some method that gives the possibility to change coordinates and visible area simultaneously, but even in this case you should calculate the visible area and coordinates ve

[2021-03-15 11:04] Elvincth commented on #116
I would like to use it as annotation viewer, e.g., it first highlighted the annotated area in a full non-zoomed in image, and there would be a zoom in button, that the user could click to zoom in more details in the annotated area (Act just like auto zoom options), that is what I am trying to achieve.

[2021-03-15 11:21] Elvincth commented on #116
Okay got it working by setting autoZoom true and false and calling  this.cropper.onChange() simultaneous

[2021-03-15 11:21] #116 closed

[2021-03-15 11:37] Elvincth commented on #116
@Norserium Btw a quick question would there a lazy loading be available for loading the images through src ?

[2021-03-15 12:22] Norserium commented on #116
@Elvincth what do you mean by lazy loading? The possibility to add `loading` attribute to `img`?

[2021-03-15 12:36] Elvincth commented on #116
Using library like:
https://github.com/ApoorvSaxena/lozad.js for loading images in cropper

[2021-03-15 13:37] Elvincth commented on #116
Yes that true, that is excatly what I need! Thanks for your quick reply and creating this amazing library

[2021-03-15 13:41] Norserium commented on #116
@Elvincth, you are welcome!

[2021-03-16 00:33] TheVaan commented on #114
Hello @Norserium, it seems you missed one line:
https://github.com/Norserium/vue-advanced-cropper/blob/c3f6c5bd2d446dbf995b3347c3f956d4aec73eaa/src/components/helpers/Preview.vue#L164

[2021-03-16 00:56] TheVaan opened #118 "npm install @next installs v2.2.0 not v2.2.1"
Hello,

I used the @next-suffix and npm installed v2.2.0. You may take a look why npm thinks, that this is still the next version.
![image](https://user-images.githubusercontent.com/1108485/111239990-a286e600-85fa-11eb-9418-4bd8a1467408.png)

Thank you for your great component!

[2021-03-16 07:53] Norserium commented on #118
@TheVaan, thank you for your report. Fixed.

[2021-03-16 08:06] #118 closed

[2021-03-16 17:20] schartz opened #119 "Preview of square and portrait images fills the screen"
Hello there,

When trying to crop square images, upon image upload the preview fills the entire screen. In case of rectangular landscape it works as expected.

Rectangular landscape image
<img src="https://i.ibb.co/LZ5YJrm/lanscape.png" alt="lanscape" border="0">

Square Image
<img src="https://i.ibb.co/3hR1kB4/square.png" alt="square" border="0">

Portrait image
<img src="https://i.ibb.co/RBHmhGS

[2021-03-16 17:27] schartz commented on #119
Apologies.
I figured it was a configuration issue on my end.
Closing this issue.

[2021-03-16 17:27] #119 closed

[2021-03-17 12:31] rainrain001 opened #120 "I can't add the vue 3 repo in project"
I can't add this `vue-advanced-cropper@next` in my project. It seems that package doesn't exist at all.

[code]

[2021-03-17 14:50] Norserium commented on #120
@rainrain001, thank you for your report. Fixed.

[2021-03-17 14:50] #120 closed

[2021-03-17 16:55] luka-mikec opened #121 "Feature Request: stencil overlay"
Could you add a (simple) way to add an overlay for the rectangle stencil? I think a div, sibling to this one, would suffice: https://github.com/Norserium/vue-advanced-cropper/blob/master/src/components/helpers/Preview.vue#L197

It would be ideal if this was implemented as a slot for the main cropper component.

My use case is that I wish to provide a visual helper to the user (similar to the grid,

[2021-03-17 17:03] Norserium commented on #121
@luka-mikec, could you draw / provide the example of what you want to get?

[2021-03-17 17:15] luka-mikec commented on #121
@Norserium

I need something like this displayed above the stencil:
![image](https://user-images.githubusercontent.com/5161084/111508632-33210b80-874c-11eb-99dc-8109c8f9e381.png)

So, it would be a semi-transparent PNG overlaying the stencil. In the meantime I realised I can probably accomplish this by overriding ::before and ::after (initially I thought I can't use them because I thought I'd need

[2021-03-17 21:50] Norserium commented on #121
You can simplify the code above:
[code]

And in the template:
[code]

If you need something more complex it's better to create [the custom stencil](https://norserium.github.io/vue-advanced-cropper/guides/advanced-stencil.html).

[2021-03-18 09:49] Norserium commented on #121
In conclusion, I suppose that this feature can simplify some pretty rare use-cases, but I suppose there are better alternatives to solve the described task:
- styling of the stencil
- creating the own stencil

Adding the possibility of adding an overlay to an arbitrary stencil may conflict with custom stencils or may add unnecessary complexity.

[2021-03-18 09:49] #121 closed

[2021-03-23 06:32] arslanhashmi opened #122 "Rotate not working on v1.3.2"
This is how I am using Cropper

[code]

Data and methods
[code]

Traceback on rotate:
[code]

Also for same configuration zooming in and zooming out are so slow, but I can open a separate issue for it.

[2021-03-23 08:46] Norserium commented on #122
@arslanhashmi, could you make codesandbox to reproduce this error?

[2021-03-23 09:55] Norserium commented on #122
Also, try to update to `1.3.3`. I fixed one bug, that was able to lead to your problems.

[2021-03-24 14:52] xariusdesai opened #123 "Looking for a way to use a mix of image type restrictions"
Hi,

So I'm trying to get a functionality akin to this:

I want the image to be constrained to the cropper as in fit-area (ie. I can zoom in as much as I want, but can only zoom out as much as the max image height / width)

but I want to be able to use the crop itself like the image restriction is none (ie. I can add transparent areas to my crop).

<img width="674" alt="Screenshot 2021-03-24 at 14

[2021-03-24 15:11] Norserium commented on #123
@xariusdesai, hello! In other words, you want to get the behavior like `image-restriction: none` but without the possibility to make the image smaller than visible area?

[2021-03-24 15:19] xariusdesai commented on #123
@Norserium thats exactly what I'm looking to do. Is it possible to do currently?

[2021-03-24 15:41] Norserium commented on #123
@xariusdesai, I assume it's possible. Try [this example](https://codesandbox.io/s/vue-advanced-cropper-custom-area-restriction-vlhkx?file=/src/App.vue).

[2021-03-24 16:01] xariusdesai commented on #123
@Norserium thanks for that, I need to make some tweaks depending on my use case but its got me most of the way there!

[2021-03-24 16:01] #123 closed

[2021-03-24 16:04] Norserium commented on #123
@xariusdesai, you are welcome!

[2021-03-26 10:11] msriki12 opened #124 "Store image to server with fixed dimensions"
Hello,

I am trying to use the vue-advanced-cropper to crop an image in my Vue frontend and then store it in the server-side once cropped. My requirement is to store the image in the server with dimensions of exactly 600x400px each one, I am using the stencilSize property to set the stencil size to width="600" and height="400", but when storing the images on the server-side, the dimensions of the

[2021-03-26 12:01] Norserium commented on #124
Hello, @msriki12!

The `stencil-size` prop sets the stencil size limitations (i.e. size of component that displays the cropped area), not the size of a cropped area.

I assume you can implement the desired result by [the setting of the width and height restrictions](https://codesandbox.io/s/vue-advanced-cropper-static-width-height-t0mkg?file=/src/App.vue).

[2021-03-27 10:42] Norserium commented on #122
@arslanhashmi, any news?

[2021-03-29 15:28] Norserium commented on #124
@msriki12, any news?

[2021-03-29 16:32] msriki12 commented on #124
Sorry I didn't have time to try it out. I will keep you up to date! Thank you very much!

[2021-03-30 13:33] TaeyoonKwon opened #125 "File gets to large when convert it to blob."
It seems the file size gets too large after converting the canvas to a blob.

I am using `toBlob()` method as instructed in the documetation.

[code]

`const blob = await new Promise((resolve) => canvas.toBlob(resolve));`

I am currently using stencil to crop the canvas, the result is cropped, so I think the file size should be smaller, but it results bigger. For example, one of my image's origina

[2021-04-02 13:51] Norserium commented on #125
@TaeyoonKwon, did I answer your question?

[2021-04-02 15:44] TaeyoonKwon commented on #125
@Norserium Thank you for the answer. Though it still increases the file size, I understand it is not the conern of the library.

[2021-04-02 15:44] #125 closed

[2021-04-05 18:42] alexfauquette commented on #44
Hi @Norserium ,

Thanks for this super library. I have a problem with CORS.

## My problem
I set the `canvas` props to `false`. However, the <img> is unable to have access to the content due to the `crossorigin="anonymous"`.

## How to reproduce
[code]

An example of URL used :
https://static.openfoodfacts.org/images/products/842/314/800/0015/nutrition_es.3.400.jpg

## suggestion

If I manually re

[2021-04-05 21:37] Norserium commented on #44
@alexfauquette it can be considered as a bug.

I don't see any reason to set `crossorigin` attribute when `canvas` is set to `false`.

I assume that the best decision is the following:
1. I will add `crossorigin` prop that would accept the following values: `false`, `true`, `"anonymous"`, `"use-credentials"`.
2. The default value of `crossorigin` will depends on `canvas` props. If `canvas` is equa

[2021-04-06 06:50] alexfauquette commented on #44
Thanks :)

[2021-04-06 08:24] Norserium commented on #44
@alexfauquette try to update to `1.4.0`.  [The example](https://codesandbox.io/s/vue-advanced-cropper-crossorigin-example-c6db3?file=/src/App.vue). Notice, that for your case you should disable the checking of an image orientation.

[2021-04-06 14:44] alexfauquette commented on #44
It works perfectly :)

[2021-04-06 23:22] Dylan190774 opened #127 "How to start the cropper full size?"
Hi, I can't figure out how to set the cropper to the full width and height of the image from the start.
It always starts with about a 10 percent margin around it.
I'd like to be able to set it to maximum when a new image is loaded, but let the user change it if necessary.

I found the defaultSize, defaultPosition and defaultVisibleArea props quite confusing, since the examples work with size in pi

[2021-04-06 23:34] Dylan190774 commented on #127
Oops, should have searched a bit further.
This seems to work:

[code]
with  an
`              :default-size="defaultSize"`
attribute in the HTML of the cropper

[2021-04-07 07:02] Norserium commented on #127
@Dylan190774, yes, the redefining of default `defaultSize` prop value is the right approach. The default value is [the following function](https://github.com/Norserium/vue-advanced-cropper/blob/0a9af38761e864b81cfafa19f2ba921ce1e017e8/src/core/algorithms/defaultSize.ts#L33). It, indeed, tries to leave 20% margin.

[2021-04-07 11:21] Dylan190774 commented on #127
Thanks, would you consider making the 0.8 value optional through a prop?

[2021-04-07 12:04] Norserium commented on #127
@Dylan190774, I suppose it will be redundant. It's pretty specific case, and if the developer indeed need to set the different percents, he can easily redefine the `default-size` prop.

I have added the example for your case in [the documentation](https://norserium.github.io/vue-advanced-cropper/guides/advanced-recipes.html#default-size-and-position).

[2021-04-07 12:06] Norserium commented on #127
By the way, nice to meet you. How is your progress with [this issue](https://github.com/Norserium/vue-advanced-cropper/issues/109)?

[2021-04-08 06:06] Akhil-bridge opened #128 "Size of cropped image become very big(After cropping)"
Example,
If i have an image with big resolution and small size(120KB), then upload and cropped using vue-advanced-cropper, Then the image size is more than (~) 3Mb. Any solution for it? it seriously affect the performance of my web app. Please help !!

[2021-04-08 07:11] Norserium commented on #128
@Akhil-bridge, I'm not sure that it's the concern of this library. I assume that you converts the canvas to a base64 encoded string by using the method [`toDataURL()`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toDataURL) without setting the first argument `type`.

I can recommend the following:
1. Use [`toBlob`](https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasEl

[2021-04-08 08:40] Norserium commented on #41
I've extended [the uploading example](https://norserium.github.io/vue-advanced-cropper/guides/recipes.html#load-image-from-a-disc) in the documentation to address this issue. I assume it would be helpful in preventing the described problem.

[2021-04-08 08:41] Norserium commented on #128
@Akhil-bridge, take a look at [the updated upload example](https://norserium.github.io/vue-advanced-cropper/guides/recipes.html#load-image-from-a-disc).

[2021-04-08 08:41] Norserium commented on #125
@TaeyoonKwon, take a look at [the updated upload example](https://norserium.github.io/vue-advanced-cropper/guides/recipes.html#load-image-from-a-disc).

[2021-04-08 13:02] Norserium commented on #122
@arslanhashmi I close issue. The described bug should be fixed in last versions. But if it doesn't, feel free to reopen.

[2021-04-08 13:02] #122 closed

[2021-04-08 17:13] Akhil-bridge commented on #128
@Norserium Thanks for your support. As you said its mot am issue with the library. As per you guidance I fixed the issue

[2021-04-08 17:13] #128 closed

[2021-04-10 17:42] eMZetta opened #129 "Cropper appears with way to much 'height'"
I have following problem with implementing the minimal example:

I try to make it exactly according to the served example, but the image appears in the browser only after several scrolls way too far down.

This is a PrintScreen from the browser zoomed out 75%:
![browser](https://user-images.githubusercontent.com/6057036/114279330-5762c600-9a34-11eb-93c9-b8de0f59b841.jpg)

Elements in development t

[2021-04-10 21:29] Norserium commented on #129
@eMZetta, I assume that you didn't load the cropper's styles:
`import 'vue-advanced-cropper/dist/style.css';`

By the way, where did you find this minimal example?

[2021-04-11 12:34] eMZetta commented on #129
That caused not the problem. I've imported the styles.

https://www.npmjs.com/package/vue-advanced-cropper in the 'Usage'-section

  Maybe you need to set the limits for the cropper sizes or its container sizes
  otherwise a cropping image will try to fill all available space
*/

What exactely is meant with this?

[2021-04-11 12:38] Norserium commented on #129
@eMZetta, could you reproduce your problem in codesandbox? Could you provide more source code?

Cropper tries to take all available place for its image. For the used image it's 3698 x 5547.

[2021-04-11 17:57] eMZetta commented on #129
Finally, shame on me, this is embarrassing. I had the wrong path to the style.css file.
After I fixed the path, everything works fine.

I was able to solve it thanks to your reference to the codesandbox. You can reproduce my issue just deleting the import statement of the style.css.

@Norserium Thank you a lot for your support and this great component!

[2021-04-11 17:57] #129 closed

[2021-04-12 09:04] metalsadman opened #130 "How to resize the image result?"

[2021-04-12 14:08] Norserium commented on #111
@Nemesis19, `max-canvas-size` property is deprecated now and it will be deleted soon (as long as it was not documented, in next **minor** releases).

It replaced in `1.5.0` by the possibility to set options in [`canvas`](https://norserium.github.io/vue-advanced-cropper/components/cropper.html#canvas) property.

I.e. this:
[code]

Should be replaced by this:

[code]

Also you can limit maximum widt

[2021-04-12 14:11] Norserium commented on #130
@metalsadman, hello!

 I've added the possibility to limit the result canvas size in `1.5.0` in the [`canvas`](https://norserium.github.io/vue-advanced-cropper/components/cropper.html#canvas) property.  Take a look at the real-time example in ["Resize the result"](https://norserium.github.io/vue-advanced-cropper/guides/recipes.html#resize-the-result) section.

It uses the default canvas image scal

[2021-04-12 14:14] Norserium commented on #13
@matamune94, @lugodev, I've added the possibility to limit the result canvas size in `1.5.0` in the [`canvas`](https://norserium.github.io/vue-advanced-cropper/components/cropper.html#canvas) property.  Take a look at the real-time example in ["Resize the result"](https://norserium.github.io/vue-advanced-cropper/guides/recipes.html#resize-the-result) section.

[2021-04-12 14:33] lugodev commented on #13
Great work @Norserium 👏👏👏

[2021-04-12 14:52] Norserium commented on #25
@zefexdeveloper, just for your information, it's [possible now](https://norserium.github.io/vue-advanced-cropper/guides/recipes.html#resize-the-result).

[2021-04-13 05:08] #130 closed

[2021-04-13 07:58] Norserium commented on #129
@eMZetta, it's okay. You are welcome!

[2021-04-15 06:48] vortechron opened #131 "zoom using slider"
zoomFactor data bind with slider, but it seems not working, the zoom is not smooth. Cant find an example on how to implement it.

[code]

[2021-04-15 07:21] Nemesis19 commented on #111
thank you for you notification!

[2021-04-15 07:40] Norserium commented on #131
@vortechron, I assume, that the problem in the transitions, that obviously are not needed in your case.
[code]
By the way, creating the zoom slider is not a trivial task, because the cropper doesn't has the absolute zoom, it has only the relative zoom. It's deliberate decision because it's obviously unclear what's `1` or `0.5` zoom for different images and different restrictions that could be cust

[2021-04-15 08:08] vortechron commented on #131
perfect, just what I need! tq man @Norserium

[2021-04-15 08:08] #131 closed

[2021-04-16 11:46] vandelpavel opened #132 "TypeError: Object(...) is not a function, TypeError: Cannot read property 'addEventListener' of undefined""
I am using this component inside Quasar framework which is vue based.
I followed the get started proces:
-installed through yarn the vue3 one an also tried the other
-imported both the component and the styles.
-registered the component and used the showed example and i keep getting these errors:

[code]
Any ideas

[2021-04-16 12:20] vandelpavel commented on #132
Solved by reverting the branch.

[2021-04-16 12:20] #132 closed

[2021-04-19 16:34] Norserium commented on #127
@Dylan190774, any news?

[2021-04-19 16:34] Norserium commented on #124
@msriki12, any news?

[2021-04-20 10:48] srinivaas14 opened #133 "How can i mask the cropped region with some color"
Hi @Norserium , the plugin is awesome with so many useful features.
Currently I have a requirement , in which the cropped region of the image should be masked with the color, so please let me know/provide any guidelines to achieve this functionality.
Thanks

[2021-04-20 11:03] Norserium commented on #133
@srinivaas14, could you provide the example of what you want to get? It's not clear now.

[2021-04-20 13:09] srinivaas14 commented on #133
@Norserium ,Sure please check the below images

Original Image:
![2](https://user-images.githubusercontent.com/26761231/115400980-8123a600-a207-11eb-9f50-b7c042c51960.png)

Expected image format after cropping:
![cropped_output](https://user-images.githubusercontent.com/26761231/115401109-a9130980-a207-11eb-809d-7f16fcd37c9a.png)

[2021-04-20 13:51] Norserium commented on #133
If you want to colorize the cropped region after crop, then it doesn't concern of this library. The cropper has done his work. You got the coordinates.

You should do it on your own. There is [the simplest example](https://codesandbox.io/s/vue-advanced-cropper-terminator-eye-pymub).

[2021-04-20 14:07] srinivaas14 commented on #133
@Norserium , I agree with your comment related to functionality. I've checked the given example. Thanks for the help and also for this awesome library.

[2021-04-20 14:08] #133 closed

[2021-04-23 11:16] xperator opened #134 "lagging and slowness when using large photos"
Hey,
First of all, great library. I'm loving it ❤ and actually using it in my first big project which depends on working with lots of images.

I have a huge problem with this library and that is when I use a large photo ( like anything over 2000px or over 2Mb of file size ) the editor gets super laggy and everything becomes super slow. The editor just becomes very unpleasant to use.

I've checked

[2021-04-23 11:23] Norserium commented on #134
Hello, @xperator!

How do you upload that large photos?

It's recommended to use `URL.createObjectURL` to receive the direct link to the file, instead of using `reader.readAsDataURL`. [The example](https://norserium.github.io/vue-advanced-cropper/guides/recipes.html#load-image-from-a-disc) is in the documentation.

[2021-04-23 11:33] xperator commented on #134
@Norserium Thanks for reaching out quickly!

Well I have a "Upload File" button like so:
[code]
and I setup cropper like this:
[code]
And this is my `loadImage` function:
[code]

The method you just mentioned, I thought that is for when using a direct web image url instead of user uploaded image?

[2021-04-23 11:47] Norserium commented on #134
No, it's not. There is real-time example, give it a try with your large images.

[2021-04-23 11:56] xperator commented on #134
@Norserium Yeah I just tried it lots of images and it works flawlessly 😄 ( even with big 15Megabytes photos)
I may be totally off but have you changed the docs recently? I remember the "Load image from a disc" recipe was a bit different when I checked it a while ago.

Anyway I got to figure out how to use the `URL.createObjectURL` in my `loadImage` function.
Thanks for the help ! Great stuff 🚀👏

[2021-04-23 12:04] Norserium commented on #134
Yes, you are right. It was updated 15 days ago.

Why do you need this fragment?
[code]

It's useless. I added the reading file content only to parse the actual file format. If you don't need it, you can short your code:
[code]

[2021-04-23 12:17] xperator commented on #134
Yeah probably didn't need that. I'm respectfully using your code now. Thanks again.

My "issue" is solved for this specific topic so you can close it if you want.
I have an off topic question if you don't mind and have some spare time 😇
I need my users to upload 2 different aspect ratio of the same photo. Like let's say one is a landscape ( 1440x1080 ) and the other has to be portrait ( 500x565 ).

[2021-04-23 12:22] Norserium commented on #134
There is no a definite answer. Two different editors looks like the simplest way, I don't see any crucial disadvantages of this method. As an alternative you can try to change `aspectRatio` dynamically, it will work also.

[2021-04-23 12:52] #134 closed

[2021-04-27 07:28] xperator commented on #134
Hey,
I'm currently having same issue with a few specific images. When I load them in the [example](https://norserium.github.io/vue-advanced-cropper/guides/recipes.html#load-image-from-a-disc) they work fine.
I don't know what is causing the issue. I tried removing all extra css and all extra cropper configuation. The code for loading the image is the same as above.

[2021-04-27 07:37] msriki12 commented on #124
Update: Thanks for the help, now I have my images cropped with the required size, but I have one last doubt.

When I upload an image which is smaller than the minimum size of the cropper, there are some problems. In my case I have set the stencil-size property also fixed to the size of the image I want to crop, and in this case if the image for example is higher enough but the width is less than t

[2021-04-27 08:36] Norserium commented on #134
@xperator, could you provide that specific images? How can I reproduce this error?

[2021-04-27 08:41] Norserium commented on #124
@msriki12, alas, there is obviously a some sort of bug. I will try to eliminate it during this week.

[2021-04-27 08:44] xperator commented on #134
Well I edited my comment earlier, and this seems to be caused by uBlock Origin browser extension. When I disable it and refresh the page, the cropper will work fine with any image.
I'm trying to figure out on how to fix this without disabling uBlock extension

[2021-04-27 08:46] Norserium commented on #134
@xperator, but why it works fine on my example site? What's the difference?

[2021-04-27 08:55] xperator commented on #134
That's what I dont understand either. It's somehow interfering with my local dev site but your public online example site is working just as fine. Maybe either something on your site makes it green so to speak, or something on my part is making uBlock getting picky about it.

[2021-04-27 08:56] Norserium commented on #134
Do you use `https` protocol locally?

[2021-04-27 08:58] xperator commented on #134
No. I never tried to do ssl locally cause I thought it didn't matter.

[2021-04-27 09:00] Shuky opened #135 "Can't remove/change fade from white transition when new image is loaded"
Fantastic library, but the cropper has a fade in animation when loading a new image that cannot be removed or overridden.

[2021-04-27 09:04] Norserium commented on #134
I'm not sure that it's the reason of that lags, but it theoretically may be.

[2021-04-27 11:19] xperator commented on #134
Now disabling uBlock doesn't seem to be working... And it's not working with your online example site either.. I'm trying to figure out what the heck is going atm...
[Here](http://interfacelift.com/wallpaper/D2921381/03935_empireofthealps_3840x2160.jpg) ( I downloaded the 3840x2160 one ) is a link to one of the images if you wanna try it yourself but i'm not sure if it will be reproduced on your s

[2021-04-27 12:20] Norserium commented on #134
@xperator, actually, I figured out the reason. It's internal. You can currently disable `check-orientation` and it will solve your problem. At the same time I will try to deal with it.

[2021-04-27 12:25] Norserium commented on #135
@Shuky, hello! Are you aware, that the image changing will reset the coordinates? I assume that it's the next issue, that you will encounter.

[2021-04-27 12:36] xperator commented on #134
That's good news! 😄👌
Was the image I shared any helpful at least or you figured out the reason by other means?

I was just scratching my head for hours. No wonder this issue occurring was felt random. Sometimes it wouldn't happen, and sometimes it would come back no matter what you changed or tried.

[2021-04-27 12:39] Norserium commented on #134
@xperator, yes it was helpful. It gave a clue. I assume that you encounter this problem with images that has `EXIF`.

[2021-04-27 12:41] Shuky commented on #135
@Norserium hi!
Actually already took care of that by saving to a tmp and updating the cropper on the ready event.

For now I actually hacked a version
Where I manipulate the sourceCanvas field and made a modified version of the “onChangeImage” function that doesn’t set imageLoaded to false.

seems like it did the trick

[2021-04-27 12:44] Norserium commented on #135
Just for curiosity, do the setting of `transitionTime` to `0` fix your issue? Don't even event use it in production, because I will remove this property soon, but it will be helpful if you try it now.

[2021-04-27 13:08] xperator commented on #134
If you don't mind, I also encountered another issue last night. I wasn't sure if I should open up a new topic for this or just comment it here.

The issue is that when I load an image, the width of the cropper exceed all ancestor element widths and it causes layout issues and horizontal scrolling. I'm talking about the dynamically calculated widths that are added in-line to elements like `vue-adva

[2021-04-27 14:08] Norserium commented on #134
@xperator, could you create the codesandbox that reproduces this issue?

[2021-04-27 15:03] Norserium commented on #124
@msriki12, nope, the mentioned bug should not affect your case. I assume you should remove this lines, and it will be okay:
[code]

[2021-04-27 15:13] xperator commented on #134
Give me some time maybe I can put something together. I currently ran into a CORS issue with my app and it doesn't let me login into the page where I had the issue ( Some annoying Nginx/Laravel config issue I believe )

[2021-04-27 15:14] Norserium commented on #134
@xperator, try to login in Firefox.

[2021-04-27 15:19] Norserium commented on #134
@xperator, try to update to `1.5.1`. It should fix the original issue.

[2021-04-27 15:20] xperator commented on #134
No it's not working there either. It's funny cause it was working fine in Chrome at first and it started throwing CORS errors in FF and now Chrome is doing the same thing as well.
I've been working on a Nuxt ( SSR ) + Laravel ( as API backend ) project for few months, but I still haven't got a stable Nginx configuation yet. There are not many tutorials available so I'm just gluing random things to

[2021-04-27 15:20] Norserium commented on #134
Did you try to set `min-width: 0` to the cropper?

[2021-04-27 15:21] Norserium commented on #134
What's the error? What's your configuartion?

[2021-04-27 15:37] xperator commented on #134
No but I will.

The basic idea is to have Nginx to act as a reverse proxy and have it `proxy_pass` all requests to Nuxt at `localhost:3000` except for the `/laravel` path where it should `proxy_pass` that one to laravel side so client can talk to laravel api endpoint.
Because I couldn't figure out a way to have all of these inside a single `server` block, I ended up separating them and have one se

[2021-04-27 15:38] xperator commented on #134
I honestly can't tell if I need CORS or not..? From what I read online I was told to have it configured to work...?

[2021-04-27 15:42] xperator commented on #134
And the error is :
[code]

[2021-04-27 16:16] Norserium commented on #134
You placed your api on the subdomain, so it's different host and CORS is needed.

In this case I don't understand why do you need this fragment:
[code]

[2021-04-27 16:23] Norserium commented on #134
Try to replace this fragment:
[code]

By this fragment:
[code]

[2021-04-27 16:38] xperator commented on #134
Thanks for helping out you're really being nice 😇 ! Well it's acting up atm and `http://example.test/laravel/` is not pointing to laravel endpoint.

[2021-04-27 17:00] Norserium commented on #134
I.e. `http://example.test/laravel/` returns the nuxt application in the browser?

[2021-04-27 17:12] xperator commented on #134
yes. I read I have to remove trailing slash on `proxy_pass http://api.example.test/;` but even so, it throws a :
[code]

[2021-04-27 17:16] Norserium commented on #134
Could you provide the request headers?

[2021-04-27 17:26] xperator commented on #134
General:
[code]

Request Headers:
[code]

[2021-04-27 17:33] Norserium commented on #134
Perhaps, it's loop redirect. Look in `/var/log/nginx/error.log` the last request.

[2021-04-27 17:42] Norserium commented on #134
Could you send the last version of config? For example, this line looks suspicious:
[code]

[2021-04-27 17:46] Norserium commented on #134
Also, fix the mentioned above fragment:
[code]

[2021-04-27 18:09] xperator commented on #134
@Norserium It is working, for now! 😅 Thanks a lot! I was trying tons of different nginx config while you were helping out.
So apparently I had the `proxy_set_header Host $http_host;` added which was one of the issues so I removed it.

Yeah I had that modified before posting it here. I usually change names and ip's and all the environment specific configuration to avoid confusion so we can focus on

[2021-04-27 18:28] Norserium commented on #134
Changing the `Host` cause that proxy request fall into the same server block, but you have backend in the another server block.

By default, `min-width` of flex child is `auto`, that means, that it will preserve its original size. Even if it larger than container.

You are welcome!

[2021-04-27 18:59] msriki12 commented on #124
Thank you very much for your response. I had to make some research but with your help I finally have something working well. I will close the issue.

Thank you again!

[2021-04-27 18:59] #124 closed

[2021-04-27 19:01] Norserium commented on #124
You are welcome!

[2021-04-29 02:48] 9mm commented on #130
Hey @Norserium thats really helpful. Can you let me know what might not suit people about that method? It looks very simple out of the box, but really my only concern is quality. Does it preserve the original image quality at 100%? Other than that I don't need fancy bells and whistles.

Thanks

[2021-04-29 07:32] metalsadman opened #136 "Cropper component inaccessible via ref in composition-api."
In composition api, using a ref on `<cropper />` always results to null, this works in options api.

Please see codepen and check logs in browser devtool.
https://codepen.io/metalsadman/pen/eYgagpO?editors=1010
1. click on to select an image
![image](https://user-images.githubusercontent.com/31038838/116515968-941d3100-a8ff-11eb-9882-407f22e17d3d.png)
2. choose an image
3. check logs to see `cropp

[2021-04-29 08:44] Norserium commented on #130
@9mm, I decided to use the standard canvas image resizing algorithm for a while. When it downscale large images, they may become slightly noisy. There are [examples](https://stackoverflow.com/questions/2303690/resizing-an-image-in-an-html5-canvas).

To increase the quality you can set `imageSmoothingQuality` parameter to `high`:
[code]

Nobody preserves original quality if it comes to a image resi

[2021-04-29 08:49] Norserium commented on #136
Hello!

You forgot to return `cropperRef` in `useCropperData` result.

[code]

[2021-04-29 09:32] metalsadman commented on #136
oops, yes it seem like it works in codepen but oddly in my real project, I can't seem to get the cropper ref, without the workaround. anyway no biggie, the `@change` emitting the canvas is good enough for me atm. thanks.

[2021-04-29 09:32] #136 closed

[2021-04-29 09:34] Norserium commented on #136
@metalsadman I assume that there is another problem in your real project. Ensure that `cropperRef ` is in your component instance (with `null` value at least).

[2021-04-29 10:16] metalsadman commented on #136
yes I do have it, in codepen I just added that `cropperRef` for example, in my real one the reference is just the `cropper` ref, and I tested it again just now and the reference still ends up null. Only difference is the component is called in a plugin that is created in another Vue instance kinda portal like, but it does hold the parent component's context, but yeah like I explained this works ok

[2021-04-29 12:28] Norserium commented on #136
I assume it's the some sort of `QuasarDialog` issue, not this libary. Try to set ref on the other element and you will get the same result.

Anyway I can offer the better workaround:
[code]

[2021-04-29 13:32] 9mm commented on #130
Wow, thats very interesting. Thanks so much. Sorry, 100% is the wrong word, but something very close to photoshop downscaling resampling algorithms.

[2021-04-29 13:32] 9mm commented on #130
I'll have a look at these libraries again, huge help 👍🏼

[2021-04-29 13:42] Norserium commented on #130
You are welcome!

[2021-04-29 14:24] Norserium commented on #136
@metalsadman, I assume that it's combined `quasar` and `composition-api` issue. Somehow ref from `setup` is not passing to string ref (no matter what element).

You didn't load cropper styles in codepen.

[2021-04-29 14:26] metalsadman commented on #136
my bad :facepalm:, which one is it?

[2021-04-29 14:28] Norserium commented on #136
[code]

[2021-04-29 14:30] metalsadman commented on #136
yeah, thanks again.
![image](https://user-images.githubusercontent.com/31038838/116567736-7ae5a600-a93a-11eb-9104-577c425c1529.png)

[2021-04-29 14:32] Norserium commented on #136
You are welcome! Nice result, by the way.

[2021-04-29 23:20] trpx commented on #135
Hi folks, I am encountering the same issue (my use-case is the same - I am changing saturation etc - i.e. implementing a more feature-complete image editor based on this great component).
And setting transitionTime to 0 doesn't fix this completely, there is still a noticeable transition to white and back (although faster).

The white background issue goes away if you set transition: none styles fo

[2021-04-30 08:43] Norserium commented on #135
@trpx, hello!

What do you mean by "pixel-manipulating function"?

[2021-04-30 12:15] Norserium commented on #135
@trpx, @Shuky, I agree that the swapping image procedure should be changed, because it's obviously too rigid now. You can't affect transitions. You can't preserve coordinates, visible area or image transforms.  I do agree, but I'm not sure that I have spare time to redesign this complicated aspect of the library right now.

It's the bad news. But I have good news at last. There is the nice **worka

[2021-05-01 21:58] stylefieber commented on #130
Thank you for that great component. I also struggle with downscaling quality. Am I right, that I would have to implement the cropping and resizing completely again to be able to use one of that libraries?

[2021-05-01 22:00] Norserium commented on #130
@stylefieber, could you provide the example of quality decreasing? Did you try to set the `imageSmoothingQuality` parameter to high?

[2021-05-01 22:08] Norserium commented on #130
There is [the example](https://codesandbox.io/s/vue-advanced-cropper-resize-image-0vpx6?file=/src/App.vue) of image resizing using [the external library](https://github.com/nodeca/pica).

[2021-05-01 22:21] 9mm commented on #130
On chrome at least that example seems to not keep the original proportions

[2021-05-01 22:22] stylefieber commented on #130
@Norserium
![image](https://user-images.githubusercontent.com/13904842/116796370-1b270080-aadc-11eb-8b73-f249a1e71f99.png)

here is an example with imageSmoothingQuality set to high. Unfortunately very noisy.

Thank your for the example. I have a look.

[2021-05-01 22:43] Norserium commented on #130
@9mm, I've fixed the example. Take a look.

[2021-05-02 00:55] 9mm commented on #130
@Norserium awesome, thanks! I'm about to be working on this this weekend, I appreciate these awesome examples.

Off the top of your head, do you know which of these optional resize libraries which use better algorithms than canvas perform best? If you aren't sure I planned to just try a bunch of them, but I wasn't sure if one stood out far above the rest as far as quality (speed not as important i

[2021-05-02 08:54] Norserium commented on #130
@9mm, alas, I can't answer your question, because I didn't compare this libraries. I advice you to play with [the library options](https://github.com/nodeca/pica#resizefrom-to-options---promise) to get the result similar to, as you said, results of Photoshop's scaling. The developers helpfully published [the guide](https://github.com/nodeca/pica/wiki/Unsharp-params-in-popular-softare) for it.

Aft

[2021-05-02 09:02] Norserium commented on #130
@9mm, I've tried the options for Photoshop and, frankly, it looks pretty different. So I play around with settings and get something more similar, take a look at [the example](https://codesandbox.io/s/vue-advanced-cropper-resize-image-0vpx6?file=/src/App.vue).

[2021-05-02 12:40] stylefieber commented on #130
@Norserium So it's okay with pica now. But, of course, now I have to calculate the width and height and so on by my self. Before, your component did this for me by defining min and max width/height.
Maybe you could think about implementing pica in your code, so that there is no need for custom code. I guess the image quality when resizing is one of the most important aspects when using a cropper.

[2021-05-02 13:31] Norserium commented on #130
Could you explain, why it's the problem if you use external library anyway?

It's too heavy ([28.5 kB](https://bundlephobia.com/result?p=pica@6.1.1), almost the half of this library), so I'm not sure, that it worth a shot.

By the way, I fixed the passing options parameter to the context, so the quality setting was repaired. Try to update to `1.5.2`.

[2021-05-02 15:54] 9mm commented on #130
Awesome! Thanks for that code .. I'm having a look at this today and I'll report back after a lot of testing.

I also found this for anyone browsing this thread, it has some great info in it: https://stackoverflow.com/questions/18922880/html5-canvas-resize-downscale-image-high-quality

[2021-05-02 16:46] Norserium commented on #130
@9mm, try also the last version in your tests.

[2021-05-03 20:35] 9mm commented on #130
One fast question, does `getResults()` always return base64? I don't need to support old browsers so I was wondering if there were a way to continue working with blobs (for performance + memory reasons).

Looking great so far, still working through these 😎

[2021-05-03 23:28] 9mm opened #137 "Mime-Type Problem"
Hello,

I'm following the directions from here: https://norserium.github.io/vue-advanced-cropper/guides/recipes.html#load-image-from-a-disc

But the mimeType seems to always be blank. Specifically here:

    const byteArray = (new Uint8Array(file)).subarray(0, 4);

This will always return `[]` from what I find. Do you have any idea what might be the problem? In your code, the format of `file` is..

[2021-05-04 00:38] 9mm commented on #137
I believe this line:

[code]

needs to be changed to `reader.readAsArrayBuffer(files[0]);`

[2021-05-04 00:38] #137 closed

[2021-05-04 10:00] Norserium commented on #137
@9mm, the example is fixed now. Thank you.

[2021-05-04 14:48] stylefieber commented on #130
@Norserium The fix for "imageSmoothingQuality" seems to work. The quality is much better now, even without pica.

Anyways - it could be implemented as optional module, so that you only add the overhead when really needed.
Maybe you could add the "imageSmoothingQuality" to the docs.

[2021-05-04 15:16] Norserium commented on #130
@stylefieber, actually, I set its default value to `'high'` in the last version. And it's documented in [the corresponding documentation section](https://norserium.github.io/vue-advanced-cropper/components/cropper.html#canvas).

[2021-05-04 15:20] 9mm opened #138 "How to achieve this cropper?"
Hey, I really love this cropper so far - excellent work (I'm using the Vue 3 version).

I have it about 80% to my liking but there are 2 areas I'm still investigating and I'm wondering if you could give your expert opinion on how to solve this.

1. How can I completely disable all zooming? All the examples I find from other issues still have zooming. I just want to disable it all (which leads to p

[2021-05-04 15:24] stylefieber commented on #130
Oh okay? Could it have been a bug, that the parameter was not correctly recognized or so?

I just had a look. You're right. But it seems that I did not set "imageSmoothingEnabled". Was it default "false" in the previous version?

[2021-05-04 16:01] Norserium commented on #130
The parameters `imageSmoothingEnabled` and `imageSmoothingQuality` were not passed to context at all.

[2021-05-04 16:06] Norserium commented on #138
Could you explain what it means? You can disable zoom by touch and mouse wheel. Yes, it won't guarantee that any possible zoom will be disabled, but at least something.

[2021-05-04 16:08] 9mm commented on #138
Basically the image should never change size. It's just a fixed image. In my gif, even though you can't see it, I'm moving the scroll wheel and the image is not changing size.

This also means however that the whole cropper needs to be visible at once so they can access all areas of it.

Did I explain it better?

[2021-05-04 16:21] Norserium commented on #138
Thanks. I assume, that you encounter the problem when cropper "cuts" some parts of image instead of reducing its size?

[2021-05-04 16:25] 9mm commented on #138
No, I haven't even gotten to the part where I use the cropper output, I'm still just styling it. The problem is I literally just dont want the image to get bigger and smaller as I think it's very jarring to the user experience. It offers a higher granularity of cropping at the cost of things moving too much and being disruptive (for my use case anyway).

I always want the image to fit on the scree

[2021-05-04 16:43] Norserium commented on #138
@9mm, I assume you want to obtain [this behavior](https://codesandbox.io/s/vue-advanced-cropper-static-visible-area-yjdgx?file=/src/App.vue)?

[2021-05-04 16:44] 9mm commented on #138
Yes!! Thats awesome! I have one more (way more fun) challenge but let me add it into your code sandbox.

[2021-05-04 16:45] 9mm commented on #138
You are like the crop 👑

<img src="https://media.giphy.com/media/K55exy0toWjQc/giphy.gif">

[2021-05-04 16:50] Norserium commented on #138
Ironically, but a long time ago something like it was the default behavior (when zoom was not supported at all).

[2021-05-04 16:52] 9mm commented on #138
ha 🤣

I'm just modifying this code sandbox quick to show you something

[2021-05-04 17:27] 9mm commented on #138
Ok I edited this code sandbox to show my use case. Its supposed to be emulating a modal popup.

Theres 2 things I'm trying to achieve:

1. The modal seems to be taking up 100% vertical and horizontal space whenever possible. I want those to be max-widths and not actual widths. I'm trying to get the modal to simply match the size of the image when possible (see my original gif, how the modal always

[2021-05-04 18:48] Norserium commented on #138
I don't get it.

You have set:
[code]

[2021-05-04 18:50] 9mm commented on #138
Thats simply the wrapper which contains the modal, not the modal itself. The `.wrapper` class typically has a 50% opacity background so the user can't click other elements, and it must be full size.

It's the `.modal` box which is the actual modal itself which needs to center within that 100% w/h space, and only take up as much room as it needs.

If the wrapper were not 100% width and height then

[2021-05-04 18:53] Norserium commented on #138
It's a tough one. I can offer you only [a workaround](https://codesandbox.io/s/vue-advanced-cropper-static-visible-area-forked-wf3su?file=/src/App.vue) now. Moreover, conceptually, all solutions that I see will look similar.

[2021-05-04 18:56] Norserium commented on #138
Could you draw some examples, that illustrates your desired result?

[2021-05-04 18:56] 9mm commented on #138
Wow the background workaround is incredible, that's perfect. And sure, let me draw.

[2021-05-04 19:02] 9mm commented on #138
# Example 1 (image with transparency)

## ACTUAL:

![image](https://user-images.githubusercontent.com/1386207/117055545-1dea4700-acd0-11eb-808d-16e9ae0adadc.png)

## GOAL:

![image](https://user-images.githubusercontent.com/1386207/117055503-1034c180-acd0-11eb-9877-a32ccd128159.png)

# Example 2 (image with no transparency)

## ACTUAL:

![image](https://user-images.githubusercontent.com/1386207/11

[2021-05-04 19:11] 9mm commented on #138
One more example where small images already work correctly (images which don't need to be resized to fit within the browser window)

![image](https://user-images.githubusercontent.com/1386207/117057015-ce0c7f80-acd1-11eb-872a-984578c55f1f.png)

[2021-05-04 19:21] Norserium commented on #138
Try [this](https://codesandbox.io/s/vue-advanced-cropper-static-visible-area-forked-4z325?file=/src/App.vue).

[2021-05-04 19:47] 9mm commented on #138
🙏🏼 🙏🏼  Dude you are Legend 🙏🏼 🙏🏼

Do you have one of those links where I buy you a coffee?

[2021-05-04 19:48] 9mm commented on #138
I will try it out shortly, it looks really close if not dead on at first glance 😆

[2021-05-04 19:52] Norserium commented on #138
Currently there is no such link. But thank you for the wish.

[2021-05-04 22:07] 9mm commented on #41
I'd also like to add to this for anyone reading this that you should also pass the 3rd argument of `toBlob` for image quality. It says "any value between 0 and 1" however it doesn't say if its inclusive of 1 or 0.99 only.

[2021-05-04 22:13] 9mm commented on #41
It seems that its inclusive of 1 even though it says "between", so a value of `1` is 100% quality. One oddity is I notice setting it at `0.99` results in enormous drop in file size...

[2021-05-05 01:01] 9mm commented on #138
You are so awesome, I am eternally grateful. Both solutions work perfectly.

![](https://media.giphy.com/media/fDzM81OYrNjJC/source.gif)

Only one small revision for anyone that finds this, the bottom line of last example should be this instead:

    stretcher.style.height = `${cropper.clientWidth / ratio}px`;

[2021-05-05 10:58] Norserium commented on #138
@9mm, yeah, it's misspell. Fixed.

[2021-05-06 15:31] Norserium commented on #138
I assume the issue may be closed?

[2021-05-06 15:31] 9mm commented on #138
Yeah! It works really, really well. Thanks so much, you are the bomb 😎

[2021-05-06 15:31] #138 closed

[2021-05-06 16:31] Norserium commented on #138
You are welcome!

[2021-05-08 20:31] Norserium commented on #127
I close the issue. Feel free to reopen if necessary.

[2021-05-08 20:31] #127 closed

[2021-05-08 20:32] Norserium commented on #109
I close the issue. Feel free to reopen if necessary.

[2021-05-08 20:32] #109 closed

[2021-05-15 12:51] innocenzi opened #139 "Cropping GIFs"
Loading GIFs into the cropper doesn't seem to be an issue, but I am having trouble getting the cropped results for each frame.

Calling `getResult().canvas` on the cropper seems to always render the first frame of the GIF. My idea was to make `vue-advanced-cropper` render each cropped frame of the GIF (I don't know how yet), and make `gif.js` (an old library for making GIFs) do the work of putting

[2021-05-15 12:58] Norserium commented on #139
@innocenzi, well, you have the coordinates (`coordinates`), you have the image transforms (`imageTransforms`) and you have the image. You just need to find the way how to crop GIF using this information.

There is, for example, [the gif cropper](https://github.com/wmlgl/cropperjs-gif). Perhaps you can pick up some ideas.

[2021-05-15 13:54] innocenzi commented on #139
Thanks, those are useful information. I was initially thinking to get support for getting specific frames from `vue-advanced-cropper`, but it doesn't really make sense actually.

I'll go with the coordinates and transforms and find a way to do so. Thanks again!

[2021-05-15 13:54] #139 closed

[2021-05-24 01:31] laodc commented on #93
I am also having this issue. I used your example above, i also added Preview to it. But I don't know how to set it up to have this.$refs.cropper.refresh() trying to read up docs on @types and the fact all existing ones i was looking at all do things insanely different i can't wrap my simple head around how to add support for some of the functions here.

[2021-05-24 11:00] Norserium commented on #93
@laodc, I assume that you use Vue 2 and the options API and don't use any Vue typing libraries.

In this case the most simple solution is the following:

1. Add the `getResult` method to your shims file ([example](https://gist.github.com/Norserium/9a46ae4c5c68491131be2f7eb7859557)).

2. Then you can use the following code:
[code]

It feels like a workaround, but it's the popular option.

[2021-05-24 12:57] laodc commented on #93
correct, correct, and correct. I had taken over a project so had to use what was available without having to recode the whole thing.

I will give the above a try, thanks, really appreciate the quick reply.

[2021-05-26 10:47] Norserium commented on #96
This issue seems not actual by now. Closed.

[2021-05-26 10:47] #96 closed

[2021-06-02 00:11] drlim29 opened #141 "How can I apply filtering to an image?"
Hi, I would like to know how to apply filtering on image.

- How can I apply filtering to an image?
- After I edit the `canvas` then rotate it, it is restored to original one.
   May I know what is the issue with it?
- I would like to apply grayscale to an image, Please let me know how.

[2021-06-04 11:03] Norserium commented on #141
@drlim29, any news?

[2021-06-08 13:23] kostaskoukouvis opened #142 "Feature Request: Fill image background with specific color"
Awesome tool! Would it be possible to add a prop to fill the cropped image background with a specific color?

Currently if you zoom out of the image and crop part of it the rest of the resulting image will be transparent. It would be nice if there was an option to fill that space with a color, probably with a prop sent to `canvas`?

Essentially that would require changing the `updateCanvas` functi

[2021-06-08 15:01] alejandri opened #143 "Cannot read property 'toDataURL' on canvas=false"
Hi, on this great package. I have a problem with Cors t show image from server, then I set attr canvas="false". With this solve image display. But I want save img, All examples are based on canvas object. How I can save cropped img?

      <cropper
            ref="cropper"
            class="cropper"
            :src="avatar"
            :canvas="false"
            :transitions="true"

[2021-06-08 18:52] Norserium commented on #143
@alejandri, you can't. If the response doesn't have appropriate `Access-Control-Allow-Origin` header, you can't retrieve the image content in the browser by security reasons.

There is [the CORS guide](https://norserium.github.io/vue-advanced-cropper/guides/cross-origin.html#introduction) in the documentation. I hope it will be helpful for you.

[2021-06-09 06:51] kostaskoukouvis commented on #142
Dude! You rock! Thanks a lot!

[2021-06-09 06:51] #142 closed

[2021-06-09 09:25] Norserium commented on #142
@kostaskoukouvis, you are welcome!

[2021-06-18 14:27] KLala94 opened #146 "More lines and handlers in specific place"
Hello, I am Klala.
I like the documentation and the cropper.
But i want to have two more lines in the middle.
i tried the:
[code]

Is there a way to achieve this?
Thanks in advance.

[2021-06-18 14:29] Norserium commented on #146
@KLala94 do you have a picture of the desired result?

[2021-06-18 14:36] KLala94 commented on #146
![Screenshot from 2021-06-18 16-34-47](https://user-images.githubusercontent.com/33783714/122577620-4b5a3c80-d053-11eb-91c6-3b61275cac4f.png)
the two lines in the middle are what i need.

[2021-06-18 14:47] KLala94 commented on #146
![Screenshot from 2021-06-18 16-46-13](https://user-images.githubusercontent.com/33783714/122579003-bfe1ab00-d054-11eb-9a5c-cf4ab3f7964c.png)

I did this with duplicating nodes.
I want to control the middle lines and handlers with a class and have them be one or two on conditions.
Thanks for your time.

[2021-06-18 14:50] Norserium commented on #146
Should the middle lines and the corresponding handlers be interactive? If so, what happens with the stencil when an user interacts with them?

[2021-06-18 14:57] KLala94 commented on #146
they are only to be visually.

[2021-06-18 14:58] KLala94 commented on #146
i just want to have the posibility to see them in different spacing

[2021-06-18 15:08] Norserium commented on #146
It may mislead an user, that will try to move middle handlers. They looks just like the other handlers, but they are static.

[2021-06-18 15:18] KLala94 commented on #146
then maybe just the lines, so that they will be visible.
i need to show that the image could be shown in parts, something that i am still making, the preview will have those lines and i wanted to be on the cropper too.
Thanks

[2021-06-18 15:27] Norserium commented on #146
I didn't understand it. The lines are placed on preview on the examples above.

[2021-06-18 15:31] KLala94 commented on #146
i made that picture with developent tools of mozilla, by duplicating the lines, i want them on the cropper and on the image shown after the cropper changes. Am i misunderstanding something?
I will make them in the picture, but have no idea on the cropper.
The lines position would be on the ideal changed by a class.

[2021-06-18 16:03] Norserium commented on #146
I still don't get the idea. Let's try the another approach. What's wrong with [this example](https://codesandbox.io/s/vue-advanced-cropper-custom-stencil-nhxf2)?

[2021-06-18 16:06] KLala94 commented on #146
i am still looking at it, but i think this may work.
Thanks, you may close this issue.

[2021-06-18 16:08] Norserium commented on #146
@KLala94, it can be used to illustrate your idea more clearly. What do you want to change in it?

[2021-06-18 16:19] KLala94 commented on #146
i am about to change the top only, but thanks, no need to worry anymore.

[2021-06-18 16:34] Norserium commented on #146
@KLala94, you are welcome!

[2021-06-18 16:34] #146 closed

[2021-07-15 07:31] alexdpts opened #147 "Zoom, and Cropper size."
How can i bind Zoom on mouseWheel+key (eq. Shift+mouseWheel)?
How can i Resize Cropper height after zooming image to image size after zooming (eq. if zoomed image height > Cropper height)?

[2021-07-15 08:53] Norserium commented on #147
Hello, @alexdpts!

And prevent zoom on mouse wheel?

Could you provide any example? It's not clear what you want to get.

[2021-07-16 12:16] luckydonald commented on #147
Yes, that automatic zooming is a unwanted behavior here as well.

[2021-07-16 12:38] luckydonald opened #148 "Retrieve image dimensions of the loaded image"
I couldn't find a way to get the size of the image from the cropper.

As I do the actual logic server side on a aberiatary image, and the croper working on a scaled down version, I don't have the information available of how big the image is, in term of with and height.

Therefore, having the information about 10px from the top and 50px wide on a image with unknown size isn't really helpful.

Righ

[2021-07-16 13:01] Norserium commented on #148
@luckydonald, hello!

I don't understand. Do you crop the image on server-side? In this case you can get the image size on the server-side also.

Also the `getResult` method returns the following object:
[code]

There is the image width and height.

[2021-07-16 13:08] Norserium commented on #147
@luckydonald , what an automatic zooming?

[2021-07-16 15:10] luckydonald commented on #148
**Use case:**
I am actually have a pdf file server side.
Some tool then spits out a png with a size in pixels I can't predict.
The vue app loads that, allows to cut it and then the crop button does send x,y,w,h and original image w,h to the sever so it can calculate what that means for the PDF.

Ah, the documentation said
Returns:
The object: `{ coordinates, imageTransforms, visibleArea, canvas }`

[2021-07-16 16:11] Norserium commented on #148
Indeed, but I fixed the documentation after your message.

[2021-07-16 17:03] Norserium commented on #148
@luckydonald, does it solve your problem?

[2021-07-17 02:05] alexdpts commented on #147
Bind zoom on key+mouseWheel, and leave normal page scroll on mouseWheel.

For example:https://norserium.github.io/vue-advanced-cropper/introduction/getting-started.html#minimal-working-example
Cropper container has fixed size. When i zoom image, container size not change. As result, if zoomed image size over than cropper container size, i can't select parts of image that are outside of container.

[2021-07-17 08:05] Norserium commented on #147
@alexdpts, alas, it's not supported native (just like in the other available cropper alternatives). You can try to get around this with some sort of a workaround, but I need more details to advice something.

What if the container can't become larger? For example, it has the same width as the window width?

[2021-07-17 09:53] Norserium commented on #147
@alexdpts, alas, there are problems with implementation the last requirement. It looks like it impossible to do right now without the significant code changes.

For the other ones I wrote [the simple workaround](https://codesandbox.io/s/vue-advanced-cropper-resize-shift-key-8s0mo?file=/src/App.vue).

[2021-07-19 00:57] alexdpts commented on #147
I try to show on some simple pictures:
1. at start we have page with cropper container contains image, yellow rectangle - area we need
![01](https://user-images.githubusercontent.com/17212759/126087829-6b47930b-5817-4ad1-a39d-3152f8526071.jpg)
2. we roughly choose area with stensil
![02](https://user-images.githubusercontent.com/17212759/126087954-065b2cb1-5a4b-4a35-b466-ce8800d26e17.jpg)
3. For s

[2021-07-19 08:18] Norserium commented on #147
@luckydonald thanks for the detailed response. I understand the concept, but it looks unusual. Did you encounter any real cropper example that implements it?

[2021-07-20 00:14] alexdpts commented on #147
i try https://github.com/timtnleeProject/vuejs-clipper that implements this (with some css corrections), but yjat can't flip image.

[2021-07-20 10:19] Norserium commented on #147
@alexdpts, I'm sorry, but I didn't see the real difference in the behavior of my cropper and `vuejs-clipper`. Could you give the link to the example, that can't be implemented in my cropper?

[2021-07-20 10:28] vedmant opened #149 "Default example results to 0 height of component"
Hi, I just used default example, here is my component:

[code]

When I select image cropper has 0 height:
![Profile 2021-07-20 13-27-45](https://user-images.githubusercontent.com/5052406/126309026-8e70ce1a-f7f5-4925-b0e3-d2dcc571ad00.jpg)

[2021-07-20 11:17] Norserium commented on #149
@vedmant, the `src` attribute receives an url to an image, `dataURL` or `blob`, not an image file itself.

Take a look at [the sandbox example](https://codesandbox.io/s/vue-avanced-cropper-basic-jfy5w?file=/src/App.vue).

[2021-07-20 11:26] Norserium commented on #141
@drlim29, I close the issue. Feel free to reopen.

[2021-07-20 11:26] #141 closed

[2021-07-20 11:26] Norserium commented on #143
@alejandri, I close the issue due inactivity. Feel free to reopen.

[2021-07-20 11:26] #143 closed

[2021-07-20 11:27] Norserium commented on #148
@luckydonald, any news?

[2021-07-20 11:32] vedmant commented on #149
@Norserium I tried blob, but still can't make it work, height is 0. Can it be that initially there is no image selected and I don't show cropper `<div v-if="image.src">`.

Here is still not working code based on the example:

[code]

[2021-07-20 11:50] vedmant commented on #149
Here I have 0 heights in cropper dom:
![Profile 2021-07-20 14-49-44](https://user-images.githubusercontent.com/5052406/126318965-317f4b40-1c5c-4e1b-aad3-3ce2b3e9bfb6.jpg)
But image blob is loaded:
![Profile 2021-07-20 14-50-32](https://user-images.githubusercontent.com/5052406/126319055-479daa4f-834c-4e31-8d12-8dd575a1ef1d.jpg)
Weird that there is no errors.

[2021-07-20 11:54] Norserium commented on #149
It shouldn't be a problem. But you can try to show cropper always and look if it works.

[2021-07-20 12:10] vedmant commented on #149
@Norserium I use  "vue-advanced-cropper": "^1.7.0", something weird is happening here, even when I set src to a url:
[code]

I see src is null on Cropper component in dev tools:
![Profile 2021-07-20 15-08-54](https://user-images.githubusercontent.com/5052406/126321300-5a746048-bcab-466a-84be-fe71791fd7c8.jpg)

[2021-07-20 12:39] Norserium commented on #149
@vedmant, could you sent me the full html code of [the fragment](https://user-images.githubusercontent.com/5052406/126318965-317f4b40-1c5c-4e1b-aad3-3ce2b3e9bfb6.jpg)?

[2021-07-20 12:56] alexdpts commented on #147
I make example. See at http://f0508697.xsph.ru/

try load any big vertical image.

at left hand - vue advanced cropper
at right - vuejs-clipper

[2021-07-20 13:20] Norserium commented on #147
@alexdpts, thank you very much for the example. Your issue is now clear to me.

The cropper just tries to be responsive and itself in the limited area (`vacCell`). It is the useful feature for many different use-cases.

You can redefine this behavior by [`updateBoundaries` prop](https://norserium.github.io/vue-advanced-cropper/components/cropper.html#defaultboundaries) to achieve the exactly same

[2021-07-20 13:32] alexdpts commented on #147
Thank you. I will try. Sorry to waste so much of your time

[2021-07-20 13:49] Norserium commented on #147
@alexdpts, try [this example](https://codesandbox.io/s/vue-advanced-cropper-custom-stretcher-18mvp?file=/src/App.vue). It should provide the better user experience than `vue-js-clipper` for horizontal images.

[2021-07-20 17:47] vedmant commented on #149
@Norserium Do you mean this:

[code]

[2021-07-20 18:41] Norserium commented on #149
@vedmant yes. Is this code a generated result of [this template](https://github.com/Norserium/vue-advanced-cropper/issues/149#issuecomment-883341894)? It's pretty hard to say, what the problem do you have. You should try to clear your code as much as possible, because I'm sure that the problem somewhere in your code. To start disable, for example, all your styles.

[2021-07-23 08:33] Norserium commented on #149
@vedmant, any news?

[2021-07-23 08:34] Norserium commented on #147
@alexdpts, any news?

[2021-07-23 08:36] vedmant commented on #149
@Norserium Hey, sorry, I think it's something related to my project setup, the same components works ok in the fiddle, but I can't find the issue for now, it's hard to debug Vue js internals to see why src prop is not passed. I'll try use other cropper. Thanks for your help, I really appreciate this.

[2021-07-23 08:39] Norserium commented on #149
@vedmant, I have some spare time to look via Team Viewer what's the reason of this issue. So if you ready, write me an email (it's in the profile) with the access details and convenient time (UTC).

[2021-07-23 08:45] vedmant commented on #149
@Norserium Thanks, I'll send you message!

[2021-07-23 13:40] Norserium commented on #149
@vedmant, notify me here, when you send the message.

[2021-07-26 05:28] alexdpts commented on #147
Hello. Have some.

The example with updateBoundaries works great within my markup (when cropper-wrapper is a flex cell) and set position:absolute;max-height:none; to cropper container .

When trying to add (or replace with) the last example, need to wrap the cropper with a block with
position: absolute; left: 0; top: 0; (otherwise, a third of the images goes beyond the upper border of the flex cel

[2021-07-26 10:01] Norserium commented on #147
@luckydonald what do you mean by "cropping takes some time"? Could you provide the video example?

Speaking of examples, could you provide the source of your example, that you posted above?

[2021-07-27 04:54] alexdpts commented on #147
https://user-images.githubusercontent.com/17212759/127096611-bdd8eaae-9857-4609-89f4-b6fff316f054.mp4
(Clicking on a button occurs immediately on hover)
click handler source:
[code]

Its your examples:
[updateBoundaries](https://codesandbox.io/s/vue-advanced-cropper-custom-boundaries-algorithm-d8knq)
and
[for horisontal images](https://codesandbox.io/s/vue-advanced-cropper-custom-stretcher-18mvp?f

[2021-07-27 09:07] vedmant commented on #149
@Norserium Hey, I sent an email to you.

[2021-07-27 09:30] Norserium commented on #147
(Clicking on a button occurs immediately on hover)
click handler source:

Thanks. I assume, that it should be implemented on your side. You can add the indicator right before calling the `getResult` method, and hide it in the end of the handler (it should be possible, because all the operations in your handler are synchronous).

But I don't recommend to implement the preview in this manner.

First

[2021-07-27 09:38] Norserium commented on #149
@vedmant, I gave the answer.

[2021-07-27 10:05] Norserium commented on #149
It is somehow related to https://github.com/Norserium/vue-advanced-cropper/issues/51.

I will reopen that issue and close this. @dminchev workaround works, but it's need to investigate why.

[2021-07-27 10:05] #149 closed

[2021-07-27 14:49] Norserium commented on #51
@dminchev, @leadbro, @CavalcanteLeo did you use [`nuxt-lazy-load`](https://www.npmjs.com/package/nuxt-lazy-load) library in your projects?

During the investigation I've found that this library uses `string-replace-loader` internally. This library replaces strings in the contents loaded by the loader.

The rules are [here](https://gitlab.com/broj42/nuxt-lazy-load/-/blob/master/lib/module.js#L33):

[2021-07-27 15:08] Norserium commented on #149
@vedmant there are [the details of investigation](https://github.com/Norserium/vue-advanced-cropper/issues/51#issuecomment-887577980), just in case.

[2021-08-06 23:15] Norserium commented on #93
I've added the basic typescript definitions in `1.8.0` and `2.6.0` versions. This issue is the best place to notify about any bugs and to offer any suggestions, so I will leave it open for a while.

[2021-08-07 06:05] laodc commented on #93
It works great, my only request is can you add the Preview methods as well?

[2021-08-07 10:06] Norserium commented on #93
@laodc, actually there is only one public method: `refresh`. But, yes, I forgot about it. I will add it now.

[2021-08-07 10:19] Norserium commented on #93
@laodc, I've published `1.8.1` and `2.6.1` with the updated typings.

[2021-08-07 10:23] Norserium commented on #147
@alexdpts, any news?

[2021-08-07 10:24] Norserium commented on #148
I close this issue. Feel free to reopen if you encounter this problem in the future.

[2021-08-07 10:24] #148 closed

[2021-08-09 15:05] luckydonald commented on #148
@Norserium, yes, mentioning what I was looking for in the docs was all I needed. Thanks!

[2021-08-11 04:20] alexdpts commented on #147
Not yet. No time. Later.

upd. Hmm. Start to make example, and all works fine (no errors in console). So somewhere I have a bug in my code. I will look for.
Thanks for your time and for great component.

[2021-08-13 18:51] andersevenrud commented on #93
The typings in `2.6.1` for Vue v3 is not working correctly. AFAIK you can't do `import Vue from 'vue'` anymore. Also, I don't know how well class components plays in v3.

I currently have a shim to work around this:

[code]

[2021-08-13 21:16] Norserium commented on #93
@andersevenrud, thanks for the report. Try to update to `2.6.3` version.

[2021-08-13 21:24] andersevenrud commented on #93
@Norserium That seems to have done the trick. Thank you so much for the quick response on this!

[2021-08-13 21:33] Norserium commented on #93
@andersevenrud, thank you for pointing this issue. It was a fatal mistake.

[2021-08-18 08:28] Lejla94 commented on #104
Hello friends.
I want to achieve the same thing.
When the aspect ration changes the stencil should be max width or height. By changing width and height.
But i do not want the autozoom to move the picture left and right when the stencil moves.
I saw the codesandbox and left only the autozoom. When i change dimensions it is fine, but i do not want the cropper to move the image.
So the image should b

[2021-08-18 09:59] Norserium commented on #104
@Lejla94, sorry but it's not clear what you want to get. Could you show example of such behavior or draw something?

[2021-08-18 10:23] Lejla94 commented on #104
Goal: When i change the aspectRatio the stencil should fit the width or height on the whole picture. Then the user can move the stencil to become smaller or choose another part.
Currently: When someone changes aspectRatio or widht and height, the stencil makes it smaller until it reaches the minimum height or width.
Problem: On the codesandbox you provided, i can do this with the autozoom prop. Bu

[2021-08-18 11:06] Norserium commented on #104
@Lejla94, well, let's try to clear it by examples. Is [this example](https://codesandbox.io/s/vue-advanced-cropper-new-autozoom-p4y1h?file=/src/App.vue) more close to your desired result?

[2021-08-18 11:10] Lejla94 commented on #104
The Problem is that when the stencil changes size then it zooms.
I want it full size. when i dynamically change the aspect ratio, then the stencil should fit the image, but with the needed aspect ratio.
Sorry for not being clearer.

[2021-08-18 11:12] Lejla94 commented on #104
it should fit the image when the aspect ratio changes. When the stencil resizes the image should not move.

[2021-08-18 11:20] Lejla94 commented on #104
The Stencil take the whole width or height when aspect ratio changes: like this picture
![Screenshot from 2021-08-18 13-18-44](https://user-images.githubusercontent.com/39634562/129889394-21ef54c1-4e77-4831-ab0b-3d49d6ae9e8f.png)

Or could be resized without changing the zoom or picture:
![Screenshot from 2021-08-18 13-19-08](https://user-images.githubusercontent.com/39634562/129889451-04d9ed69-03

[2021-08-18 11:23] Norserium commented on #104
@Lejla94, I still don't understand, what do you mean by "aspect ratio changes". Is it static and changed by the external field? Otherwise, it can be changed on every slight resize.

[2021-08-18 11:25] Lejla94 commented on #104
the aspect ratio changes based on the numbers given.
E.x. The part of the width or height that dynamically sets aspect ratio.
But when this happens the stencil expands to the full image based on that.

[2021-08-18 11:50] Norserium commented on #104
@Lejla94, check [this example](https://codesandbox.io/s/vue-advanced-cropper-aspect-ratio-dtx0m?file=/src/App.vue). I'm not sure, that it's the desired result, because it looks too simple.

[2021-08-18 12:03] Lejla94 commented on #104
At least it is better then before, i am gonna use this and see what else can i do.
Thanks a lot. I gave a star to the project.

[2021-08-18 12:04] Norserium commented on #104
@Lejla94, let's end with it. What's wrong now? The screenshots would be very helpful.

[2021-08-18 12:46] Lejla94 commented on #104
A question. :default-size="fullImage" is the start size or what?

It just does not work well at me, i am going to debug and see what my error is.
![image](https://user-images.githubusercontent.com/39634562/129900268-b6ce5250-ff64-4e08-9288-c3b61a3cc400.png)

It seems working the same as if the default size is or is not there.

[2021-08-18 12:48] Norserium commented on #104
@Lejla94, yes it's. Do you have limitations for maximum width and maximum height?

[2021-08-18 12:53] Lejla94 commented on #104
I should not spend you more time. I am gonna implement this, but if it is the case i will create a github repo for example.
The inputs can not take more then referenced.
Thanks

[2021-08-18 12:59] Norserium commented on #104
@Lejla94, if you want provide the cropper definition in the template:
[code]

I assume it will be sufficiently to find the reason of such behavior. Also, check that you use the latest version of the cropper.

[2021-08-18 13:20] Lejla94 commented on #104
[code]

[2021-08-18 13:29] Norserium commented on #104
@Lejla94, well, it's not enough. I was wrong. Check the default size function calculation result (by debugger or `console.log`).

[2021-08-18 13:32] Lejla94 commented on #104
i forgot to mention i am using vue 3.
You do not need to worry, it is my issue.
i used this:

[code]

[2021-08-18 13:34] Norserium commented on #104
@Lejla94, I assume it's.

I don't know what `imagePlacement` is, but if it's the image size, I recommend you define the `defaultSize` as a method, like in my example.

[2021-08-18 14:08] Lejla94 commented on #104
my repo:
https://github.com/KLala94/cropper-issue

[2021-08-18 14:11] Norserium commented on #104
@Lejla94, my advice is still actual:
[code]

Theoretically, it might help.

[2021-08-18 18:21] Lejla94 commented on #104
Thanks. It is working now after refactoring and other stuff.
The problem was to my complicated code writing. After making it simpler it was easy to see the problem.
You can refer to the repository for reference [myrepo](https://github.com/KLala94/cropper-issue).
That's it

[2021-08-18 19:06] Norserium commented on #104
@Lejla94, you are welcome!

[2021-08-27 17:18] KHgul opened #150 "Issue on iOS devices"
Thanks for the package and great work.

I'm using the package in one of the project. The package is working great on the desktop but having issue on the iOS devices all browsers.

I have made a demo video who I've used the package and this videos is of laptop. But the issue I'm facing is on the iOS devices the cropper does not work like in the demo video use case if I resize the image less than th

[2021-08-31 13:35] DraftProducts opened #151 "Issue with image load when the component isn't displayed"
If the src prop of the cropper is changed when the cropper is not displayed, the cropper can't display it and it takes the look of the cropper when no image is provided:

![image](https://user-images.githubusercontent.com/29425008/131511682-8ebe0e29-8042-4130-9b5d-0abfa7d437ed.png)

This can happen when the cropper is accessible from a modal and the cropped image can be changed from outside with a

[2021-08-31 13:46] Norserium commented on #151
@DraftProducts, when the wrapper is hidden (`display:none`) its width and its height are equal to `0`, so at start the cropper has `0` height alike. The cropper doesn't know about the changes of its wrapper at all, hence when you open a modal window the cropper size is not recalculated and it's still equal `0`.

For such situations there is [`refresh`](https://norserium.github.io/vue-advanced-crop

[2021-08-31 13:48] Norserium commented on #151
Similar issue: #55

[2021-08-31 14:14] DraftProducts commented on #151
Thank you for such a quick response!
It's okay, I'll try this.
Have a nice day!

[2021-08-31 14:14] #151 closed

[2021-08-31 14:15] Norserium commented on #151
@DraftProducts, you are welcome!

[2021-09-05 15:08] ugurcanalyuz opened #152 "Still Stencil"
Like on Facebook, I couldn't find anywhere to pin the Stencil and show the background only within the Stencil. Is this available?

[2021-09-05 16:21] Norserium commented on #152
@ugurcanalyuz, could you provide the Facebook cropper screenshot? Do you want to achieve something like [the first example](https://norserium.github.io/vue-advanced-cropper/guides/advanced-recipes.html#fixed-stencil)?

[2021-09-05 18:05] Norserium commented on #150
@KHgul, any news?

[2021-09-05 18:05] Norserium commented on #147
@alexdpts, any news?

[2021-09-05 18:06] #51 closed

[2021-09-05 18:09] Norserium commented on #44
I assume that after all this issue can be closed. The browser behavior that causes this issue is explained in the documentation [section](https://norserium.github.io/vue-advanced-cropper/guides/cross-origin.html).

[2021-09-05 18:09] #44 closed

[2021-09-05 18:30] ugurcanalyuz commented on #152
@Norserium Thank you for your quick reply. I don't speak good English either, sorry for that. Facebook just scrolls the photo up and down within a fixed cutout area. This is exactly what I was looking for.

![image](https://user-images.githubusercontent.com/54191425/132137555-110458c5-91e3-46c0-a6db-e99e7ba4373d.png)

[2021-09-05 18:32] ugurcanalyuz commented on #152
@Norserium  Actually your example is very nice, I just couldn't find fixing the photo as a width.

[2021-09-05 18:53] ugurcanalyuz commented on #152
@Norserium As you can see, the remaining parts are also visible in this system. Is it possible to hide the outside parts?

![image](https://user-images.githubusercontent.com/54191425/132138187-e0cb0242-c64e-4699-b983-365a67ddc1f6.png)

[2021-09-05 19:23] Norserium commented on #152
@ugurcanalyuz, I suppose I understood you. Check [this example](https://codesandbox.io/s/vue-advanced-cropper-facebook-like-uotjf?file=/src/App.vue).

[2021-09-05 21:52] ugurcanalyuz commented on #152
@Norserium What level of man are you? You are great! <3 <3

[2021-09-06 07:45] Norserium commented on #152
@ugurcanalyuz, thank you! I'm glad to help.

[2021-09-06 07:45] #152 closed

[2021-09-07 08:42] allanvb opened #153 "Twitter slider flickering if zoomed image size overlaps the min-width/min-height"
For some reasons, if the cropped images reaches the size closer to cropper's min-width/min-height, it starts flickering.
Is there any way to avoid this behaviour ?

Steps to reproduce:
- Go to original [Codesandbox](https://codesandbox.io/s/vue-advanced-cropper-twitter-suoyc?file=/src/App.vue)
- Change min-width/min-height of **cropper** to `650`
- Drag the slider to right

[GIF](https://s9.gifyu.

[2021-09-07 09:49] Norserium commented on #153
@allanvb, it should be fixed now. Thank you for your report.

[2021-09-07 10:03] allanvb commented on #153
@Norserium glad to help. Can you tell me please what exactly you changed so I'll be able to fix it in my app too ?

[2021-09-07 11:08] Norserium commented on #153
@allanvb, I've changed `onZoom` method. Compare it with your method, you should see the difference in the used formula.

[2021-09-07 12:50] allanvb commented on #153
@Norserium got it. It works like a charm.

I think this can be closed now.

[2021-09-07 12:51] Norserium commented on #153
@allanvb, you are welcome!

[2021-09-07 12:51] #153 closed

[2021-09-21 17:27] ugurcanalyuz commented on #152
Greetings mate, I'm trying to add Radius for your example, but I can't subtract the radius during the demonstration. How can I do this? I couldn't add radius to the existing window :)

`.vue-preview {
  border-radius: 20px !important;
}

.vue-advanced-cropper__foreground {
  background-color: #242424 !important;
  border-radius: 20px !important;
}

.vue-advanced-cropper__image {
  border-radius: 2

[2021-09-21 17:58] Norserium commented on #152
@ugurcanalyuz, hello again! Could you provide the picture of the desired result and your current cropper?

[2021-09-21 20:44] ugurcanalyuz commented on #152
Greetings mate. I am attaching the photo as well. Your code works great, I just need to add Radius to the crop area. I will also need to use Radius 100% in the profile photo upload area. I think it would make the same sense.

![image](https://user-images.githubusercontent.com/54191425/134244596-8d0a830d-d509-4458-867c-fd5ac7f69d80.png)

[2021-09-21 20:46] ugurcanalyuz commented on #152
@Norserium This is how I actually need to make the crop area. For My Cover Photo.

![image](https://user-images.githubusercontent.com/54191425/134245061-56ca8b87-e404-47df-b246-b798409469ce.png)

[2021-09-21 20:57] Norserium commented on #152
@ugurcanalyuz, check [this example](https://codesandbox.io/s/vue-advanced-cropper-facebook-like-rounded-n6iy6?file=/src/App.vue).

[2021-09-22 08:31] ugurcanalyuz commented on #152
You are a wonderful man. I hope the library works with Nuxt 3 as well, I'll update it soon :) You're great mate! <3 @Norserium

[2021-09-22 08:37] Norserium commented on #152
@ugurcanalyuz, you are welcome!

Yes, Nuxt 3 finally will be soon in the public beta. And I assume that cropper will work well with it. It's based on Vue 3, and the version of cropper for the latest Vue version was released a long ago, and I assume it's stable now.

[2021-09-28 05:21] ehernandezColegium opened #154 "Vuetify.js slider and Image zoom factor"
Hey @Norserium!!

This is my top of components for personal projects, thanks a lot and congrats for this!

I'm currently trying to implement zoom for profile avatar using Slider component from Vuetify. I have set step for slider in 1 to go from 0 to 10 and viceversa to handle zoom factor, and works pressing append and prepend icons. I was trying [this example](https://github.com/Norserium/vue-adva

[2021-09-28 08:19] Norserium commented on #154
@ehernandezColegium, could you create the codesandbox that reproduces your issue? It will be very helpful.

[2021-09-28 14:13] ehernandezColegium commented on #154
Yeah, sure! Here we go: https://codesandbox.io/s/vuetify-slider-vue-advanced-cropper-hrh9u

In Nuxt, for ex, `cropper` doesn't want to detect change from `v-slider`.

Thanks in advances for any help here.

[2021-09-28 16:17] ehernandezColegium commented on #154
Just for curiosity: how do you determine which are the correct units to validate and calculating zoom input and zoom value? It's brilliant and tricky for me at moment until I understand why.

Thanks in advances.

[2021-09-28 16:20] Norserium commented on #154
@ehernandezColegium, I need to clarify what do you mean by "units" here and by "validation" alike?

[2021-09-28 16:26] ehernandezColegium commented on #154
Sorry, I was not clear at all.

Units  = sizes and coordinates
Validations = The correct way to calculate zoom value and zoom input.

[2021-09-28 19:27] Norserium commented on #154
@ehernandezColegium, I've rewrote the example above, because I forgot that the stencil doesn't have the fixed size as in my twitter-like example. Also I've commented everything.

But I will try to explain the logic additionally here.

The problem is that there is not absolute zoom value in this cropper. Perhaps, in the future I will think out something universal and beautiful, but there is only re

[2021-09-29 14:44] ehernandezColegium commented on #154
It's "magical" and understandeable your explanation. Thanks a lot for your kindly help.

Last question: `ready` event works? Need to know when image is loaded correctly to enable slider for manipulation, but always return `undefined`. Am I missing something? I have demostrated this in the example.

[2021-09-29 17:55] Norserium commented on #154
@ehernandezColegium, `ready` event should work. But it hasn't any payload. I've added the event processing in the last example.

[2021-09-29 19:24] ehernandezColegium commented on #154
@Norserium Very grateful for all the help. It would be nice document this code as an example for those who want to use Vuetify or similar components in the package docs. Greetings!

[2021-09-29 19:24] #154 closed

[2021-10-06 22:02] ehernandezColegium opened #155 "Paint something into Stencil (Preview) component"
Hey @Norserium! Me again 😄

I'm willing with a requeriment that I saw in another web, and it looks good and interesting to reproduce with vue-advanced-cropper. We are working in a  "template" or "guide" in aras people will able to adjust their avatar photo exactly in the same position where guide is using the Circle Stencil component and its preview component.

![Captura de Pantalla 2021-10-06 a l

[2021-10-07 17:45] ehernandezColegium commented on #155
Hey @Norserium!

Until now, I was able [to do this](https://codesandbox.io/s/vue-advanced-cropper-custom-stencil-forked-p90il). I was trying to do the ovals into Stencil Preview component (into the tag itself as a default slot), but look like itself doesn't accept default slots.

I fixed Stencil component too to avoid drag, and I painted ovals but with tricky (and messy) css. Responsiveness is awk

[2021-10-07 20:21] Norserium commented on #155
@ehernandezColegium what's behavior you want to get? Could you provide the example of the stencil with the desired behavior? I don't see any handlers on your image above.

[2021-10-07 20:38] Norserium commented on #155
@ehernandezColegium, currently, I don't see that there are cropper specific issues. There are plenty of ways to implement your example by the code. For example, you can use [percentages instead of absolute values](https://codesandbox.io/s/vue-advanced-cropper-custom-stencil-forked-z86ge?file=/src/Stencil.vue).

[2021-10-08 08:48] Lejla94 commented on #24
Hello Norserium.
I got a picture that i flip with:
`this.$refs.cropper.flip(true, false);`
but when the user changes the route or the picture the image is not flipped on the same way.
So it was once flipped and it should be shown flipped on these conditions.
It should persist.
On my use case i have a preview that stays flipped, but the cropper not and it confuses.
Thanks.

Is there an attribute fo

[2021-10-08 08:50] Norserium commented on #24
@Lejla94, could you provide [the codesandbox](https://codesandbox.io/s/vue-avanced-cropper-basic-jfy5w) that reproduces your issue?

[2021-10-08 14:57] Norserium commented on #155
It was just a fast manual calculations. The basis is the width of the circle on your example. All other dimensions are calculated relative to its size.

For example:
[code]

Where `width_of_eye` and `width_of_circle` are the widths of the corresponding items on your example image.

[2021-10-08 17:30] #155 closed, assigned to nobody

[2021-10-09 11:10] Norserium commented on #155
@ehernandezColegium, you are welcome!

I don't get the idea. Could you explain what do you mean by "paint with css thing into it"?

[2021-10-11 11:15] ChunAllen opened #156 "Draw dynamic gridline on cropper src"
How to achieve a dynamic gridline on an image of cropper src similar to image below.
I would like to make the gridlines as a guide for the user to crop the image

![Screenshot 2021-10-11 at 6 55 52 PM](https://user-images.githubusercontent.com/2100728/136780962-7e7f946d-1e82-435b-afdf-66232c03662c.png)

[code]

[2021-10-12 03:26] ChunAllen commented on #156
@Norserium Yes just onto an image, no need to include the black borders.
Similar to this ![Screenshot 2021-10-11 at 6 55 52 PM](https://user-images.githubusercontent.com/2100728/136780962-7e7f946d-1e82-435b-afdf-66232c03662c.png)

You can check my css on this CodeSandbox
https://codesandbox.io/s/vuetify-slider-vue-advanced-cropper-forked-7vk66?file=/src/App.vue

I tried adding before and after pse

[2021-10-12 10:52] #156 closed, assigned to nobody

[2021-10-13 15:42] roenfeldt opened #157 "Empty FormData object when converting the canvas to Blob"
First off, thank you for this amazing cropper utility and for all the work you 've been doing on improving it.

My ultimate goal is, that I send the image data to a backend API (which is already built and accepting requests properly, but it's irrelevant to this issue).

The problem I'm facing with, is that I can't figure out how to append the cropped image to a FormData object, so that I can furth

[2021-10-14 07:48] Norserium commented on #157
@roenfeldt, is the issue still actual?

[2021-10-14 07:49] Norserium commented on #147
@alexdpts, any news?

[2021-10-14 08:04] #41 closed

[2021-10-14 08:07] roenfeldt commented on #157
@Norserium as a matter of fact, I'm currently trying to figure out how to actually make use of the actual image data that's included within the iterated FormData object, as per your suggestion. My `uploadCroppedImage` function looks like this now:

[code]
So my question is now, how could I send the actual image data over to the API?

Many thanks for your help and patience!

[2021-10-17 06:22] ehernandezColegium commented on #155
Hey @Norserium!

Yeah, I mean, a slot where preview component works like you have solved example above.

[2021-10-17 10:42] Norserium commented on #155
@ehernandezColegium, I will think about it, but currently I suppose, that the custom stencil is the most flexible and obvious way to solve such tasks.

[2021-10-20 11:38] roenfeldt opened #158 "[NOT a bug] How to disable image zooming on scroll?"
As the issue's title says - I need to disable the image zooming that happens during the scroll event.

My users find it a bit confusing, that when they are scrolling the page, if the mouse cursor happens to be over the Cropper instance, the image will get zoomed in/out. And therefore I would need the Cropper to stop listening (or at least reacting) to the scroll event. Here's a video where I'm try

[2021-10-20 11:40] roenfeldt commented on #157
Sure thing @Norserium - here's the new issue for reference (for users reading this) https://github.com/Norserium/vue-advanced-cropper/issues/158

[2021-10-20 11:40] #157 closed

[2021-10-20 12:19] Norserium commented on #158
@roenfeldt, it's easy to solve:
[code]

[2021-10-20 12:23] #158 closed, assigned to nobody

[2021-10-23 13:05] #150 closed, assigned to nobody

[2021-11-05 10:07] Lejla94 commented on #24
@Norserium
Look at this [sandbox](https://codesandbox.io/s/vue-advanced-cropper-preview-experimental-forked-grr9j?file=/src/App.vue)
when the aspect ration is not 1 (one) the Preview does not show well!!
I want to keep the aspect ratio on the preview too, by setting only width on css or the element.
Thanks.

[2021-11-05 10:08] Lejla94 commented on #24
Is there a way to use `object-fit: contain;` on the image?

[2021-11-05 10:40] Norserium commented on #24
@Lejla94, if I understand you correctly, do you want to get something like [this](https://codesandbox.io/s/vue-advanced-cropper-preview-experimental-fixed-qznxx?file=/src/App.vue)?

[2021-11-05 10:43] Norserium commented on #24
@Lejla94, if I understood you correctly, do you want to get something like [this](https://codesandbox.io/s/vue-advanced-cropper-preview-experimental-fixed-qznxx?file=/src/App.vue)?

[2021-11-05 10:48] Lejla94 commented on #24
Yes, but the aspect ratio will change and the Preview should keep it

[2021-11-05 10:53] Lejla94 commented on #24
The aspect ratio changes based on the user input values, then the user chooses a part of the cropper that will reflect in the Preview.
So the Preview will keep a max width and `object-fit: contain;` so it will scale to fit the max size, but keeping aspect ratio.

[2021-11-05 10:57] Norserium commented on #24
@Lejla94, let's do it step by step. You can pretty easy set the `width` and `height` in the template. [The example](https://codesandbox.io/s/vue-advanced-cropper-preview-experimental-fixed-dynamic-aspect-ratio-ek0ju?file=/src/App.vue).

[2021-11-05 11:05] Lejla94 commented on #24
I tried this before, so the only issue is i can not change the Preview with breakpoints.
I should keep a variable as max size.
But if i find no solution, i will scale it on the css or something to make it look bigger on PC and let 320 on small devices.
Thanks for your effort, if there is someway i could help tell me. (by contributing to the project)

[2021-11-05 11:44] Lejla94 commented on #24
I am trying that now.
Thanks

[2021-11-12 20:20] cimpok opened #159 "How to propagate scroll to parent ?"
Thank you Norserium for this cool component!

What would be the best practice to propagate the scrolling to the parent when the drag reaches the upper/lower limits in the cropper?

I am using the Cropper in a scrollable main div, the cropper when activated is taking up most of the screen area making it difficult to touch and drag the outside area to scroll elsewhere on the website.  I am now leavi

[2021-11-12 20:48] Norserium commented on #159
@cimpok, it's not easy to do. The preventing of event happens before that event will been processed. By the way, what's the version of Vue do you use?

[2021-11-13 18:28] Norserium commented on #159
@cimpok, could you take a look at the example in [the another cropper](https://norserium.github.io/react-advanced-cropper/docs/guides/advanced-recipes#scroll-the-cropper) (it's the React library, but anyway). Do you want to achieve the similar behavior?

If not, could you explain the alternative. For example, the cropper can allow the default event when you can't resize the image anymore. It works

[2021-11-13 21:13] cimpok commented on #159
@Norserium, yes, It's a nice solution, thank you.

The two-fingered scroll operation that obvious for me, (for zooming it is), that's why the on-screen hint, I think this is an elegant solution.

I observed an interesting positive side effect on my Android tablet running Chrome (at least I don't think it was intended):  if I begin the scroll-up on the last image (with this backgroundwrapper featur

[2021-11-13 21:34] Norserium commented on #159
It can't be ported easily. This library is the my port of this library to React, that was totally rewritten. I have plans to port it back to Vue, but it will be later.

I will try to figure out something. It's possible. The question is how beautiful it will be, because it will be some sort of a workaround anyway.

[2021-11-13 23:11] Norserium commented on #159
@cimpok, I will try to offer some solution in 24 hours. I recommend don't spend time on this task, until this moment.

[2021-11-14 13:09] Norserium commented on #159
@cimpok, well, I did port some code from the react library. There is [the sandbox](https://codesandbox.io/s/vue-advanced-cropper-custom-scroll-vue-3-21oqn) to test. The changes are available in `2.7.0` (Vue 3) and `1.9.0` (Vue 2).

[2021-11-14 15:18] cimpok commented on #159
Wow @Norserium !   Perfect, thank you.
...and you have even managed to include it in the documentation, (i wish I could solve my coding problems that fast :)

[2021-11-14 18:41] Norserium commented on #159
@cimpok, you are welcome! This feature is described in [the documentation now](https://norserium.github.io/vue-advanced-cropper/guides/advanced-recipes.html#scroll-the-cropper) shortly. Additional documentation is required, but it's better than nothing.

[2021-11-14 21:35] Norserium commented on #159
@cimpok, is this issue still actual?

[2021-11-15 09:34] cimpok commented on #159
@Norserium you mean we can close the issue, sorry I'm quite new in github commenting. Thanks again.

[2021-11-15 09:34] #159 closed

[2021-11-15 12:17] Norserium commented on #159
@cimpok, you are welcome!

That's exactly what I mean. I prefer that an issue creator closes his issue himself once this issue is resolved to prevent any sort of misunderstanding.

Sometimes, however, I don't get the response and close issue himself.

[2021-11-19 12:17] Norserium commented on #147
@alexdpts, there is the native possibility now. [The example](https://codesandbox.io/s/vue-advanced-cropper-custom-scroll-shift-xmwoh?file=/src/CustomBackgroundWrapper.vue).

[2021-11-22 19:26] christher-lenander opened #163 "Missing Typescript example"
Your examples don't work out of the box when using Vue 3 and Typescript.

[2021-11-22 20:46] Norserium commented on #163
@ChristherLenander, hello! What's exactly goes wrong or not clear?

[2021-12-08 14:45] TitouanBizet opened #164 "Mistake in the documentation"
Hi,
In the [documentation](https://norserium.github.io/vue-advanced-cropper/components/circle-stencil.html), linesWrapperClasses seems to be a mistake. It doesn’t work, however with linesWrappersClasses I have no problem.
Thanks a lot for the library by the way

[2021-12-08 15:12] Norserium commented on #164
@TitouanBizet, thank you for your report!

It's fixed by now. The writing of the documentation consumes pretty much time, so, alas, it's still can contain different mistakes. I only hope that they won't stand on the way of developers. Just like in your case.

[2021-12-08 15:12] #164 closed

[2021-12-10 17:08] Jacobtims opened #165 "Send cropped image to laravel controller"
I can't save my cropped image through my laravel controller.
**Vue code:**
[code]

**In my controller I have this:**

[code]

It doesn't give me any error, but just create some random files without extension.
What am I doing wrong?

[2021-12-10 18:53] Jacobtims commented on #165
I have tested something more.
I found the problem, and that is that my controller can't get the `getClientOriginalExtension()`.
When I set it manually it works fine!

[2021-12-10 19:28] Norserium commented on #165
@Jacobtims, hello!

The method `getClientOriginalExtension` returns the extension based on [the file name](https://laravel.com/docs/8.x/filesystem#other-uploaded-file-information
):

[2021-12-10 20:49] Jacobtims commented on #165
Thx for your fast reply!
I fixed it with the `$file->extension()`.
I will also create a validation on the image.

[2021-12-10 20:49] #165 closed

[2021-12-10 20:50] Norserium commented on #165
@Jacobtims, you are welcome!

[2021-12-17 20:50] edshen17 opened #166 "Canvas undefined when using .getResult()"
Hello, I was playing around with the [Twitter showcase](https://norserium.github.io/vue-advanced-cropper/guides/showcase.html#twitter) and wanted to get the canvas from getResult(). However, it returns undefined.

Please check this [fork](https://codesandbox.io/s/vue-advanced-cropper-twitter-forked-ccow4?file=/src/App.vue). It's basically the same code, but I print the result in onChange().

I kno

[2021-12-17 21:20] Norserium commented on #166
Hello, @edshen17!

The props `canvas` is `false`, that's the reason why the canvas from `getResult` is undefined.

You can enable canvas, but in this case I recommend to get the result not on change, but on some action. For example, clicking the button `continue`.

See [the second method](https://norserium.github.io/vue-advanced-cropper/guides/recipes.html#getting-the-result) of the getting result

[2021-12-17 21:25] edshen17 commented on #166
Thank you for the quick reply! It works now once I set canvas to false.

Ah yes, I was just trying to show that it was undefined since it was easy to do in the onChange method. Thanks again!

[2021-12-17 21:25] #166 closed

[2021-12-17 21:32] Norserium commented on #166
@edshen17, you are welcome!

[2021-12-19 18:19] majaofterra opened #167 "export 'default' (imported as 't') was not found in 'vue' ?"
Hello, just installed your lovely component on my laravel 8 project and rightaway  when just importing it i get this error

`export 'default' (imported as 't') was not found in 'vue' `

i am a bit new to vue and my googling seems to indicate its something with your side?

thanks a lot!

[2021-12-19 18:25] Norserium commented on #167
@majaofterra, I need more data. Did you install `vue`? How do you import libraries?

[2021-12-19 18:29] majaofterra commented on #167
vue came installed with laravel and i'm dong the single page thing
[code]

[2021-12-19 18:30] Norserium commented on #167
@majaofterra, what's version of `vue-advanced-cropper` do you use?

[2021-12-19 18:37] majaofterra commented on #167
"vue-advanced-cropper": "^1.9.0",

[2021-12-19 18:40] Norserium commented on #167
@majaofterra, you should use `next` version for Vue 3 (the latest is `2.7.0` by now).

[2021-12-19 18:45] majaofterra commented on #167
i see yeah that makes sence, i wonder why npm installed outdated version.

sorry i am too new to vue and npm care to offer any advice on how i would do this?

[2021-12-19 18:48] Norserium commented on #167
The NPM package manager by default installs the version with tag `default`, an it's `1.9.0` now. This version is not outdated, but this version is supposed to use with Vue 2, that is still actual.

To support two versions of Vue simultaneously I use two tags for versions: `default` (Vue 2) and `next` (Vue 3). It's described in the documentation.

[2021-12-19 18:50] Norserium commented on #167
To install the specific version you should use:
[code]

[2021-12-19 20:17] Norserium commented on #167
@majaofterra, did you solve your problem?

[2021-12-27 22:35] majaofterra commented on #167
howzit mate, soo sorry for very late reply, yes i got it sorted and super!
thanks so much it was the last day before a big hike!

On Sun, 19 Dec 2021 at 15:17, Norserium ***@***.***> wrote:

[2021-12-28 09:26] Norserium commented on #167
@majaofterra, you are welcome! I close the issue then.

[2021-12-28 09:26] #167 closed

[2021-12-28 11:46] MarisKay opened #168 "vstencil-component example not working in vue3"
Please update this for Vue v3, so ppl know how to use it! Currently not working the way it is presented. Thank you!

[code]

Gives error : The "CircleStencil" component has been registered but not used

[2021-12-28 12:08] majaofterra commented on #167
thank you very much!

On Tue, 28 Dec 2021 at 04:26, Norserium ***@***.***> wrote:

[2021-12-28 12:19] Norserium commented on #168
@MarisKay, it's not Vue 3 issue.

It's the issue of ESLint. It can't know that this components is actually used (the relevant [issue](https://github.com/vuejs/eslint-plugin-vue/issues/778)).

You can bypass it by:
1. Ignoring this rule for `CircleStencil`;
2. Passing the component to `setup` or `data` instead of `components`:
[code]
After that you can write:
[code]

[2021-12-28 12:25] Norserium commented on #168
I've created [the sandbox example](https://codesandbox.io/s/vue-advanced-cropper-vue-3-circle-qdg81?file=/src/App.vue) for you.

[2021-12-30 23:05] Daedren opened #169 "Cropper doesn't take parent's height when parent is relative"
Hello! I'm coming across an issue when trying to use the cropper.

When a cropper with `height: 100%;` is inside a parent with an proper fixed height, it'll contract to the parent's height, this is as it should and is fine.

However, if the parent's height is relative, or is a flex item, the cropper will ignore the space it is allocated.

https://codesandbox.io/s/vue-advanced-cropper-basic-jfy5w?f

[2021-12-31 08:31] Norserium commented on #169
@Daedren, hello! Are you sure, that you provide the correct link to the codesandbox?

[2021-12-31 08:33] Norserium commented on #168
@MarisKay, any news?

[2021-12-31 08:33] Norserium commented on #163
@ChristherLenander, any news?

[2021-12-31 10:13] MarisKay commented on #168
Okay, now i see! Thank you. In your example though the cropped result looks still squarish. Doesn't the cropper apply the stencil to the final result? Like shouldn't it be a cropped circle image when it crops and presents the result?

[2021-12-31 11:54] Norserium commented on #168
@MarisKay, no it shouldn't. But you can [crop it himself if it's needed](https://github.com/Norserium/vue-advanced-cropper/issues/23). Usually it's not.

[2021-12-31 11:56] Daedren commented on #169
Oh whoops, I messed up.

I've updated the original comment with the correct link.

[2021-12-31 12:03] Norserium commented on #169
@Daedren, do you want to get this result?
![image](https://user-images.githubusercontent.com/9862719/147822395-96f253ec-baf1-4aad-bfd6-bfa156c01196.png)

[2021-12-31 12:07] Daedren commented on #169
Yeah that would be my objective. Am I messing something up on my end?

[2021-12-31 12:26] Norserium commented on #169
@Daedren, well, there is the detail, that you actually missed.

First of all, the cropper tries to stretch the container as much as possible to fit the image completely by setting the fixed height and width:
![image](https://user-images.githubusercontent.com/9862719/147822744-f91208c2-b65d-4739-aaad-85f8fb9ce0df.png)

As a result, the parent elements (`.cropper` and then `#cropperParent`) becomes

[2022-01-03 08:59] MarisKay commented on #168
and now since i used:
`import {Cropper, CircleStencil} from "vue-advanced-cropper"`

[code]

and  in template:

[code]

i started to get this kind of error:

 runtime-core.esm-bundler.js?9e79:6620 [Vue warn]: Vue received a Component which was made a reactive object. This can lead to unnecessary performance overhead, and should be avoided by marking the component with markRaw or using shallowRef i

[2022-01-03 09:22] MarisKay commented on #168
No idea whether this is the correct solution, but i have added:

[code]

and the problem vanished. Let me know if there's a more proper way doing this. Thanks

[2022-01-03 10:30] Norserium commented on #168
@MarisKay, well there are a plenty of options except those that I suggested earlier.

1. You can mark raw your component to eliminate that warning and potential performance issues:
[code]

2. You can define `CircleStencil` and `RectangleStencil` in `created` hook. It's definitely make more sense.
[code]

3. But the best option in your case that would be fit in your case perfectly (in my opinion) i

[2022-01-03 10:33] MarisKay commented on #168
Thank you so much, makes perfect sense! This is my 2nd month of Vueing, so lots to learn still! :)

[2022-01-03 10:50] Norserium commented on #168
@MarisKay, you are welcome!

Alas, the passing components as a props is not common thing in the Vue world. I spent much time to find the reasonable alternative when I started to develop this library, and I didn't found it. The slots were close, but not enough.

Although, the using of Composable API or JSX makes the passing components much easier, so I assume this behavior will be stay same in the

[2022-01-03 10:50] #168 closed

[2022-01-03 10:53] Norserium commented on #169
@Daedren, any news?

[2022-01-04 15:02] Daedren commented on #169
Apologies, but yes, that solved it.
Thank you for the quick replies, I've learned quite a few things today.

[2022-01-04 16:25] Norserium commented on #169
@Daedren, it's all right. You are welcome!

[2022-01-04 22:49] Benoit1980 opened #170 "From blob to Binary"
Hello,

In your documentation I cannot find any mention of converting the cropped output blob data to Binary.
I am using Laravel and its MIME validator, but the data seems to only work with images sent as Binary files and not as blob.

Did I miss this part in your documentation?

Some people were telling me to use this library for this:
https://www.npmjs.com/package/blob-util

But would this not b

[2022-01-04 23:33] Norserium commented on #170
@Benoit1980, hello!

I'm not sure that it's the concern of this library. It gives you access to the canvas and you are free to do with that canvas whatever you need.

Did you try to use [Blob.arrayBuffer()](https://developer.mozilla.org/en-US/docs/Web/API/Blob/arrayBuffer)? Could you provide the code that you use to send the image to your server?

[2022-01-05 10:12] Benoit1980 commented on #170
Hi!

Thank you for the reply.
Basically, When I usually send a file to the server I do this:
HTML
`<input type="file" class="custom-file-input" id="image" ref="image" accept="image/png, image/jpeg" @change="onFileAttached($event)">`

Vue js:
[code]

Laravel side:
[code]

On the Laravel side, for the file to be validated this way, it needs to be sent as "Binary" as shown in this example request pay

[2022-01-05 12:30] Benoit1980 commented on #170
I have managed to get it going by doing this:
Vue
[code]

Laravel
[code]

I need to do some testing but I am not sure why without the "image" tag in the validator it works........

[2022-01-05 13:25] Norserium commented on #170
@Benoit1980, I don't understand why `mimes:jpeg,png,jpg` works for you.

According to the sources, `validateImage` should work in the similar way:
[code]

It doesn't actually examine real MIME type and retrieves it from the file extension (in contradiction to `validateMimestype`). It's a strange decision, but I can't comment it.

 Try to add here for test the filename:
[code]

[2022-01-05 13:41] Getz85 commented on #44
Hi @Norserium,

I still have issue with CORS on vue-advanced-cropper@next (2.7.0) for vuejs 3, with or without canvas set to false.

I use the same image that the exemple above:

[code]

And in the console:

If I inspect the DOM of the cropper and remove the attribute "crossorigin" (which is set to false without canvas and anonymous with canvas) of the img tag, the image is displayed.

Is it a bug

[2022-01-05 16:39] Norserium commented on #44
@Getz85, thank you for your report. Conditional rendering of attributes changed in Vue 3 ([official information](https://v3.vuejs.org/guide/migration/attribute-coercion.html#overview), [example](https://stackoverflow.com/a/64598898)), and I forget to adapt the code to its changes.

I've fixed it in `2.7.1` now.

[2022-01-06 08:12] Getz85 commented on #44
@Norserium
I confirm that the problem is solved, thank you for your reactivity and thanks for this awesome module !

[2022-01-06 09:07] Norserium commented on #44
@Getz85, you are welcome!

[2022-01-11 09:32] Benoit1980 commented on #170
Sorry for the delay in replying to you. I had to move to an emergency project, I will check this out by the end of the week and update you :-)

[2022-01-14 01:46] qxygene commented on #73
1.9.0 same issue !

[2022-01-14 19:45] bryanvam opened #174 "How set initial rotate"
I know there is a method to rotate. I would like to set the default rotate for when I am restoring a image from the server, I have its user rotated value saved. I would like to load this rotated value as part of loading the image, instead of triggering it via a method.

[2022-01-14 21:27] Norserium commented on #174
@bryanvam, why do you object to triggering rotate via a method?

I assume you want to pass `defaultTransforms` (object or function) to `Cropper` as a prop. Am I right?

I had plans to implement it in [`react-advanced-cropper`](https://github.com/Norserium/react-advanced-cropper/), and I can do something similar here.
[code]

[2022-01-15 00:26] qxygene commented on #73
Error in v-on handler: "TypeError: Cannot read properties of null (reading 'width')"

found in

---> <RectangleStencil>
       <TransformableImage>

[2022-01-15 09:38] Norserium commented on #73
@qxygene, I assume you forgot add something to your message.

[2022-01-15 10:31] qxygene commented on #73
---> <RectangleStencil>
       <TransformableImage>
         <Anonymous>
           <Cropper>

[2022-01-15 11:28] Norserium commented on #73
@qxygene I need more details. The source code, for example. The sandbox like [this](https://codesandbox.io/s/vue-avanced-cropper-basic-jfy5w).

[2022-01-15 14:48] bryanvam commented on #174
@Norserium 100% right. the main reason is that the image loads and then you see it rotate. the same goes for inital co-ordinates. but the rotate is the most important for me

[2022-01-15 16:13] qxygene commented on #73
https://codesandbox.io/s/vue-advanced-cropper-bootstrap-modal-z8y47

it is same issue, nothing new.

[2022-01-15 20:35] Norserium commented on #73
@qxygene, are you sure?

I've forked the example above and updated the vue-advanced-cropper to 1.9.0 [here](https://codesandbox.io/s/vue-advanced-cropper-bootstrap-modal-forked-n0lgo).

https://user-images.githubusercontent.com/9862719/149636905-fe9edcd9-d2d5-4310-a3fb-2a853487485c.mp4

Check, that you updated the cropper version.

[2022-01-15 20:40] Norserium commented on #174
@Norserium, well, I have pretty few time now. Do you have any deadlines associated with this issue?

[2022-01-15 21:47] qxygene commented on #73
thanks, nut look where the image is. My issue is same, on modal image is not there until you resize browser window. Yo ucan only see a white square and when you click on it you receive error.

[2022-01-15 21:50] qxygene commented on #73
Full error:

[code]

[2022-01-16 11:23] Norserium commented on #73
@qxygene, could you record the video?

I've import the styles and see no problems at all.

https://user-images.githubusercontent.com/9862719/149657846-854fed27-f25e-456a-b3a8-73a7d7cec5a9.mp4

[Sandbox](https://codesandbox.io/s/vue-advanced-cropper-bootstrap-modal-forked-n0lgo?file=/src/App.vue).

[2022-01-16 11:28] Norserium commented on #73
@qxygene, but I can assume the root of your issue: you should call `refresh` method on modal open.

If the cropper is displayed inside container with `display: none`, it has no height and width. So when the container becomes visible, cropper doesn't know it and still remains without height and width. The calling of [the refresh method](https://norserium.github.io/vue-advanced-cropper/guides/advanc

[2022-01-16 14:28] Norserium commented on #174
@bryanvam, I plan to investigate the solution next week. But if you have some sort of deadlines I can try to force it.

[2022-01-16 14:30] Norserium commented on #163
@DannyFeliz, do you have the same issue? Could you give me some details?

[2022-01-16 18:36] bryanvam commented on #174
@Norserium i appreciate you looking into this. i can work around your timeline of next weekend.

[2022-01-17 04:59] qxygene commented on #73
https://user-images.githubusercontent.com/2819611/149710532-0133c326-1d98-4a4a-b8fd-267cffb1d76b.mp4

[2022-01-17 07:10] Norserium commented on #73
@qxygene, how is your modal implemented?

I assume that it doesn't destroy the content (the cropper in this case) on close. The destroying the content on close will solve your problem in two shakes.

Otherwise, try to call `refresh` method on modal open as I wrote above

[2022-01-17 13:10] qxygene commented on #73
Yes, i dont want it to destroy content, it works bıt when you resize it gives error. Refresh didnt work at all.

[2022-01-17 13:11] Norserium commented on #73
@qxygene, could you provide the code, where you refresh the cropper?

[2022-01-17 23:12] Norserium commented on #73
@qxygene, I assume that you refresh the cropper not in the appropriate time. For example, before the modal is actually opened. The part of your source code can give me a clue how to help you.

[2022-01-19 01:25] qxygene commented on #73
thank you, i will send you email

[2022-01-19 10:45] Norserium commented on #73
@qxygene, I will wait.

[2022-01-21 03:55] zynth17 commented on #163
got the same issues, there is not type for cropperRef element so there is no possible way to call getResult() from cropperRef element on composition api

[2022-01-21 09:06] Norserium commented on #163
@zynth17, I were not sure that it should be documented. It looks like the common Vue 3 practice:
[code]

It is described in [the official documentation](https://v3.vuejs.org/guide/typescript-support.html#typing-template-refs).

[2022-01-21 10:13] zynth17 commented on #163
thanks! totally forgot can do this.

[2022-01-21 10:19] zynth17 opened #175 "disable zoom?"
is there any way to set the default zoom and prevent the user to zoom the image?
can't find anything on the docs

[2022-01-21 12:06] Norserium commented on #175
@zynth17, zoom is actually just the high level abstraction of changing the visible area.

So, you can set the default visible area to get the default zoom.

To prevent the possibility to zoom image by an user you can block image resize events by setting `:resize-image="false"`.

There is [the example](https://codesandbox.io/s/small-feather-jg2np?file=/src/App.vue).

But I'm curious, what is the us

[2022-01-21 12:45] zynth17 commented on #175
thanks! i will try it later.
the case is, i want the user to upload an image, without restricted dimension.
but i need to set the picture to have max width to make all the image have the same width while they are cropping and also the cropper itself has a fixed size of 200x200 px so i dont want the user to zoom on the picture. the default zoom is for making the image visible in all area because of

[2022-01-21 12:50] Norserium commented on #175
@zynth17, I'm not sure, but did you consider for your use-case [the result resizing](https://norserium.github.io/vue-advanced-cropper/guides/recipes.html#resize-the-result)?

[2022-01-21 13:04] Norserium commented on #175
@zynth17, consider the following use-case.

User uploads his own photo (683px / 1024px).
![image](https://user-images.githubusercontent.com/9862719/150531308-ad3fd194-59bc-4f04-afec-cb8fb40a14cd.png)

He want to choice the selected area on the left image, but if you limit the choice to size 200x200 he will be able to select the area like on the right image.

It seems, that you shouldn't limit the

[2022-01-21 13:06] zynth17 commented on #175
thanks! i will consider this. one more question. is there any way to make the image have max height? i try to wrapping the cropper element on a div and giving the div a max height but the image still overflowing the parent div.

[2022-01-21 13:08] Norserium commented on #175
@zynth17, I need more information (the codesandbox would be perfect), but try to set the max height for the cropper itself.

[2022-01-22 11:44] Norserium commented on #174
@bryanvam, I've published and documented `defaultTransforms` property. It's available since `1.10.0` / `2.8.0`. You can find the example in [the "Default transforms" section](https://norserium.github.io/vue-advanced-cropper/guides/advanced-recipes.html#default-transforms).

[2022-01-25 02:06] zynth17 commented on #175
hey thankyou for the help! i will close this issues since this is already done now.

[2022-01-25 02:06] #175 closed

[2022-01-26 09:43] rafalolszewski94 opened #176 "How to achieve always square cropper"
What I'm trying and failing to achieve is a cropper that's always square to put it as simple as possible.

Explaining more, via examples; if you have horizontal image, I would like to add empty white space which can be also in the area of the cropped image to make the image square

Current behaviour:
![image](https://user-images.githubusercontent.com/37925892/151139745-5a216036-2cd5-48ff-82b9-d32b

[2022-01-26 13:46] Norserium commented on #175
@zynth17, you are welcome!

[2022-01-26 14:03] Norserium commented on #176
@rafalolszewski94, if I understood you correctly, I see  a plenty of different ways to do what you need.

For example, I can offer you [the CSS-only solution](https://codesandbox.io/s/vue-advanced-cropper-square-cropper-jlzes?file=/src/App.vue) supported by the most browsers. You can make it even simpler by using of `aspect-ratio` property if you [may use it](https://caniuse.com/mdn-css_properties

[2022-01-29 22:29] qxygene opened #177 "Lazy load"
const Cropper = () =>
  import(/*webpackChunkName: "cropper"*/ "vue-advanced-cropper");

It seems not working.

[2022-01-29 22:34] qxygene commented on #177
const Cropper = () =>
  import(/*webpackChunkName: "cropper"*/ "vue-advanced-cropper").then(
    (module) => {
      console.log(module);
      return module.Cropper;
    }
  );

now it works.

[2022-01-30 11:14] Norserium commented on #177
@qxygene, hello!

It's the normal behavior. The explanation is pretty simple:
1. The [`import`](https://webpack.js.org/api/module-methods/#import-1) dynamically load **a module**, not one of named exports. Therefore to get the named export `Cropper` you need to process the promise result:
[code]
2. The result of the code above is the literally [`async component`](https://vuejs.org/v2/guide/compone

[2022-02-01 12:51] Norserium commented on #177
@qxygene, is your issue still actual?

[2022-02-01 12:51] Norserium commented on #176
@rafalolszewski94, any news?

[2022-02-01 12:52] Norserium commented on #174
@bryanvam, any news?

[2022-02-01 12:52] Norserium commented on #170
@Benoit1980, any news?

[2022-02-01 13:12] Benoit1980 commented on #170
I understand :-) I promise to check it out next week.

[2022-02-01 15:14] qxygene commented on #177
yes it is

[2022-02-01 15:15] Norserium commented on #177
@qxygene. what's wrong? The example above should work.

[2022-02-01 20:18] bryanvam commented on #174
@Norserium many thanks. this is working great. much appreciated

[2022-02-01 20:24] Norserium commented on #174
@bryanvam, you are welcome!

[2022-02-10 04:18] yellow1912 commented on #165
This is greate content, please add it to the document if you can. It will save people like me tons of time digging the old issues.

[2022-02-10 04:18] yellow1912 commented on #23
This is greate content, please add it to the document if you can. It will save people like me tons of time digging the old issues.

[2022-02-10 08:18] Norserium commented on #23
@yellow1912 , I will try to think out how to place it in the documentation, because the mentioned issues are still edge cases.

[2022-02-11 05:16] Utsav-upadhyay commented on #50
Yes, Indeed multi-cropping is the biggest feature and No one is providing it with Zoom, rotate feature, some libraries have multi-cropping like JCrop but they do not have zoom feature in it, Please see multiple cropping examples below, one can crop multiple area at a time
![Screenshot 2022-02-11 104551](https://user-images.githubusercontent.com/81962784/153541047-b8284334-a547-49c0-8075-41296ae4f0

[2022-02-11 08:04] Norserium commented on #50
@Utsav-upadhyay, hello!

The most right approach is the creating the in-depended library to solve this task. This library can't support this feature due its concept and design now. There is [the discussion about this feature](https://github.com/Norserium/vue-advanced-cropper/discussions/162#discussioncomment-1681700).

But anyway, did you encounter some croppers (proprietary perhaps) that implemen

[2022-02-14 08:01] kvalev opened #178 "Rendering vertical images"
I have a vertical image (EXIF Orientation Tag is set to 6, meaning 90°), which is being shown incorrectly in the cropper's image component.

Looking at the image transforms, the orientation itself is read correctly: `imageTransforms: {flip: { horizontal: false, vertical: false }, rotate: 90}`, but the image is shown horizontally. Looking into the cropper's `img` tag it seem that a `rotate(90deg)`

[2022-02-14 08:35] Norserium commented on #178
@kvalev, could you provide more details? What's the used version? Could you upload (in an archive) the image?

[2022-02-14 08:53] kvalev commented on #178
I have uploaded the image [here](https://1drv.ms/u/s!AlGd7SBve2gCh-10tH1aaks92TqLFw?e=efU4Gv). The link expires tomorrow. As far as I can see, there is nothing special about the image, nor the way I use the cropper, but you never know. I use the latest version - `1.10.0` and have configured the cropper as follows:

[code]

Adding `:checkOrientation="false"` ironically fixes the display issue. Let

[2022-02-14 09:47] kvalev commented on #178
@Norserium Thanks for taking your time! I dont upload the image, but instead load it directly from an url (something like `:src="localhost:8080/images/..."`), maybe this is the big difference? I wanted to reproduce it in the sandbox, but non of the public image hosting websites preserve the EXIF metadata.

[2022-02-14 10:13] Norserium commented on #178
@kvalev, I thought so. It's the edge case.

When you upload file localy it can be either `Data Url` or `Blob`.

After that the cropper retrieves `ArrayBuffer`, extracts the image orientation from the corresponding bytes and then **resets them** to get rid of the difference in browsers that supports EXIF and the browsers that doesn't support one.

Finally, the cropper converts the `ArrayBuffer` to

[2022-02-14 10:21] Norserium commented on #178
I will give a try to the second solution. `Blob` has pretty good browsers support, good enough for our needs at least.

[2022-02-14 10:39] kvalev commented on #178
@Norserium Thanks again for the support!

I thought this might browser related, but underestimated how many people use the image upload, instead of directly linking them (with preserved metadata). I will leave the picking the best solution to you, but no need to hurry - it is not urgent, as I have found a solution for me. Given that I need it for a local application, and not some CDN-backed enterp

[2022-02-14 10:42] Norserium commented on #178
@kvalev, try to update to `1.10.1`.

[2022-02-14 11:38] Norserium commented on #178
@kvalev, if it works well, I will transfer this changes to Vue 3 version of this library.

[2022-02-14 11:54] kvalev commented on #178
@Norserium The fix worked, thanks for the quick action!

[2022-02-14 11:55] Norserium commented on #178
@kvalev, it's nice to hear, I close the issue then. Thank you for your report!

[2022-02-14 11:55] #178 closed

[2022-02-14 12:11] Norserium commented on #177
@qxygene, any news?

[2022-02-14 12:11] Norserium commented on #176
@rafalolszewski94, any news?

[2022-02-14 12:13] rafalolszewski94 commented on #176
Sorry for late reply, everything works with 'absolute' way. Didn't really understand how aspect ratio could work here or what the layout should look like with it.

[2022-02-14 13:17] Norserium commented on #178
For Vue 3 users: this issue is fixed in `2.8.1`.

[2022-02-17 16:57] qxygene commented on #177
version 1.10.1 fixed the issue. thank you.

[2022-02-17 17:15] Norserium commented on #177
@qxygene, frankly, I don't get how it could solve your issue, but all is well that ends well.

I close issue then.

[2022-02-17 17:15] #177 closed

[2022-02-20 17:51] ijunaid8989 opened #180 "Image dimentions are not correct."
I am trying to load vuejs cropper with a binary image such as

[code]

as a result of an API request.

when I download the actual Image and check the dimensions it says

![image](https://user-images.githubusercontent.com/13561999/154856517-dabe4e0b-de0d-4c6d-ac44-632431dd0360.png)

while the image object in

`change({ coordinates, image }) {`

says:

height: 1080
width: 1920

Am I missing somethin

[2022-02-20 19:13] Norserium commented on #180
@ijunaid8989, could you create [the sandbox](https://codesandbox.io/s/vue-avanced-cropper-basic-jfy5w?file=/src/App.vue), that reproduces your issue? I can't reproduce it right now with this image.  Image has `3840` width and `2160` height.

[2022-02-24 10:13] giedriusStan opened #181 "unable to use setCoordinates method"
I have never worked with vue before and probably I'm just using the app wrong, but if I try to execute setCoordinates function, I get an error "Uncaught TypeError: Cannot read properties of undefined (reading 'setCoordinates')". This is my code:

https://jsfiddle.net/8hqs9fyj/

is this a bug, or am I missing something?

[2022-02-24 11:25] Norserium commented on #181
@giedriusStan, you didn't set the `ref` property at the cropper. [The fixed example](https://jsfiddle.net/q714ngo6/).

But, frankly, you have a lot of strange things here. What do you want to get?

[2022-02-24 11:31] giedriusStan commented on #181
Thank you! This is it! This jsfiddle was taken from documentation page here
https://norserium.github.io/vue-advanced-cropper/introduction/getting-started.html#using-cdn
I just added the resize part

[2022-02-24 11:31] #181 closed

[2022-02-24 11:34] Norserium commented on #181
@giedriusStan, if you want to set the default coordinates it's recommended to use `default-position` and `default-size` properties. Also, if you indeed want to create the resizing method, I assume it shouldn't be the global application method.

[2022-03-05 01:51] bgomes90 commented on #135
same problem here... any solution?

[2022-03-05 08:25] Norserium commented on #135
@bgomes90, there is [the workaround](https://github.com/Norserium/vue-advanced-cropper/issues/135#issuecomment-830052658) only now.

I suppose that the regular solution will be available in the next major release on the analogy of [react-advanced-cropper method](https://norserium.github.io/react-advanced-cropper/docs/components/Cropper#setimageimage):
[code]

[2022-03-08 15:43] Norserium commented on #135
@bgomes90, if you need to preserve the transparency just set the `image/png` during the transformation to `DataURL` or `Blob`. [The example](https://codesandbox.io/s/vue-advanced-cropper-change-background-1y71fk?file=/src/App.vue).

[2022-03-10 22:16] depressedpsychiatrist opened #182 "Cropper does not show in Modal until window is resized"
I am using bootstrap modals. When I refresh the page and open the modal the copper doesn't show. But when I resize the window in some way; like resizing the inspect element window or maximizing chrome, the cropper then shows up. If I close the modal then and reopen, the cropper will show.

![vue-advanced-croper-modal](https://user-images.githubusercontent.com/62022057/157765482-8578c931-cde7-466e-

[2022-03-10 23:19] Norserium commented on #182
@depressedpsychiatrist, hello!

1. When the external container has `display:none` the cropper can't set own size properly.
2. When you resize the window, it calls `cropper.refresh` method internally, it recalculates the size of cropper.

You can call this method on your own when modal is opened (i.e. the container is visible). [The example](https://codesandbox.io/s/distracted-sky-rns17n?file=/src/

[2022-03-10 23:21] depressedpsychiatrist commented on #182
Thanks for the quick reply.

[2022-03-10 23:22] depressedpsychiatrist commented on #182
Thanks for the quick reply.

[2022-03-10 23:22] #182 closed

[2022-03-11 13:16] DirkBroenink opened #183 "Grabbing doesn't work (for all Cropper types)"
I have a Classic Cropper.

For some reason the Grabber doesn't work. It's not showing as a 'Grabbing' cursor (though I can override it to be). And it's not actually grabbing and moving the image.

I've tried other Cropper types as well.

Is it possible that some other component is overriding the settings?

This is the code.

[code]

[2022-03-11 13:27] Norserium commented on #183
@DirkBroenink, hello! I don't get what do you want to get? Change the cursor that appears when you move a mouse pointer on the stencil? [It's pretty simple](https://codesandbox.io/s/vue-advanced-cropper-change-cursor-eqyedv).

[2022-03-11 13:34] DirkBroenink commented on #183
Hi @Norserium ,

That's a quick answer!

I've been able to change the cursor, thanks. However the grabbing does not actually work. If I click and try to move the image it doesn't move the image. All other functionality of the component actually works.

[2022-03-11 13:36] Norserium commented on #183
@DirkBroenink, could you record a video? I assume you can't move image, because it's not zoomed.

[2022-03-12 10:23] DirkBroenink commented on #183
https://user-images.githubusercontent.com/4138715/158014173-6dc0a7f6-8c6e-4e74-b33b-7e661fce7e6d.mp4

First I resize the selection window, which works fine.

As you can see inside the selection window the cursor is not correct. And it doesn't respond when I click on it and try to drag the selection window.

Zooming the image works fine.

[2022-03-12 12:06] Norserium commented on #183
@DirkBroenink, it looks that you have a some sort of unusual configuration. Could you reproduce this issue in the codesandbox? Could you provide more code? Do you have any errors in the console?

[2022-03-16 13:23] DirkBroenink commented on #183
I still don't know what it could be. I had tried quite some different components for trying to achieve what in the end I managed to achieve with your component. Perhaps one of those components changed some CSS significantly. I am just guessing and quite new to Vue. You can close this issue I think.

[2022-03-16 13:37] #183 closed

[2022-03-16 14:03] manyasone opened #184 "Limit boundaries to image area after rotation"
Hi,

is it possible to limit the boundaries after rotating the image, so that this is not possible anymore:
![image](https://user-images.githubusercontent.com/20860040/158605147-e0cb9632-7c93-4948-a387-a06220be715b.png)

Instead, the corners of the stencil should always be within the image, so that there can no black area get cropped:
![image](https://user-images.githubusercontent.com/20860040/158

[2022-03-16 16:47] Norserium commented on #184
@manyasone, well, it's the good question.

The short answer: it's impossible right now.

The long answer: there are some ideas, proof of concepts and approaches that can turn to the solution. But it's too soon to talk about it. I don't have much time to work at the cropper now, so the development is moving very slowly.

Perhaps, it's possible to use a custom auto zoom to implement this feature (li

[2022-03-17 07:37] manyasone commented on #184
Allright, thanks!
I had already thought of the possibility to use auto zoom on rotate - maybe I'll try it this way.

[2022-03-17 07:37] #184 closed

[2022-03-17 09:51] Norserium commented on #184
@manyasone, I forgot to mention the another point.

If the image is not rotated the bounding box for the stencil.

It doesn't depend on its figure:
![image](https://user-images.githubusercontent.com/9862719/158781032-8332a52d-7193-496c-bfb0-a9ec8ce8321e.png)
It gives the possibility to use any possible figure for the stencil (rectangle, rounded rectangle, circle, triangle and etc.). The cropper do

[2022-03-18 11:27] Domepo opened #185 "Image filters"
# Question
Is there any good way to apply filters (contrast, saturation, brightness, etc.) to the cropped image?

# Problem
There is a way to manipulate an image via css, but its not a global change. The preview image for example is not affected
[code]

[code]

[2022-03-18 12:54] Norserium commented on #185
@Domepo, hello!

There is no a good way now.

You can apply `filter` to image and preview simultaneously. [The example](https://codesandbox.io/s/vue-advanced-cropper-img-filters-fv5d9b?file=/src/App.vue). The limitations are obvious: the number of filters will be limited and you need to apply them to the cropped image separately.

You can change the image itself. It's the most flexible way, but th

[2022-03-18 12:55] Norserium commented on #180
@ijunaid8989, any news?

[2022-03-18 12:55] Norserium commented on #176
@rafalolszewski94, any news?

[2022-03-18 12:56] Norserium commented on #170
@Benoit1980, any news? No pressure, just check the status.

[2022-03-18 12:57] Domepo commented on #185
Tanks a lot!

[2022-03-23 22:54] depressedpsychiatrist opened #186 "Cropper src uses other cropper components data"
I have used the cropper in a component called ImageSelector. In this component I can choose multiple files as input, I display them on screen. Users can click the edit button next to each image, a modal will appear and the selected image will be the src of the cropper component. (clicking the edit button sets the toBeEdited data variable to the selected image)
This works fine when I use the ImageS

[2022-03-24 11:13] Norserium commented on #186
@depressedpsychiatrist, hello again!

It's not the cropper issue. The problem is that you open the same modal in the each of instance `ImageSelector`. The first one. You can solve this issue by using refs to open modal, not the id, because the id is the same for all modal instances.

[Example](https://codesandbox.io/s/vue-advanced-cropper-bootstrap-modals-jqhuul?file=/src/components/ImageSelector.

[2022-03-25 06:19] depressedpsychiatrist commented on #186
A silly mistake by me, laughed so hard when realized it.
Thanks so much for your time.

[2022-03-25 06:19] #186 closed

[2022-03-25 08:12] Norserium commented on #186
@depressedpsychiatrist, you are welcome!

[2022-03-27 08:16] rafalolszewski94 commented on #176
**Resolved** with your CSS solution plus I changed some settings afterwards anyway.

As a recommendation I would promote most the twitter example, because I believe it's closest to most used world-wide cropper behaviour.

[2022-03-27 09:03] Norserium commented on #176
@rafalolszewski94, in the future I will rewrite the documentation to make it similar to `react-advanced-cropper`. So an user will be able to see the most popular cropper solutions on the main page. The link to the source code is available in the info section.

[2022-03-27 09:03] #176 closed

[2022-04-11 12:32] Norserium commented on #180
@ijunaid8989, any news?

[2022-04-11 12:32] Norserium commented on #170
@Benoit1980, any news?

[2022-04-11 12:50] Benoit1980 commented on #170
My apology, got super busy and totally forgot to post back as I moved on with other projects.

What I did is this:

VUE
[code]

//AXIOS
[code]

LARAVEL
`            'file1' => 'nullable|mimes:jpeg,png,jpg|max:10240',`

[2022-04-11 17:53] Benoit1980 commented on #170
You are welcome, I did not as it seems to be working on the Laravel side like this. But instead of having a validator looking for an "image" I added "mimes:jpeg,png,jpg" and it seems to be picking up the files correctly upon upload.

[2022-04-11 19:26] Norserium commented on #170
Well, my assumption is that probably `image` validator check the mime type by file extension (in contradistinction to `mimes` validator). The experiment was proposed to check this assumption. Otherwise it's need to dive into the sources and it far more long way.

In any case, all is well that ends well. I close issue then, feel free to reopen it.

[2022-04-11 19:26] #170 closed

[2022-04-24 22:12] alexandru-dodon opened #187 "Empty pixels are removed on the left and top - Safari"
Looks like there is an issue on Safari: when making an image smaller than the stencil and leaving empty pixels on the left side and the top, the canvas returned by the package cuts those pixels.

Here's the image within the cropper (the orange background is on the cropper for illustration purposes):
<img width="861" alt="Screenshot 2022-04-25 at 01 06 37" src="https://user-images.githubusercontent

[2022-04-25 00:06] Norserium commented on #187
@alexandru-dodon, hello!

Thank you for the valuable report, I will investigate this issue.

Could you take a look at [this sandbox](https://codesandbox.io/s/react-advanced-cropper-kkvbz) and test your case here (it's the similar library)? Did you try to reproduce this issue in another croppers?

[2022-04-25 09:10] alexandru-dodon commented on #187
@Norserium I haven't tested with other croppers for now (haven't had the time). However, the sandbox you're pointing to restricts the image from being zoomed out until it's smaller than the cropper. I will change the parameters to allow this to happen and will test on Safari, but later today. Thank you for the quick reply!

[2022-04-25 09:14] Norserium commented on #187
@alexandru-dodon, there is [the another sandbox](https://codesandbox.io/s/react-advanced-cropper-image-restriction-none-vio3rh?file=/src/index.tsx).

[2022-04-25 11:30] alexandru-dodon commented on #187
@Norserium just tested and the same thing seems to be happening on Safari.

Here's the cropper:
<img width="1371" alt="Screenshot 2022-04-25 at 14 27 36" src="https://user-images.githubusercontent.com/8373555/165080158-1c41b913-150d-4153-9793-2261a5f7b784.png">

Here's the cropped image:
![image](https://user-images.githubusercontent.com/8373555/165080207-4b02912d-9516-4272-91a1-6247166739cb.png)

[2022-04-25 13:12] Norserium commented on #187
@alexandru-dodon, it's my cropper and it's similar under the hood, so it was predictable. Could you test any other croppers?

[2022-04-25 13:53] alexandru-dodon commented on #187
@Norserium I will try, but don't know if will get the chance to do that today.

[2022-04-25 14:17] Norserium commented on #187
@alexandru-dodon, don't worry, there is no rush here.

[2022-05-09 10:18] alexandru-dodon commented on #187
@Norserium I fixed the issue locally. The problem is in `drawImage` because Safari ignores negative `sx` and `sy` values, so we have to default `sx` and `sy` to 0 while offsetting `dx` and `dy` by the values that were in `sx` and `sy`.

I can share the code later in the evening if you need it.

[2022-05-09 10:59] Norserium commented on #187
@alexandru-dodon, thank you! The code will be very helpful.

[2022-05-21 14:50] jinfagang opened #191 "how to use it without npm?"
just vanilla html, how to using this

[2022-05-21 14:58] Norserium commented on #191
@jinfagang, there is [the guide](https://norserium.github.io/vue-advanced-cropper/introduction/getting-started.html#using-cdn) in the documentation how to use it without NPM.

[2022-06-08 11:07] Norserium commented on #191
@jinfagang, any news?

[2022-06-08 11:07] Norserium commented on #187
@alexandru-dodon, any news?

[2022-06-08 15:58] ijunaid8989 commented on #180
Hi, sorry for the delay but you can close the issue now because I have stop working on that issue in the actual repository where I was trying to be create the feature.

[2022-06-08 15:58] #180 closed

[2022-06-15 14:38] artemaminov opened #194 "Module '"vue-advanced-cropper"' has no exported member 'TransformableImage'.ts(2305)"
**Module '"vue-advanced-cropper"' has no exported member 'TransformableImage'**

    <script setup lang="ts">
    import debounce from "debounce";
    import { TransformableImage } from "vue-advanced-cropper";
    ...

Or **'default' is not exported by node_modules/vue-advanced-cropper/dist/index.esm-bundler.js** if

    <script setup lang="ts">
    import debounce from "debounce";
    import Tran

[2022-06-15 18:41] lastlink opened #195 "not working on mobile"
* used base64 image, if screen too small then cropper doesn't work. appears fine, but can't drag it anywhere.
* using iphone se

[2022-06-15 19:32] Norserium commented on #194
@artemaminov, what's version of `vue-advanced-cropper` do you use?

[2022-06-15 19:32] Norserium commented on #195
@lastlink, could you provide the video of bug reproducing?

[2022-06-15 19:45] Norserium commented on #195
@lastlink, do you have the similar issue when you use a link to an image or upload it via blob?

[2022-06-15 19:57] artemaminov commented on #194
"vue-advanced-cropper": "^2.8.1",

[2022-06-15 20:00] artemaminov commented on #194
I'm new to TS and JS and did fixed that issue creating vue-advanced-cropper.d.ts file and included it from tsconfig.json

    import { TransformableImage } from "vue-advanced-cropper";
    module 'vue-advanced-cropper' {
      export declare const TransformableImage;
    }

Is it correct?

[2022-06-15 20:44] lastlink commented on #195
I render the image as base64 after uploading. (but not submitted to the server yet). I was able to replicate it in the browser by changing to screen size to be much smaller. idk if there is an auto size canvas issue if it's too small.

[2022-06-15 22:55] lastlink commented on #195
I figured out the issue, when the screen was smaller and I opened the inspect page there was a div from bootstrap that was covering the cropper causing the drag to fail and not be clickable. By moving the cropper to the bottom of my form and removed this issue.

[2022-06-15 22:55] #195 closed

[2022-06-15 23:03] Norserium commented on #195
@lastlink, all is well that ends well.

[2022-06-15 23:07] Norserium commented on #194
@artemaminov, actually you have found the bug in the typings.

Try to remove this fragment:
[code]

And update to `2.8.2`.

[2022-06-16 09:57] artemaminov commented on #194
It's pass now. Thank you for the great work and lightning fast respond!

[2022-06-16 09:57] #194 closed

[2022-06-16 13:15] gustavopradoreis opened #196 "The cropped images is getting 5x more heavy then the original"
Hi guys, i'm using the plugin in my application, and i'm facing a big problem, the cropped image is getting at least 5x more size then the original, example:

I uploaded a image with 167KB, after the crop the image has with 553KB.

Is some config i have to change to keep the size of the original image? or is something i'm doing wrong, someone can help me?

[2022-06-16 17:30] Norserium commented on #194
@artemaminov, you are welcome!

[2022-06-19 23:03] darkylmnx opened #198 "cropper.reset not reseting rotation & flip done prior"
I'm doing some tests and the reset method on the cropper does not reset the rotation nor the flip.

[2022-06-20 09:01] Norserium commented on #198
@darkylmnx, try to update to `1.11.0`.

[2022-06-21 13:02] gustavopradoreis commented on #196
Hi everyone, @Norserium helped me, we talked in telegram. The problem was the image quality, after setting manually the quality to 0.75, i was able to get my image in almos the same size, here an example:

`
newTab.document.body.innerHTML = `<img src="${result.canvas.toDataURL(
  this.image.type,
  0.75
)}"></img>`;
`

[2022-06-21 13:02] #196 closed

[2022-06-23 17:01] lucianobosco commented on #198
Any fast fix for Vue 3?

[2022-06-23 18:37] Norserium commented on #198
@lucianobosco, it's fixed in `2.8.3` now also.

[2022-06-23 19:39] lucianobosco commented on #198
Tested and working. You rock!

[2022-06-23 20:21] Norserium commented on #198
@lucianobosco, you are welcome!

[2022-06-27 08:35] Norserium commented on #135
@Shuky, @trpx,  just for your information. I assume that in the next major release it will be implemented in [this manner](https://norserium.github.io/react-advanced-cropper/docs/tutorials/image-editor). Any feedback is appreciated.

[2022-06-28 13:25] RuhiuEdwin opened #200 "Rendered Size of image is 0"
I am new to vue-adnavced-cropper, i tested it out as documented and it worked perfectly with unsplash images, but when I refactored to use with images fetched from my database, the image's was rendered as detailed below

Rendered size: | 16 × 0 px
-- | --
Rendered aspect ratio: | 1∶0
Intrinsic size: | 1520 × 2048 px
Intrinsic aspect ratio: | 95∶128
File size: | 232 kB

how can I change the rendere

[2022-06-30 12:20] Norserium commented on #200
@RuhiuEdwin, any news?

[2022-07-03 00:52] darkylmnx commented on #198
@Norserium sorry for the late response, I fell pretty sick. Yes it seems everything is fine in 1.11.1

[2022-07-03 00:53] #198 closed

[2022-07-03 09:50] Norserium commented on #198
@darkylmnx, I wish you a speedy recovery!

[2022-07-08 12:15] pratimawaghmare opened #202 "cropper component is not working - TypeError: Object(...) is not a function"
I have a Vue app where I call the cropper component in a modal, the modal is called onclick of an icon. whenever I click on the icon to open the modal it shows the below errors,
[code]
[code]
Here is a code snippet for it
[code]
I also see some warnings like this in the logs
[code]

[2022-07-08 15:10] Norserium commented on #202
@pratimawaghmare, what's the version of `vue` / `vue-advanced-cropper` do you use?

[2022-07-08 17:25] Norserium commented on #202
@pratimawaghmare, what's exactly version of `vue` do you use? It's hard to reproduce your bug, so I need your help here. Did you try to move `cropper` outside the modal window?

[2022-07-09 18:26] pratimawaghmare commented on #202
@Norserium sorry, I got confused with some other project's version. Actually, I am using Vue version 2.6.12 and vue-advanced-cropper version 1.11.1.
And, yes I tried rendering the cropper outside the modal window, but I am getting the same error.

[2022-07-09 20:27] Norserium commented on #202
@pratimawaghmare, look more carefully. I'm pretty sure that you have versions mismatch. I assume that you have indeed `vue@2.x.x`, but you have installed `vue-advanced-cropper@2.x.x`.

[2022-07-12 12:02] MarisKay opened #203 "pls disregard, answer found ..stencil area always smaller than image by default"
Pls disregard, already found an answer in example codes. Thank you!

Hello, i use the cropper with the following code
      <cropper v-show="imageInCanvas"
                 ref="cropper"
                 class="cropper"
                 :src="image.src"
                 :min-width="minWidth"
                 :stencil-component="stencilComponent"
                 :stencil-props="{
              min

[2022-07-12 12:49] #203 closed

[2022-07-15 11:19] pratimawaghmare commented on #202
you were right, it was a version mismatch, uninstalling and reinstalling the library resolved it. Thanks for the help.

[2022-07-15 11:21] Norserium commented on #202
@pratimawaghmare, you are welcome!

[2022-07-15 11:21] #202 closed

[2022-07-18 20:20] mtzrmzia opened #205 "Twitter range slider example with TypeScript"
Is there any example with this example but using TypeScript and vue 3?

[2022-07-18 22:36] Norserium commented on #205
@IsidroMar95, there are no official example for TypeScript / Vue 3.

[2022-07-31 08:32] itsamirhn opened #207 "Error: Cannot read property 'aspectRatios' of undefined"
In some use cases, some of our users get this error:

and It's accruing in this [line](https://github.com/advanced-cropper/vue-advanced-cropper/blob/e1df48e2f13bb5e420385956751b83625be2bdfb/src/Cropper.vue#L1197).

Would you please help me what's the problem?

[2022-07-31 09:30] Norserium commented on #207
@itsamirhn, this error is indeed theoretically possible.But the conditions are not clear at all. How did you get this information? Did you get it from Sentry?

[2022-07-31 10:51] itsamirhn commented on #207
Yes it was from Sentry, Do you need any more information?

[2022-07-31 14:02] Norserium commented on #207
@itsamirhn, the full trace log would be helpful.

[2022-08-01 09:11] Norserium commented on #207
@itsamirhn, I assume it's possible if an user change something and within 500 ms swaps to an another page, but it should be pretty rare case.

How often is this error (in particular, relative to another errors)?

[2022-08-01 09:55] Norserium commented on #207
@itsamirhn, how much cases? Could you send the full screenshot of your issue to my email?

[2022-08-01 18:17] itsamirhn commented on #207
Oh same, we're using it in a modal view.

[2022-08-01 20:45] Norserium commented on #207
@itsamirhn, @emmanuelsw, try to update to `1.11.3` (if you use Vue 2, of course).

[2022-08-03 13:50] itsamirhn commented on #207
After some testings, It seems the problems was when I was using cropper as modal ([Vuetify v-dialog](https://vuetifyjs.com/en/components/dialogs/) in this case) and a stepper in the background ([Vuetify v-window ](https://vuetifyjs.com/en/components/windows/) in this case) and when the user stretch the crop border outside the modal, stepper was going to the next page and causes the error.

At the

[2022-08-03 13:50] #207 closed

[2022-08-03 13:51] Norserium commented on #207
@itsamirhn, did you try update to version `1.11.3` only? It would be helpful for me.

[2022-08-03 19:06] itsamirhn commented on #207
Yes, And it was fine. Thanks for your update.

[2022-08-03 19:08] Norserium commented on #207
@itsamirhn, it's great!

[2022-08-04 12:22] 15120822558 opened #208 "图片90度旋转后可视框怎么调整占满图片？？"
图片90度旋转后可视框怎么调整占满图片？？
图片90度旋转后可视框怎么调整占满图片？？
图片90度旋转后可视框怎么调整占满图片？？

[2022-08-04 13:00] 15120822558 commented on #208
上传不了图片，就是有一个剪切框。
想在图片旋转90度的时候，剪切框一直都是剪切整张图片的区域的，
或者去掉剪切框直接可以预览整张图片

[2022-08-04 13:32] Norserium commented on #208
Translate to English:

When the picture is rotated by 90 degrees, the clipping box will always clip the entire picture area.
Or remove the cutout box to preview the whole picture directly

The translator didn't help here, I still don't understand the issue. Let's use images to clarify your issue. Could you illustrate your problem?

[2022-08-12 13:16] Norserium commented on #200
@RuhiuEdwin, any news?

[2022-08-12 13:16] Norserium commented on #191
@jinfagang, any news?

[2022-08-12 13:16] Norserium commented on #187
@alexandru-dodon, any news?

[2022-08-16 10:22] Norserium commented on #200
@RuhiuEdwin, I close issue, feel free to reopen it.

[2022-08-16 10:22] #200 closed

[2022-08-16 10:22] Norserium commented on #191
@jinfagang, I close issue, feel free to reopen it.

[2022-08-16 10:22] #191 closed

[2022-08-16 10:23] Norserium commented on #208
@15120822558, any news?

[2022-08-17 10:06] kelvz-hub opened #209 "CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource"
Hi I used advanced-cropper to crop image from amazon s3 bucket but CORS policy issue shown.
Is there another way to do this?
![image](https://user-images.githubusercontent.com/65855586/185092964-a8a09c7c-a60a-4c35-b60e-20601791ebd6.png)

[2022-08-17 10:28] Norserium commented on #209
@kelvz-hub, is [this guide](https://advanced-cropper.github.io/vue-advanced-cropper/guides/cross-origin.html#how-does-it-relate-to-cropper) can be helpful for you?

[2022-08-17 10:43] kelvz-hub commented on #209
It works when the image is from local computer but my problem is I get the image from s3 bucket

[2022-08-17 10:52] Norserium commented on #209
@kelvz-hub, well, it's the common issue with AWS. Try to set CORS configuration on that side correctly: https://docs.aws.amazon.com/AmazonS3/latest/userguide/cors-troubleshooting.html.

[2022-08-17 11:35] kelvz-hub commented on #209
I set cors config in s3 bucket but not working
[
    {
        "AllowedHeaders": [
            "*"
        ],
        "AllowedMethods": [
            "GET"
        ],
        "AllowedOrigins": [
            "*"
        ],
        "ExposeHeaders": [
            "Access-Control-Allow-Origin"
        ],
        "MaxAgeSeconds": 3000
    }
]

[2022-08-17 12:01] Norserium commented on #209
1. Check that your link opens in the browser.
2. Try to set the following config for CORS policy:
[code]

[2022-08-17 15:01] Norserium commented on #209
@kelvz-hub

[2022-08-18 01:38] kelvz-hub commented on #209
i tried but no luck

[2022-08-18 08:34] Norserium commented on #209
@kelvz-hub, does the passed link opens in the browser? Try to click at the link in the error.

[2022-08-18 14:01] kelvz-hub commented on #209
Hi thanks for the reply the image show but i cant get the cropped image now the error is "Error in v-on handler: "TypeError: Cannot read properties of undefined (reading 'toDataURL')"" and my code when crop button clicked is:

const result = this.$refs.cropper.getResult();
const crop = result.canvas.toDataURL(
    "image/jpg"
);

[2022-08-19 02:35] kelvz-hub commented on #209
Here's the result
![image](https://user-images.githubusercontent.com/65855586/185530570-e1e98393-15a1-4f21-a706-11efae8006d8.png)

[2022-08-19 06:13] RPainter8West opened #210 "Vue 3 support"
Please update the NPM dependencies to include Vue v3+
![image](https://user-images.githubusercontent.com/53478701/185554825-8fb3d6c3-4924-4ebc-8e45-4d65b0b08a62.png)

[2022-08-19 08:36] Norserium commented on #209
@kelvz-hub, look, there is no `Access-Control-Allow-Origin` header. The problem on the storage configuration side. Try to check the section "[Troubleshooting CORS methods](https://aws.amazon.com/premiumsupport/knowledge-center/s3-configure-cors/)".

[2022-08-19 08:40] Norserium commented on #210
@RPainter8West, I see that you tried to install `vue-advanced-cropper@1.11.3`. This version is designed for Vue 2. To install this library for Vue 3 install the next version: `vue-advanced-cropper@~2.8.3`.

[2022-08-19 10:24] kelvz-hub commented on #209
![image](https://user-images.githubusercontent.com/65855586/185599043-f12a6a62-1a04-4ab1-8e56-5fcc685bac7e.png)
It shows that I configured it correctly

[2022-08-19 10:26] kelvz-hub commented on #209
![image](https://user-images.githubusercontent.com/65855586/185599367-f0d06da2-207c-4c0d-90cf-bb5a9791eb00.png)
It shows that i configured it correctly

[2022-08-19 10:52] Norserium commented on #209
@kelvz-hub, it's definitely strange. Try to use that image in [the sandbox](https://codesandbox.io/s/vue-avanced-cropper-basic-jfy5w).

[2022-08-20 13:30] kelvz-hub commented on #209
Hi, I have an update to this issue I passed query parameter as part of the image url like this https://image/folder/test.png?test=true and it works

[2022-08-20 13:32] Norserium commented on #209
@kelvz-hub, it looks like your image was cached before you set the correct CORS settings at the Amazon Storage.

[2022-08-20 13:33] Norserium commented on #209
Try to reproduce the error in the private mode.

[2022-08-20 13:39] kelvz-hub commented on #209
I tried it in google incognito but also show cors issue without the query parameter. The strange part is when i change the word "test" to any word the trick is not working so i stay to use "test" as my query param for every images

[2022-08-20 17:06] Norserium commented on #209
@kelvz-hub, I've tried your image in the sandbox and it works.

![image](https://user-images.githubusercontent.com/9862719/185758490-ef299c56-0218-41b9-84c5-88d8690b473d.png)

Could you provide the screenshot of response headers for both image requests?

[2022-08-22 05:29] kelvz-hub commented on #209
yes I also tried it in the sandbox and it works only in my end is not working

[2022-08-22 10:22] Norserium commented on #209
@kelvz-hub, well it's strange. Does it work with any query parameter on your side? Did you try to reproduce this issue in an another browser?

[2022-08-22 10:23] Norserium commented on #209
Cold you send me the response headers for both image request when this issue is reproduced?

[2022-08-22 10:32] Norserium commented on #210
@RPainter8West, any news?

[2022-08-22 14:15] RPainter8West commented on #210
Sorry, my fault. I didn't see the other package version.

[2022-08-22 14:15] #210 closed

[2022-08-27 07:05] kevpug opened #211 "When you rotate an image, the flip function reverse horizontal and vertical"
When you rotate an image, the flip function of the cropper doesn't adapt to the rotated image.
So flip function with 90 on horizontal flips horizontally until you, for example, rotate right. After that, it will rotate vertically.

_I made a codesandbox with buttons to test the rotate/flip functions._
https://codesandbox.io/s/eager-chatelet-jhnm5d

Steps to repeat the problem:
1. Go on my codesandb

[2022-08-27 10:36] Norserium commented on #211
@kevpug, it's kind of intentional decision.

If you look at the different croppers in common websites / applications you will find out that croppers resolves this case differently.

Look at the screenshot:
![image](https://user-images.githubusercontent.com/9862719/187025957-abfe2384-26ce-4e41-8f10-15eb8db5b3ec.png)

It's not obvious how flip should behave in this particular case.

So I decide to n

[2022-08-27 10:45] Norserium commented on #211
@kevpug, if you have your own opinion on this matter, don't hesitate to write it. It's important to me.

[2022-08-27 12:45] Norserium commented on #211
@kevpug, I assume that it will look in the next release like:
[code]

Actually it's implemented in `react-advanced-cropper` now. Feel free to [play with it](https://advanced-cropper.github.io/react-advanced-cropper/).

[2022-08-27 23:38] kevpug commented on #211
Firstly, thanks for all the answers that's some QUALITY service ahah

For my opinion, I like to put myself in the place of a user of your cropper... you would want it to be as straight forward as possible. So, you wouldn't want the user to need to imagine the initial picture in his mind to flip it correctly when the one he is working with is rotated.

I feel that you did it perfectly with the reac

[2022-08-28 09:39] Norserium commented on #211
@kevpug, you are welcome!

Thank you for your feedback.

I assume that it could well be an another breaking change, so it may be enabled by default. There are a lot of them already, because I need to make API of `vue-advanced-cropper` match to `react-advanced-cropper` that pretty different, but better in many aspects.

 I will leave this issue open until I will think out something. Perhaps, until

[2022-08-28 09:46] Norserium commented on #208
@15120822558, I close issue, feel free to reopen it.

[2022-08-28 09:46] #208 closed

[2022-08-28 09:46] Norserium commented on #209
@kelvz-hub, any news?

[2022-09-26 12:00] kelvz-hub commented on #209
@Norserium I used this solution

[2022-09-26 13:56] Norserium commented on #209
@kelvz-hub, it's barely solution, because we don't know why it works. Anyway, I close this issue, but feel free to reopen it if the issue returns.

[2022-09-26 13:56] #209 closed

[2022-09-29 16:03] rustre-undefined opened #213 "Reset method fire this.$refs.stencil is null"
Hello I call reset method on a ref of Cropper component and I have this error `Uncaught TypeError: this.$refs.stencil is null`, if any of you have an idea to solve that. Thanks for your time!

Codebase intentionaly simplified:
[code]

[2022-09-29 17:24] Norserium commented on #213
@rustre-undefined, hello. Could you reproduce this issue on sandbox?

[2022-10-01 21:23] upperhouse commented on #187
Hello @Norserium. Wondering if you have found any possible workaround on this?
Thank you.

[2022-10-02 00:16] alexandru-dodon commented on #187
@Norserium sorry, I disappeared! I had a very long break from work and all.

I've opened a PR into `vue-next` to fix this issue: https://github.com/advanced-cropper/vue-advanced-cropper/pull/214

[2022-10-02 09:36] Norserium commented on #187
@alexandru-dodon, thank you! Could you move the changes to the `master` branch and make PR into `master`? I can do it myself if you don't mind.

[2022-10-03 09:43] Norserium commented on #187
@alexandru-dodon, I moved your commit to `master` (with preserving the authorship). The pull request was closed. Thank you for your contribution again.

[2022-10-03 22:35] upperhouse commented on #187
@Norserium, thanks for your help. I am running into errors when attempting to build this via Parcel:

`🚨  /Users/erikoberhausen/Documents/upperhouse/sukle/awkwardagent/_dev/vuecropper/vuecrop/node_modules/vue-advanced-cropper/dist/index.es.js: Unexpected token: punc (.)
    at Z.get (/opt/homebrew/lib/node_modules/parcel-bundler/node_modules/terser/dist/bundle.min.js:1:525)
    at Object.errorToJs

[2022-10-03 23:13] Norserium commented on #187
@upperhouse, try to update to `1.11.5`.

[2022-10-04 09:38] upperhouse commented on #187
@Norserium, all looks good.
Build is successful and issue in Safari is fixed.

Thanks very much!

[2022-10-04 10:36] Norserium commented on #187
@upperhouse, that's nice. I close issue then.

[2022-10-04 10:36] #187 closed

[2022-10-04 13:53] quantumwebco opened #215 "Image doesn;t fill space, weird zoom issue"
I am using a basic implementation but the image loads weird, not filling the Cropper and the stencil is zoomed in and cuts the image off
<img width="1112" alt="image" src="https://user-images.githubusercontent.com/12368817/193837861-5bba6430-fc72-4a52-925b-06f517a12073.png">
<img width="1116" alt="image" src="https://user-images.githubusercontent.com/12368817/193837914-49532df6-9d02-4dec-9d2b-fd3d

[2022-10-04 14:02] quantumwebco commented on #215
In a random style sheet from another plugin it had ```img {max-height: 100%; max-width: 100%;}``` overriding these to ```none !important``` fixed it

[2022-10-11 15:49] waysagency opened #216 "[Vue warn]: Invalid vnode type when creating vnode: null."
Hi there,

I'm getting the following error.

[code]

This happens when I try to access the cropper component through a ref.

[code]

Could someone help me out? Is this a bug or something?

If you need anything else, please let me know

[2022-10-12 08:18] Norserium commented on #202
@ProphetRen, that's easy. If you use Vue 2 you should use `vue-advanced-cropper@latest`, if you use Vue 3 you should use `vue-advanced-cropper@next`.

[2022-10-12 09:15] Norserium commented on #216
@waysagency, hello. I assume it's not the library specific issue.

When you use the `<script setup>` syntax top-level bindings are exposed to template.

Therefore when you write:
[code]

You expose to your template `cropper` variable. Then you use it as the component and it produces the error, because it's not component at all.

Rename it to `cropperRef` to testify my assumption.

[2022-10-12 09:18] Norserium commented on #213
@rustre-undefined, try to update to `2.8.6`. Perhaps, it could help.

[2022-10-12 15:53] waysagency commented on #216
Hi @Norserium,

Thanks for the quick solution. This indeed was the problem and your assumption works great.

Thanks!

[2022-10-12 15:53] #216 closed

[2022-10-12 17:27] Norserium commented on #216
@waysagency, you are welcome!

[2022-10-31 09:13] rustre-undefined commented on #213
Sorry I haven't seen the answer :/
It was a mistake due the async behavior of image loading, everything is okay with the dependency!

[2022-10-31 09:13] #213 closed

[2022-10-31 09:14] Norserium commented on #213
@rustre-undefined, all well that ends well.

[2022-11-04 12:52] Emaxoso opened #218 "Can't get the current zoom level"
I don't know if this is a bug or a missing feature.
I am trying to get the current zoom of the cropper, since for security reasons I need to crop on the server side, I was trying to find the image scale size.

I'm using the next branch

[2022-11-04 14:07] Norserium commented on #218
@Emaxoso, hello!

First of all, why do you need to get the current zoom? To get the selected area you need coordinates only, they represent that area.

[code]

If you really need to get the current zoom, you should know that there is not concept of absolute zoom. There is the `visibleArea` property that represents the current visible area of an image.

[2022-11-05 11:57] Emaxoso commented on #218
I use the zoom to resize the image. First I do the cropping with the coordinates then I use the zoom to enlarge the image.

I was able to track the zoom by extending the Cropper component.
[code]

[2022-11-05 12:07] Norserium commented on #218
@Emaxoso, I still don't get why? Should the following images have the different sizes?
![image](https://user-images.githubusercontent.com/9862719/200118993-3adb6095-dd8f-4cd5-9f93-96fa292c9b45.png)
![image](https://user-images.githubusercontent.com/9862719/200119050-530fb44a-bb8f-4c31-b7bc-cfb40eb4e72b.png)

It's pretty strange, because the cropped part is the same in both cases.

[2022-11-29 15:20] robertexplodes opened #219 "Vue3 can not move stencil"
I am using Vue3 and added this library to my code.
I simply can select an image, and also resize the stencil, but I cant move the stencil around.
Also the area within the stencil has the same brightness as the image below.
When trying to move the stencil only the image will move (Only if zoomed).

![image](https://user-images.githubusercontent.com/56740540/204567924-44e2699f-4415-4aa8-9569-6ab9abd

[2022-11-29 16:48] Norserium commented on #219
@robertexplodes, just a guess, do you have somewhere the following styles?
[code]

[2022-11-29 17:01] robertexplodes commented on #219
@Norserium thank you, it works now!

[2022-11-29 17:01] #219 closed

[2022-11-29 17:22] Norserium commented on #219
@robertexplodes, you are welcome!