[2019-07-07 20:38] nekooee opened #1 "how to get result with double Click Or button?"
Hi
how can I get result with double Click Or button on the image?

[2019-07-08 08:19] Norserium commented on #1
Hello!

Currently, you are able to get the result only by subscribing to `change` event.
https://norserium.github.io/vue-advanced-cropper/tutorials/recipes.html#getting-result

It emits on every change of cropped area or image.

Do you need a special method to get the result (via ref, for example)? Why does it suit more to your goals than subscribing to event?

[2019-07-08 12:02] nekooee commented on #1
1- my image bind with the input form. when getting the result from a change event and set direct in form, it is repeated in the loop. see below:

![error](https://user-images.githubusercontent.com/6003803/60804504-ef15ef00-a192-11e9-8a23-25f50d382a66.gif)

2- The user expects, after the area he chose, with the key or double-click it to confirm and close the component, or it is canceled.

I try to

[2019-07-08 12:38] Norserium commented on #1
Look at the [demo](https://codesandbox.io/s/vue-template-nzpuk) please. Could you fix it to correspondent your problem?

[2019-07-08 22:56] Norserium commented on #1
I've added `getResult` method in `0.8.3`. The example of using this method is [here](https://norserium.github.io/vue-advanced-cropper/tutorials/recipes.html#getting-result).

[2019-07-09 08:40] nekooee commented on #1
very thank you.

[2019-07-09 09:33] Norserium commented on #1
You are welcome! Did it solve your problem?

[2019-07-09 09:38] nekooee commented on #1
Yes. my problem solved.  thanks

[2019-07-09 09:39] #1 closed

[2019-07-20 09:34] mms- opened #2 "default size/position and aspect ratio not respected"
Should this be working: https://jsfiddle.net/jt58ogf6/

[2019-07-20 11:39] Norserium commented on #2
Hello!

It's not exactly the problem of the current library, it's specific of [passing props to Vue components](https://vuejs.org/v2/guide/components-props.html).

So you should change the props names and you will get that you want
https://jsfiddle.net/norserium/0pmsowq1/

I've updated the documentation to make this aspect more clearly

[2019-07-21 06:50] mms- commented on #2
Of course, thanks!

[2019-07-21 06:50] #2 closed

[2019-07-27 11:34] basitiyidir opened #3 "@change and upload images problem"
Hello

1. Uploading pictures.
2. Adding the @change method.
3. Picture is growing forever.

Where am I making a mistake.

source code

https://jsfiddle.net/0x1b7oau/

[2019-07-27 11:40] Norserium commented on #3
Hello!

You upload image and put in `data.image`. When it's uploaded `data.image` changes, that emits  `change` event, that update `data.image` again and so on.

So you should keep your result in another variable. For example:
https://jsfiddle.net/5dj7taq4/

[2019-07-27 11:47] basitiyidir commented on #3
Very fast answer. :)

Problem is solved. Thank you for your help.

[2019-07-27 11:47] #3 closed

[2019-07-27 11:49] Norserium commented on #3
@basitiyidir, you are welcome!

[2019-07-30 00:26] denshest opened #4 "No 'Access-Control-Allow-Origin' header is present on the requested resource."
Hello! Your plugin are very usefull but I have a problem. My Vuejs project listen `8000` port on `localhost`, and API listen `8001`. I get this error when I want to get my image from Database:
[code]

[2019-07-30 09:17] Norserium commented on #4
Hello!

I suppose, that this problem is not specific to this library.

Add `<img src="http://127.0.0.1:8001/uploads/page_images/5d3f7f3270844593066656.jpeg"></img>` to your page to test it. If it appears, then I might be wrong.

If it doesn't appear, you should check your CORS settings on your server. It should allow cross domain requests at least for that images.

[2019-07-30 09:27] denshest commented on #4
Thanks @Norserium for your reply!
But I’m already check it. Image loading with <img src=...> but not loading if I use src in <Cropper>

[2019-07-30 09:38] Norserium commented on #4
Does you have any errors in the console? Could you provide the screenshot of them?

[2019-07-30 09:45] Norserium commented on #4
By the way, what a version of this library do you use?

[2019-07-30 09:52] denshest commented on #4
I'm using a `"vue-advanced-cropper": "^0.8.3"` version.
Image loading with my
`
<image href="http://127.0.0.1:8001/uploads/page_images/5d3f7f3270844593066656.jpeg"
                           xlink:href="http://127.0.0.1:8001/uploads/page_images/5d3f7f3270844593066656.jpeg"
                           preserveAspectRatio="xMinYMin"
                           image-rendering="optimizeQuality" ref="im

[2019-07-30 09:53] denshest commented on #4
With my `svg->image` its work perfectly

![Снимок экрана от 2019-07-30 12-52-53](https://user-images.githubusercontent.com/15803481/62119784-fe3b1900-b2c8-11e9-8139-b2a36064aa98.png)

[2019-07-30 10:21] Norserium commented on #4
I suppose, that the problem is occurred during placing the image at the hidden `canvas` element due security concerns.

This problem is described here:
https://developer.mozilla.org/en-US/docs/Web/HTML/CORS_enabled_image#Storing_an_image_from_a_foreign_origin

So you can to add `Access-Control-Allow-Origin` header to your server responses now as a temporary solution.

I will try to reproduce your

[2019-07-30 10:47] denshest commented on #4
It’s header already sends from my Symfony 4 backend. It works because I can use my API and give image with [img src..]
I think that problem with this library and getting image from remote server without request header
Thank you, for your reply. I will wait you

[2019-07-30 10:51] Norserium commented on #4
Could you provide the screenshot of response headers?

Example (from network tab of Chrome)
![image](https://user-images.githubusercontent.com/9862719/62123615-fd0dea00-b2d0-11e9-8123-faf20713df71.png)

[2019-07-30 10:58] denshest commented on #4
Response header what?
Getting image from img src?

[2019-07-30 10:58] Norserium commented on #4
Yes

[2019-07-30 11:20] denshest commented on #4
![image](https://user-images.githubusercontent.com/15803481/62125220-33e5ff00-b2d5-11e9-9748-c3ce248579b6.png)

[2019-07-30 11:47] Norserium commented on #4
The response headers doesn't contain `access-control-allow-origin` header. That's problem. If I even put this image at canvas, one becomes tainted and you will not be able to call `toDataURL` method on it.

But if you need to get only coordinates of cropped area, then it's possible event without that headers. In this case I should make some fixes.

[2019-07-30 11:50] denshest commented on #4
I want to use coordinates for my svg and I want to show preview with cropper)

I think I don't need the `toDataURL`

[2019-07-30 12:07] Norserium commented on #4
Then give me some time please. I should choose the best way to implement fixes.

[2019-07-30 13:03] Norserium commented on #4
Update to `0.9.0` and add `:canvas="false"` attribute to your cropper

[2019-07-30 13:06] denshest commented on #4
Thank you! I will check it soon.

[2019-07-30 13:34] denshest commented on #4
![image](https://user-images.githubusercontent.com/15803481/62133655-d1e2c500-b2e7-11e9-8e68-9aa122633ed3.png)

All works, thank you!
What about `@types/vue-advanced-cropper`? :)

[2019-07-30 13:43] Norserium commented on #4
I will consider it. Maybe I even rewrite this library to Typescript someday.

You are welcome!

[2019-07-30 15:46] #4 closed

[2019-08-10 16:48] yankaled opened #6 "Rotate mobile upload image"
Hi, Norserium. When uploading images on mobile, if the image is not - almost - a square - as it is the case with pictures taken with a mobile camera - it defaults to landscape orientation, even if the image was originally in portrait orientation. Is it possible to fix this? By the way, this is a great library, good work!!

[2019-08-11 23:16] Norserium commented on #6
Hello, @yankaled!

It's actually pretty complicated task. I've prepared the new release that fixes it, but it need to be tested.

The documentation is currently using `11.0.0` version of this library, so you can test it himself too by uploading that images here:
https://norserium.github.io/vue-advanced-cropper/tutorials/recipes.html#custom-restrictions

[2019-08-16 17:38] yankaled commented on #6
Thanks, @Norserium !! Yeah, I figured out it's a hard task when I tried to rotate the image with css and frontend script. I'll keep an eye out for your new release :)

[2019-08-16 18:51] Norserium commented on #6
I've released `0.11.0`. Please update to this version and check.

[2019-08-20 12:16] tschut commented on #6
Hi, I ran into the same thing. Upgraded to 0.11.0 and it's fixed :)

[2019-08-20 15:55] chris-copleston opened #7 "Programmatically maximise cropper"
Hi Norserium, thanks for sharing such as great component!

Is it possible to programmatically set the crop region? I am trying to implement a button that maximises it so it is easy to include all the image without dragging out the handles.

[2019-08-20 16:14] Norserium commented on #7
Hello!

Currently it's not allow.

But as a workaround you can call internal methods (it's workaround, because it's not documented approach and may be unavailable in future releases):
1. You can call `onChangeCoordinates(coordinates)` method, that is called internally to set coordinates. But it will not check if passed coordinates are allowed, so strange things may happen.
2. You can call `onResiz

[2019-08-21 04:22] yankaled commented on #6
Tested it as well, it's fixed!! Nice upgrade @Norserium !!

[2019-08-21 09:05] Norserium commented on #6
@yankaled, it's nice. I'm closing this issue now, if you encounter any problems with this aspect, write me.

[2019-08-21 09:05] #6 closed

[2019-08-21 10:05] chris-copleston commented on #7
Hey Norserium, that sounds like a great enhancement.

I look forward to it, many thanks!

[2019-08-21 12:44] Norserium commented on #7
I've updated the documentation, please read [this section](https://norserium.github.io/vue-advanced-cropper/tutorials/recipes.html#set-coordinates). If you have questions to API, feel free to ask them.

I'm currently testing this method, and after that I will release `0.12.0`.

[2019-08-21 18:12] Norserium commented on #7
@chris-copleston, I've released `0.12.0`. Please update to this version and check this feature.

[2019-08-22 01:21] warkior opened #8 "Rotation Bugs on iOS?"
Hi there,

I have been playing to Cropper trying to get it working for site users to upload profile images. I like the package a lot and have found it quite useful. We have found in some cases though, specifically with images loaded from iOS, the rotation is wrong when displayed in the preview window.

It may be due to PNG images having some other sort of alternate EXIF info. Not sure.
We are usin

[2019-08-22 01:34] rickkettner commented on #8
To add to this, I'm able to reproduce this issue with both an iPad and iPhone in a predictable way.  The rotation of the photo, when displayed in the cropping interface, is dependent on the rotation of the iOS device when it took the photo.  Even if the photo appears correctly on the iOS device, it will rotate 90 degrees to the left or right, or even appear upside down... all in a predictable way

[2019-08-22 08:28] Norserium commented on #8
Thanks for the detail description of the probable bug. Could you provide the image that causes bug for tests?

[2019-08-22 14:18] rickkettner commented on #8
@Norserium - Excellent questions.

The bug is consistently reproducible on both Safari and Chrome on iOS.  Both iPad and iPhone.

The version of the library we are using is "0.11.0".

Unfortunately I cannot provide an image for testing, because the issue appears to be tied directly to the image picker on iOS.  If I export the image via iPhoto or other means, it is converted into a JPEG that works

[2019-08-22 16:36] Norserium commented on #8
There is a catch, I don't have iOS devices right now, so me need some help to investigate and solve this problem.

Could you test uploading at [the documentation](https://norserium.github.io/vue-advanced-cropper/tutorials/recipes.html#upload-image) now? Screenshots of the uploading process will be useful.

[2019-08-22 17:00] chris-copleston commented on #7
Not only an outstanding and well though out solution, but extremely well documented too!

Many thanks Norserium!

[2019-08-22 17:00] #7 closed

[2019-08-22 17:11] rickkettner commented on #8
Surprisingly, I'm unable to reproduce the issue by using the uploader in your documentation.  So we updated to 0.12.0 to see if that would resolve it, and it did not.  I guess something about our implementation is causing the issue.  Not sure what though.

[2019-08-22 17:12] warkior commented on #8
Hi Norserium.

Thanks for helping us with this. We have upgraded to 0.12.1 with no change in the issue. It seems to work fine on my Android device. Just has some issues on the iOS devices.  I'm attaching the relevant code that we are using. I think it's pretty close to what you had in your examples. We are doing this inside a Vue component.

In the methods we have:
[code]

In template portion:
[co

[2019-08-22 17:15] Norserium commented on #8
It's good news, because the documentation uses the new **not released** version. Could you test it more detail?

[2019-08-22 17:18] rickkettner commented on #8
Yes I can test with more detail.  What would you like me to do?

[2019-08-22 17:22] Norserium commented on #8
Just experiment with different photos, images and etc. and iOS devices. I'm preparing the new release now.

[2019-08-22 17:29] rickkettner commented on #8
Okay, will do some testing now.

[2019-08-22 17:30] Norserium commented on #8
Could you test uploading photos and images at [this example](https://norserium.github.io/vue-advanced-cropper/tutorials/recipes.html#custom-restrictions)? This widget allows you to test the cropping canvas by clicking `Download result`.

[2019-08-22 17:36] rickkettner commented on #8
Okay, I tested the documentation one on iPad and iPhone with multiple browsers.  Will use that link to do further tests now.

[2019-08-22 17:40] rickkettner commented on #8
Okay, that widget also seems to work correctly.  Tested on iPhone with Safari and Chrome, and then on iPad with Safari.  Previewing photos and downloading the result all worked as expected.

[2019-08-22 17:45] Norserium commented on #8
I've published the new version `0.12.2`. Please update to this version.

[2019-08-22 18:07] rickkettner commented on #8
@Norserium - Thank you for your help!  That seems to have resolved the issue for us.  I appreciate the quick replies and this fix.

[2019-08-22 18:19] Norserium commented on #8
You are welcome! Thanks for testing!

[2019-08-22 18:19] #8 closed

[2019-08-22 18:27] Norserium commented on #8
@rickkettner, @warkior, thanks for information about the bug and testing!

[2019-08-27 23:04] Norserium commented on #4
@denshest, I assume, that in new versions of this library (0.11.0 and higher) you should set `checkOrientation` to `false` in your case, because to check an orientation of image the library needs access to an image content (the access is denied due your CORS settings).

[2019-09-10 17:04] gustavomelki opened #9 "TypeError: Property 'handleEvent' is not callable in Firefox"
Hi Norserium! I'm getting an error in console after selecting the image and passing the cursor over the document, just in Firefox:

`TypeError: Property 'handleEvent' is not callable.`

I'm using the last version 0.12.2.

Please, can you help?

[2019-09-10 17:09] Norserium commented on #9
Hello! Could you provide the minimal working example or video that illustrates problem?

[2019-09-10 17:36] gustavomelki commented on #9
I found the problem, there is not related to your library. It is related to Sentry, running in my application: https://forum.sentry.io/t/undefined-event-listener-results-in-property-handleevent-is-not-callable-error/4315

Thank you for the quick support.

[2019-09-10 17:37] Norserium commented on #9
You are welcome!

[2019-09-10 17:38] #9 closed

[2019-09-18 06:01] bluelupin opened #10 "Zoom in/out"
Is there any way we can zoom in or out the image.

[2019-09-18 08:27] Norserium commented on #10
Hello, @bluelupin!

This cropper implies that user resize and move stencil (that rectangle/circle) and one represents the cropped area.

Why do you need resize image?  Is there any example of what you want to get?

[2019-09-26 17:27] Willdta opened #11 "Coordinates do not clear properly when using Firefox"
When uploading an image the first time, it works as expected. When uploading another image consecutively after, the coordinates do not clear properly. Left and top coordinates become NaN and height and width stay the same.

On Chrome, coordinates clear properly each time.

[2019-09-26 17:37] Norserium commented on #11
Hello!

I've just tested this scenario and it is processed correctly.

Could you test uploading images at [this example](https://norserium.github.io/vue-advanced-cropper/tutorials/recipes.html#custom-restrictions)?

What's the uploading images? What's the version of Firefox do you use?

[2019-09-27 14:12] Willdta commented on #11
The version of Firefox I'm using is 69.0.1. The images are just regular PNG's, JPG's, JPEG's. I used the exact method you linked in the first place.

After further investigation, it seems like it clears at first but once my image is actually saved to the db, the coordinates mess up.

[2019-09-27 15:01] Norserium commented on #11
Let's define. Does this problem occur in my examples or this problem is specific to your code only? In the second case me need additional details about your code or an example at the [codesandbox](https://codesandbox.io/).

[2019-09-27 16:58] Willdta commented on #11
Do you want anything specific in terms of my code?

[2019-09-27 16:59] Norserium commented on #11
First of all, I want to know, could you reproduce this problem at the documentation examples.

Secondly, if it's not possible, me need details about your specific case. Maybe, code that uses this library or something else.

[2019-09-27 17:27] Willdta commented on #11
1. No, I could not.

2. When uploading the image I'm using the code you listed in the documentation. When clearing the input, I'm setting my image to null and my coordinates back to 0. Maybe I'm not correctly resetting my state? Here's what I'm using to reset it:

`this.coordinates = { left: 0, height: 0, top: 0, width: 0}`
`this.uploadedPhoto = ""`
`this.croppedPhoto = null`

I have also noticed

[2019-09-27 17:28] Norserium commented on #11
Could you provide more code? What is `this` here? What's props do you send to cropper?

[2019-09-27 17:48] Willdta commented on #11
`this` is in reference to my local component data.

Cropper component:

[code]

cropImage method (using TypeScript):

[code]

[2019-09-27 18:58] Norserium commented on #11
And what's happening with `uploadedPhoto`?

[2019-09-27 19:18] Willdta commented on #11
Exactly what is in your docs when uploading a photo.

[2019-09-27 20:16] Norserium commented on #11
Am I right, that you have the copy of example code and it doesn't work? It's pretty strange.

[2019-09-27 22:07] Norserium commented on #11
Try to update to `0.12.4`. I suppose, that the cause of this issue is incorrect handling of setting empty `src` prop value.

[2019-09-27 22:52] Willdta commented on #11
This fixed it!

There are some type errors I thought you should know about though:

<img width="782" alt="Screen Shot 2019-09-27 at 6 51 55 PM" src="https://user-images.githubusercontent.com/34286283/65806524-e7ddfc00-e157-11e9-8ba0-ad79fd664f98.png">

[2019-09-27 22:54] Norserium commented on #11
It's the serious error. Thanks.

When was this thrown?

[2019-09-27 23:14] Willdta commented on #11
Awesome man. Thanks so much for helping me out. I really appreciate it!

[2019-09-27 23:14] Norserium commented on #11
You are welcome!

[2019-09-27 23:35] #11 closed

[2019-10-03 19:34] struchon opened #12 "Cannot build unit tests of project that imports vue-advanced-cropper"
Since I added vue-advanced-cropper to a project built with webpack, unit tests (ran with `vue-cli-service test:unit`) fail to compile.

[code]

The problem stems from the file index.es.js:
[code]

Changing
[code]
to
[code]
fixes it.

Is there something else I should be doing to make it work on my end, or is it a bug?

[2019-10-03 23:01] Norserium commented on #12
Hello!

It's pretty strange bug, and it concerns my [other library](https://github.com/Norserium/rollup-plugin-merge-and-inject-css) that I use as a dependency here.

I've added this fix to that library and updated this library to `0.12.5`

[2019-10-04 10:36] matamune94 opened #13 "Resize image when user crop image"
I really like your feature
but i have a question
I have an example:
I have a picture with width and height : 1280 x 720
when the user finishes cropping . it maybe will 800 x 800
but in fact that picture just have size is 300 x 300
this plugin can do that ?

[2019-10-04 10:46] Norserium commented on #13
Hello!

I suppose, that it should not be the feature of this library, because it's quite complicated and rare task. You can use the special library to do it (for example [hermite-resize](https://github.com/viliusle/Hermite-resize))

It will be pretty hard to implement the resizing feature that satisfies all users because there is a plenty of different resizing algorithms and approaches.

[2019-10-04 12:39] struchon commented on #12
Thanks for the quick followup! That fixed it.

[2019-10-04 12:39] #12 closed

[2019-10-05 00:17] matamune94 commented on #13
@Norserium thanks sir

[2019-10-05 13:47] Norserium commented on #13
May I close the issue? Did you solve your problem or you need further help?

[2019-10-06 09:17] matamune94 commented on #13
it working, i will close this issue , really thanks

[2019-10-06 09:17] #13 closed

[2019-10-08 02:25] matamune94 commented on #10
i think he say like this https://fengyuanchen.github.io/cropperjs/examples/fixed-crop-box.html
this feature good for mobile

[2019-10-08 13:57] Norserium commented on #10
@bluelupin, @matamune94 I will consider this feature request.

[2019-10-16 09:28] itsikhar opened #15 "stencilProps issue"
Hi,
I have an issue to load image with dimensions equals (also the minimum dimensions I configured) to the asspect ratio.

for example:
the image dimensions is exacly width: 1500px and height: 375px.

when using the following asspect ratio:
{
        minAspectRatio: 4 / 1,
        maxAspectRatio: 4 / 1
}

the stencil deminisions is 0 for width, height, left, top and also a console error received w

[2019-10-16 10:05] Norserium commented on #15
Hello!

I've created [the fiddle](https://jsfiddle.net/L6nfmybk/) for your example. And it works.

Could you send me an image that breaks it?

And additional remarks:
- currently you can't use `this` in `restrictions` callbacks, so `this.minWidth` and `this.minHeight` are undefined now
- why do you use `minAspectRatio` and `maxAspectRatios` instead of `aspectRatio`?

[2019-10-16 10:05] Norserium commented on #15
What's version of `vue-advanced-cropper` do you use?

[2019-10-16 10:20] itsikhar commented on #15
Hi,

as you can see in the image, the cropper has no width and height:
![image](https://user-images.githubusercontent.com/32879944/66910159-b3eb4d80-f016-11e9-8352-990e5cfed460.png)

I Fixed those remarks, thanks.

Current version: 0.10.0

thank you for your quick response :)
Itsik.

[2019-10-16 10:31] itsikhar commented on #15
Yes, you help me few month ago :)
I'll update the version and write you back with the result

[2019-10-16 10:56] itsikhar commented on #15
Hi,

Same error after the update.
But now the cropper not loaded and a black screen appears instead.

![image](https://user-images.githubusercontent.com/32879944/66913154-c23c6800-f01c-11e9-9d37-0be40f0a0a00.png)

[2019-10-16 12:13] Norserium commented on #15
It's strange. Could you test my [fiddle](https://jsfiddle.net/L6nfmybk/)?

[2019-10-16 12:19] itsikhar commented on #15
same error as before:

" (index):1 Uncaught (in promise) Current aspect ratio can't is uncompatible with minimum/maximum height and width settings. Can't setup default coordinates"

[2019-10-16 12:21] Norserium commented on #15
And what's about fiddle?

[2019-10-16 15:11] itsikhar commented on #15
` resPixels(minWidth, minHeight, maxWidth, maxHeight, imageWidth, imageHeight) {
                let _minWidth = this.minWidth;
                let _minHeight = this.minHeight;
                return {
                    minWidth: _minWidth > 400 ? _minWidth : minWidth,
                    minHeight: _minHeight > 400 ? _minHeight : minHeight,
                    maxWidth: imageWidth,

[2019-10-16 15:14] Norserium commented on #15
It's a very strange code. What it does?
[code]

It looks that it's equal to the following code:
[code]

[2019-10-16 15:37] itsikhar commented on #15
Cause i'm using custom component to wrap the Cropper I need to get the minWidth and the minHeight from the custom component.

[2019-10-16 15:40] Norserium commented on #15
All right, I understand you. May I close the issue?

[2019-10-16 15:41] itsikhar commented on #15
Yes, Thank you very much, again :)

[2019-10-16 15:41] Norserium commented on #15
You are welcome!

[2019-10-16 15:41] #15 closed

[2019-10-18 14:17] thiagosaife opened #16 "SyntaxError: Unexpected keyword 'const'. Const declarations are not supported in strict mode."
When installed version ^0.12.2, most browsers on early versions of IOs are throwing the error:
`SyntaxError: Unexpected keyword 'const'. Const declarations are not supported in strict mode.`
preventing applications to render properly. Is there anybody else facing this same issue?

[2019-10-18 16:32] Norserium commented on #16
Hello, @thiagosaife! How do you import this library in your project?

[2019-10-18 16:38] thiagosaife commented on #16
Hello @Norserium.

We are importing as a member, like this:
import { Cropper, CircleStencil } from 'vue-advanced-cropper';

[2019-10-18 18:22] Norserium commented on #16
@thiagosaife, please update to `0.13.0`.

[2019-10-18 18:29] thiagosaife commented on #16
Dear @Norserium

Thank you very much for being so helpful. Problem solved. Best.

[2019-10-18 18:29] #16 closed

[2019-10-18 18:29] Norserium commented on #16
You are welcome!

[2019-10-28 15:52] guias12 opened #17 "this.$refs.cropper.setCoordinates is not a function"
I'm trying to use the setCoordinates function just like the <a href="https://norserium.github.io/vue-advanced-cropper/tutorials/recipes.html#set-coordinates">documentation</a> shows. But i'm getting the "is not a function" error on the console. It was deprecated?

I'm using the vue-advanced-cropper on ^0.8.3 version.

There's another way of setting the coordinates programmatically?

[2019-10-28 16:01] Norserium commented on #17
Hello, @guias12! Update to `0.13.0` version.

[2019-10-28 16:18] #17 closed

[2019-10-28 17:58] guias12 opened #18 "Getting NaN on positional arguments after using setCoordinates()"
Hi, I'm using the setCoordinates function on a image that contains an object which I already know the position.

The problem is that after I use the function, the positional arguments(left and top) are both returning NaN as value, the size arguments(width and height) are being seated correctly.

After that the image and the cropper starts to have a strange behave, like in the print.
![cropper](htt

[2019-10-28 18:08] Norserium commented on #18
Could you output `response.data` in the console and send a screenshot to me?

[2019-10-28 18:27] guias12 commented on #18
sure
![response](https://user-images.githubusercontent.com/38231441/67706412-792ed100-f997-11e9-9700-feb653268d62.png)

[2019-10-28 18:41] guias12 commented on #18
This is the whole function code:
[code]
As soon as the user clicks on the "Capture Image" button on the screen, I make a request to the server-side to save the image and do the processing to get the object position.
That's how I get the coordinates in the response and after that I'm trying to set them on the croppper

[2019-10-28 18:43] Norserium commented on #18
Is `this.srcImagemCrop` passed to `src` prop of the cropper?

[2019-10-28 18:43] guias12 commented on #18
yes

[2019-10-28 18:47] Norserium commented on #18
I assume there's the problem. Image is loaded after you set coordinates, so cropper operates undefined values during setting coordinates and you get `NaN`.

[2019-10-28 18:56] Norserium commented on #18
Me need to think, what's the best solution of this problem (create an event `onLoad`, delay calls of `setCoordinates` or etc.)

Currently you can try to use the following solution.

[code]

Add the new methods `defaultSize` and `defaultPosition`:
[code]
[code]

And pass them to `default-size` and `default-positions` props accordingly.

I didn't test it yet, but it should work.

[2019-10-28 21:02] Norserium commented on #18
Or as an option you can update to `0.13.1`. The cropper now remember the last transforms that you apply after an image was changed and before one will be loaded and apply them right after an image finally have been loaded (without flickering due the flexible approach).

[2019-10-29 12:58] guias12 commented on #18
Updating to `0.13.1` fixed the problem!

Thank you a lot mate.

[2019-10-29 13:09] #18 closed

[2019-10-29 16:21] Suruat commented on #10
+1 for feature

[2019-11-01 22:01] chemoral87 opened #19 "Reset Cropper"
i use the input file upload image, but when i set image = null, it remains the size of the square vue-advanced-cropper__image, what is the propper manner to reset the vue-advanced-cropper__area, vue-advanced-cropper__stretcher to width auto

[2019-11-02 11:10] Norserium commented on #19
Hello, @chemoral87! Could you check "Upload image" example [here](https://norserium.github.io/vue-advanced-cropper/tutorials/recipes.html#upload-image)? I've uploaded the changes to the documentation, and if the result satisfies you I will publish the new version.

[2019-11-02 15:55] chemoral87 commented on #19
Thanks, i can see the icon refresh in upload example, but i need the snippet of code to do via javascript, where i can find??

[2019-11-02 16:28] Norserium commented on #19
This button just sets `this.image = null`. The difference is in the used version, in the documentation I've used not published version.

Now I've published `0.13.2`, so you can update to this version to solve your problem.

[2019-11-05 11:54] Norserium commented on #19
@chemoral87, is your problem solved?

[2019-11-07 16:46] scheMeZa opened #20 "Question: Crop with fill"
Hello,

Let's say I have an image 320x500.

I'd like to allow a crop with aspect ratio 1:1 - so that the picture when done cropping is always square.

But I'd like to allow the crop to go all the way to 500x500; so that the crop is bigger than the image, and then the background to be filled with white.

Is there a solution for this?

[2019-11-07 16:54] Norserium commented on #20
Hello, @scheMeZa. Currently this cropper doesn't support it.

[2019-11-07 17:47] scheMeZa commented on #20
Thanks for your hasty reply :)

It's a feature I'd love to see.

Thank you for your work on this package; It's currently in use in production on https://onebid.co.za

[2019-11-07 19:04] Norserium commented on #20
It's great! I'm always glad to hear about using this library in production.

[2019-11-21 10:05] sstenn opened #21 "Set Aspect Ratio"
Is it possible to change the aspect ratio?

    stencil () {
      console.log(this.ratio)
      return {
        aspectRatio: this.ratio[0] / this.ratio[1],
        handlers: {
          eastNorth: true,
          north: false,
          westNorth: true,
          west: false,
          westSouth: true,
          south: false,
          eastSouth: true,
          east: false
        }
      }

[2019-11-21 10:15] Norserium commented on #21
Hello, @sstenn!

It's quite possibly, that cropper doesn't react at changes of stencil props. I'm still working at the development of listeners.

Could you call `resetCoordinates` on change of `this.ratio` now?

[2019-11-21 10:24] sstenn commented on #21
@Norserium

Thanks for your quick response.

It is workable for now! I've had to set a timeout for this to work, but I'm not sure why

     this.ratio =[1,1]
     setTimeout(function () {
       this.$refs.cropper.resetCoordinates()
     }, 0)

Else it would change to the previous value

[2019-11-21 10:53] Norserium commented on #21
You can use `Vue.nextTick` instead of `setTimeout`. It's needed because the changes of ratio actually applied only in the end of tick.

It's workaround and I will notice you when I fix this bug.

[2019-11-21 11:30] sstenn commented on #21
@Norserium

Thanks!

[2019-11-27 08:42] bertms opened #22 "How do I limit the maximum height of the entire screenshot area?"
When the picture height is too high, I want to set the maximum height of the entire area. Is there an interface for this?

Screenshot
http://h.pz.com/u/7875/44/5/157484391773.jpg

[2019-11-27 08:56] Norserium commented on #22
Hello, @bertms! Do you want to set default size equal to image size and width?

[2019-11-27 08:57] bertms commented on #22
hi Norserium

[2019-11-27 08:59] Norserium commented on #22
I don't see the answer.

[2019-11-27 09:00] bertms commented on #22
HI Norserium ,

I want to set the size of the entire area.
http://h.pz.com/u/7875/46/1/157484519757.png

[2019-11-27 09:04] bertms commented on #22
When the picture height is too high, it cannot be displayed completely. Can I set the maximum height?

[2019-11-27 09:04] bertms commented on #22
http://h.pz.com/u/7875/46/2/157484536597.png

[2019-11-27 09:11] Norserium commented on #22
Do you want to fit all image in the square stencil (that have `aspectRatio` equals `1`) completely? But it will lead to appearing of the transparent columns around the edges.

[2019-11-28 01:04] bertms commented on #22
Thank you very much, I have found a way, I control the width and height of the parent DOM of the screenshot component.

[2019-11-28 07:44] Norserium commented on #22
I'm glad that you solve it.

I close the issue then.

[2019-11-28 07:44] #22 closed

[2019-12-03 00:28] Norserium commented on #10
@bluelupin, @matamune94, @Suruat, I'm glad to say you that this feature is in the active development stage.

You could event test it himself at the [documentation pages](https://norserium.github.io/vue-advanced-cropper/tutorials/recipes.html#fixed-stencil).

[2019-12-03 20:09] andreasvirkus opened #23 "canvas.toDataURL doesn't respect stencil"
Hi, thanks for an awesome component! The docs are great and the component is very easy to use 💯

I have an issue with calling
[code]

with both the default `CircleStencil` and the advanced stencil example. The result is always a rectangle with full corners.

I've also created a replication here:

https://codesandbox.io/s/vue-sc4k6

![croppa-small](https://user-images.githubusercontent.com/9140811/

[2019-12-03 20:50] Norserium commented on #23
Hello, @andreasvirkus!

Unfortunately, it's not possible by the means of this library, because the stencil just define the rectangle area that will be cropped. Moreover, it's pretty often practice to crop a square by the circle stencil.

But you can anyway process a square canvas to get the needed result (if you want to use this method, test it on different browsers before to use one in production

[2019-12-03 22:30] Norserium commented on #19
@chemoral87, I close the issue. Feel free to open if you encounter this problem again.

[2019-12-03 22:30] #19 closed

[2019-12-04 02:16] GhaniHaa opened #24 "Rotate image"
how to rotate image and the result too ?

[2019-12-04 02:28] Norserium commented on #24
Hello, @GhaniHaa!

Do you want to rotate an image inside the cropper or rotate the result will be enough?

[2019-12-04 03:52] GhaniHaa commented on #24
both of them, it is possible ?

[2019-12-04 09:59] andreasvirkus commented on #23
Well, that seems to work perfectly! 🎉 Thank you so much, my _canvas-fu_ was too weak for this

[2019-12-04 09:59] #23 closed

[2019-12-04 12:10] Norserium commented on #23
You are welcome!

[2019-12-04 12:50] Norserium commented on #24
Unfortunately, it's not supported now native, but maybe I will implement this feature in the future.

Now you can use perhaps not efficient, but working approach, that is illustrated at this [example](https://codesandbox.io/s/pensive-aryabhata-9nfls).

[2019-12-04 18:37] Norserium commented on #10
This feature is added in `1.4.0`. Please update to this version to get it.

[2019-12-04 18:37] #10 closed

[2019-12-04 18:44] Norserium commented on #20
Hello, @scheMeZa! Could you illustrate the situation, where this feature will be useful?

[2019-12-05 04:56] GhaniHaa commented on #24
Thanks for your help mate.

anyway nice pic

[2019-12-05 04:56] #24 closed

[2019-12-05 14:31] #21 closed

[2019-12-05 17:37] Norserium commented on #24
You are welcome!

[2019-12-05 18:14] Norserium commented on #21
@sstenn, this bug is fixed in `1.4.1`. Please update to this version and check if you can get rid of that workaround.

[2019-12-06 07:57] sstenn commented on #21
@Norserium Thanks! It works :)
Great cropper btw. Keep up the good work!

PS. I think you mean version `0.14.1`

[2019-12-06 09:49] Norserium commented on #21
Yes, I mean this version, of course.

You are welcome!

[2019-12-10 18:46] zefexdeveloper opened #25 "Validate the image height and width"
I want the user to select an image that will be cropped on the aspect ratio of `2:3` (vertical image), this crop will be sent to the backend to be resized. The question I have is: how can I validate the image the user selected so he can't select an image that is too small to be cropped as `2:3` or even on the minimum width `570px` for example?
The backend will also this `570px` width image with th

[2019-12-10 18:51] Norserium commented on #25
Hello, @zefexdeveloper!

 I suppose, that this checking should be performed before changing the `src` prop of the cropper. But anyway, what the cropper should do with such images?

[2019-12-10 18:55] zefexdeveloper commented on #25
@Norserium Perhaps you are right, this checking should be done before passing the image to cropper. How am I supposed to lock cropper to `2:3` aspect ratio and `570px` minimum width?
I read somewhere that you said it's not possible to resize the image with cropper and it's totally understandable, that is why I want to validate the image, to make sure it has the required image width before the crop

[2019-12-10 18:56] zefexdeveloper commented on #25
And by the way, such a fast response, you rock, keep up the good work.

[2019-12-10 19:00] Norserium commented on #25
Did you see [this example](https://norserium.github.io/vue-advanced-cropper/tutorials/recipes.html#custom-restrictions) (custom restrictions)?

Thank you!

[2019-12-10 19:18] zefexdeveloper commented on #25
@Norserium Thank you for the answers.

Before closing the issue I'd like to ask you a question regarding the best technique to create a component I want.

I want to create a component where the user can click on a button to select an image, when he selects a modal appears with the image he selected, crop and then the image will appear on the gallery, those images will be sent later to the backend

[2019-12-10 19:34] Norserium commented on #25
Did they help you?

It depends.

At the first blush, if you don't use the global state, you can use the approach that is described below:
1. The main component  `Gallery` contains the cropped images in the state and have the method, that uploads them to your backend.
2. The `ModalCropper` that contains the cropped image and have at least two props: image and submit callback, that will receive the

[2019-12-10 19:50] zefexdeveloper commented on #25
Yes, the example you mentioned is what I was looking for. I couldn't set the aspect ratio `2:3` tho. I tried `2;3`, `2/3` and none of them seems to work.

I didn't get this one. You mean something like `<modal-cropper @onCrop="addToGallery"></modal-cropper>` - This is what I thought about the `submit callback`.

The user selection of the image has to be on the `Gallery` component right? I needs to

[2019-12-10 19:54] Norserium commented on #25
There should not be the fields for minimum and maximum aspect ratios in this example, it's the accidental result of my internal tests. Anyway, you can write 0.667 in that field and you will get the needed result.

I will answer the other part of your questions a little bit later

[2019-12-10 20:13] zefexdeveloper commented on #25
@Norserium Thank you for the answers. The `0.667` worked. I will be waiting for your answer and in the mean time I will try to create something using codesandbox.

[2019-12-10 21:00] Norserium commented on #25
@zefexdeveloper , there is the [simple example](https://codesandbox.io/s/vue-avanced-cropper-basic-5i429). I've chosen the other logic, but it's pretty similar. But in practice there is no silver bullet, and I can't offer the optimal solution for your project unless I don't see its source code and architecture.

[2019-12-10 21:23] zefexdeveloper commented on #25
Your example is exactly what I needed.
As I mentioned on my earlier comment that I was going to be trying something on codesandbox and this is what I did: https://codesandbox.io/s/gallery-crop-rnk26

Of course it's not pretty, the idea was to make it work but I will be using Tailwindcss to make it look cool.

I will be checking your code and seeing what is different from mine and adapt, if you fin

[2019-12-10 21:29] Norserium commented on #25
We just used different approaches, there are no better or worse ones. I've encapsulated the cropping in the `Uploader` component, at the same time you add cropping to the gallery and just wrapped `Cropper` in modal.

If you need to use cropper modal in different contexts, than uploading (for example, to recrop some images), your approach is more suitable.

[2019-12-10 21:31] zefexdeveloper commented on #25
At the end it worked just fine and your component is awesome. Thank you for everything and for giving your time to help me with this. Keep up the good work and you are going to conquer a lot.

See you.

[2019-12-10 21:33] Norserium commented on #25
You are welcome! Good luck!

[2019-12-10 21:33] #25 closed

[2019-12-11 14:50] NikitaKA commented on #20
I'm using this lib to crop logo which will be uploaded to my Apple Wallet generator. Problem is that inside Wallet app logo is covering whole space by default, even if there is something on the right side - it overlapping it.

![image](https://user-images.githubusercontent.com/2543427/70631473-45092a00-1c3e-11ea-9c41-94caba20276f.png)

So I need to zoom it out a little bit and add transparent spac

[2019-12-11 15:43] Norserium commented on #20
@NikitaKA, thank you for your example.

[2019-12-12 13:30] zefexdeveloper opened #26 "Set aspect ratio based on the image orientation"
Is there a way to set the aspect ratio based on the image width and height?

I want to check if the image is landscape and set the aspect ratio as `4:3` and min width and height as `500x375`. If the image is portrait, the aspect ratio must be `2:3` and the width and height as `400x600` min.

[2019-12-12 14:25] Norserium commented on #26
Hello, @zefexdeveloper!

You are able to set stencil aspect ratio dynamically before changing `src` prop. That's the way to get what you want.

With regards to maximum and minimum height you should have the custom function, that able to implement any logic that you want.

[2019-12-12 14:37] zefexdeveloper commented on #26
You mean like:

[code]

You mean like on the `reader.onload` callback? Like before setting the `this.image` so `Crooper` can read, I also set a `this.aspectRatio` and use `:aspectRatio="aspectRatio"` on `Cropper`?

I will try that out, thank you very much.

[2019-12-12 14:39] Norserium commented on #26
Yes, something like that

That's right.

[2019-12-12 14:44] zefexdeveloper commented on #26
Thank you very much.

[2019-12-12 14:44] #26 closed

[2019-12-12 14:45] Norserium commented on #26
Is there any flickering or it works well?

[2019-12-12 21:09] Norserium commented on #20
@scheMeZa , @NikitaKA ,  I'm happy to report that this feature is in the alpha stage. You currently can test it in [the documentation](https://norserium.github.io/vue-advanced-cropper/tutorials/recipes.html#different-image-restrictions) (different image restrictions section).

[2019-12-13 12:33] NikitaKA commented on #20
You are awesome, thank you!

[2019-12-13 21:16] Norserium commented on #20
I suppose within a week. It should be tested more carefully.

[2019-12-14 01:07] zefexdeveloper opened #27 "Get the image loading status"
I was looking and I couldn't find anything related. When loading an external image it takes a while to appear, perhaps it would be nice to provide a loading event indicating so we can show a `loading` message?

[2019-12-14 03:12] Norserium commented on #27
Hello, @zefexdeveloper! It's the nice idea. I suppose, that cropper might fire `ready` event on complete an image loading.

[2019-12-14 03:14] zefexdeveloper commented on #27
It would be cool, would help improving UX as we could provide a feedback to the user while the image is being loaded and avoid a white screen.

[2019-12-14 13:50] zefexdeveloper opened #28 "How to make it responsible"
I'm planning in using the cropper on a modal, the problem I'm having is that even tho the width is being respected of the modal, the height isn't. If the user selects an image bigger than the height of the browser it will grow vertically and eventually disappears.

How can I make so the cropper respects the width and height like keeping its aspect ratio based on the width of the modal?

![image](h

[2019-12-14 15:22] Norserium commented on #28
Hello, @zefexdeveloper! Did you try to set max height for the cropper or its wrapper?

[2019-12-14 15:26] zefexdeveloper commented on #28
@Norserium Yes, after inspecting your example I saw that you set the `max-height` as `500`. The thing is that I want to put that in a modal and I don't know if setting a fixed `max-height` would be essencial for responsiveness, like with smaller devices.
I'm a backend developer so I find it really complicated when it comes to front-end and make things responsive haha.

[2019-12-14 18:26] Norserium commented on #28
What's the library do you use for modal window? I suppose you can set for example `max-height: calc(100vh - 40px)`.

[2019-12-14 18:29] zefexdeveloper commented on #28
I'm using tailwindcss and yes, for things like this I can always use inline `style`, I won't be using this in another place, otherwise I would create a reusable class.
I will be trying that out.

[2019-12-14 21:24] Norserium commented on #27
Please update to `0.15.0` version. Now cropper fires `ready` event when an image is loaded.

[2019-12-14 21:25] Norserium commented on #20
@scheMeZa, @NikitaKA, please update to `0.15.0` version.

[2019-12-14 22:38] zefexdeveloper commented on #27
@Norserium You rock, thank you very much.

[2019-12-14 22:38] #27 closed

[2019-12-15 14:40] Norserium commented on #20
I close this issue. If you encounter any problems, please create the corresponding issue.

[2019-12-15 14:40] #20 closed

[2019-12-16 11:07] NikitaKA opened #29 "Moving image when imageRestriction set to 'none'"
Hi! Thank you very much for new feature added in 0.15!

I showed new implemented feature to my collegues and they said that it is not clear/not comfortable to move background image when bounding box is covering almost whole available space. So you have to aim at small area on a side or spam mousewheel up/down trying to position it right 😃

Is that possible to add a setting (prop) which will change

[2019-12-16 11:09] Norserium commented on #29
Hello, @NikitaKA! Do you want to prevent moving the stencil like in this [example](https://norserium.github.io/vue-advanced-cropper/tutorials/recipes.html#fixed-stencil) (fixed stencil)?

[2019-12-16 11:15] NikitaKA commented on #29
I swear I read almost all the documentation. And still I missed this piece. `movable` did the work. Thanks! 🎉

[2019-12-16 11:16] #29 closed

[2019-12-16 11:18] Norserium commented on #29
You are welcome!

The documentation still has disadvantages, for example, I forgot to describe this props in the corresponding component pages.

[2019-12-16 11:27] NikitaKA commented on #29
Taught by errors, I try to study the documentation in detail first, because the examples do not always include everything that library really can does. That rare case, when reading the documentation does not work. 😄

[2019-12-16 11:29] Norserium commented on #29
It will work. I still have few time for this project, so now the writing examples is the first, that I do, because they are used for UI testing.

[2019-12-17 09:14] Norserium commented on #28
Hello, @zefexdeveloper! Did you solve your problem?

[2019-12-17 16:05] zefexdeveloper commented on #28
Yes, kinda, I dropped the modal, it was giving me headaches, I went by switching components and showing the cropping when the user selects the image instead.

[2019-12-17 16:08] Norserium commented on #28
Was my advice not helpful?

[2019-12-20 23:31] zefexdeveloper commented on #28
I'm sorry the delay answering. Yes it did help, thank you very much. ♥

[2019-12-20 23:31] #28 closed

[2019-12-20 23:58] zefexdeveloper opened #30 "toDataURL returning nothing"
It was working before, including the examples @Norserium made and I:
- https://codesandbox.io/s/vue-avanced-cropper-basic-f711u
- https://codesandbox.io/s/gallery-crop-rnk26

You select the image, crop but the images are not being loaded as the base64 representation of the crop is not being return by `toDataURL`

[2019-12-21 12:31] Norserium commented on #30
Hello, @zefexdeveloper! Both examples [works](https://i.ibb.co/7nd6J1k/example.png). Could you provide some details? Maybe this problem occurs when you upload the specific image.

[2019-12-21 14:43] zefexdeveloper commented on #30
![image](https://user-images.githubusercontent.com/30276092/71309489-ef274580-23e6-11ea-85a4-fd4fdd1aa354.png)

For me it's not, any image I select is like this. The `toDataURL` is returning empty for some reason.

[2019-12-21 15:04] Norserium commented on #30
It's interesting. What's the browser do you use? What are the images do you upload?

[2019-12-21 15:22] zefexdeveloper commented on #30
@Norserium For some reason it works sometimes and other times it doesn't. I'm using Brave that is actually chromium. The images are regular images from unsplash.

[2019-12-21 15:23] Norserium commented on #30
Please send me links at the images, that have problems with uploading.

[2019-12-21 15:46] zefexdeveloper commented on #30
That is the image: https://unsplash.com/photos/K4mSJ7kc0As
In the console there's two errors but I don't know if it's related:
![image](https://user-images.githubusercontent.com/30276092/71310174-d7a08a80-23ef-11ea-8254-7d022709517d.png)

[2019-12-21 15:48] Norserium commented on #30
This image is uploaded correct.

Do you save the image and then upload to the sandbox? Does this error occur when you upload image in the private mode?

[2019-12-21 15:51] zefexdeveloper commented on #30
I just download the image and upload, nothing else. Even on private doesn't work.

[2019-12-21 15:52] Norserium commented on #30
Could you try to upload image at the any other browser / device?

[2019-12-21 15:55] zefexdeveloper commented on #30
![image](https://user-images.githubusercontent.com/30276092/71310283-0bc87b00-23f1-11ea-9438-0add29237d51.png)

It does work on Firefox

[2019-12-21 16:20] Norserium commented on #30
It look like the problem of Brave browser. I will try to install it and test it on my virtual machine later.

[2019-12-21 16:23] zefexdeveloper commented on #30
@Norserium It might be, the weird part is that it's chromium but still they might have changed something. It was working before and not it's not.

[2019-12-23 10:55] Norserium commented on #30
I'm sure this problem is specific to conflict of _Brave Shield_ and _Codesandbox_. The examples at the demo site works well.

[2019-12-23 17:43] Norserium commented on #30
@zefexdeveloper do you encounter this problem at your site?

[2019-12-26 12:00] zefexdeveloper commented on #30
@Norserium Nop, it's working locally, sometimes it doesn't, it's weird, might be a bug somehow on Brave but it's all good. Sorry the delay to answer.

[2019-12-27 19:52] zefexdeveloper commented on #28
@Norserium

I went back to this issue cause I'm trying to set max height as you did you on your upload example:

![image](https://user-images.githubusercontent.com/30276092/71530517-dcba7980-28c8-11ea-8897-f69a5e99689c.png)

I tried to do the same thing but it doesn't work, it's not respecting the max height:

![image](https://user-images.githubusercontent.com/30276092/71530577-1ee3bb00-28c9-11ea-

[2019-12-27 20:40] Norserium commented on #28
It's strange. Could you try to set `max-height` for the cropper itself, not its wrapper?

[2019-12-27 20:49] zefexdeveloper commented on #28
![image](https://user-images.githubusercontent.com/30276092/71532069-70437880-28d0-11ea-8612-c41cd40d87d5.png)

You are right, it's working now. Thank you.

One thing left tho. I have a spinner that I set using the `ready` event that the cropper returns when it's done loading, the problem is that the controls are there anyway (2nd image)

![image](https://user-images.githubusercontent.com/30276092

[2019-12-27 21:06] Norserium commented on #28
I see. It's the bug obliviously, I will fix later.

[2019-12-27 21:22] zefexdeveloper commented on #28
@Norserium Yes, the controls like for resizing is appearing even when the cropper is loading (the `ready` is not fired) so when I show like a spinner if the user mouses over the cropper space he can see the cursor changing to the resize one as the controls are there already before the image is loaded.

[2019-12-28 00:50] Norserium commented on #28
@zefexdeveloper, this bug is fixed in 0.15.2

[2019-12-28 01:26] zefexdeveloper commented on #28
@Norserium You rock, thank you for that.

[2019-12-30 14:32] CryptoSmileee commented on #30
We had the same problem with Brave mobile on our website.
I reported that some time ago but I think it got lost lost there.

https://community.brave.com/t/htmlcanvaselement-todataurl-htmlcanvaselement-toblob-do-not-work-on-brave-mobile-with-fingerprint-protection/67774

[2019-12-31 15:41] silhouettepoms opened #31 "InvalidStateError in Safari after file selection"
The component is working fine in Chrome. However in Safari I see the following error after selecting a file to upload.

[code]

So it fails to do anything else after that point. It's working in Chrome but I do see the below error in the Developer tool (This is on page load, with an initial image URL supplied). You do not see an error in Chrome after file selection and it proceeds normally despite

[2019-12-31 15:48] silhouettepoms commented on #31
Actually nevermind this is most likely due to my combination of components rather than an issue with the cropper itself. I'm probably passing some data at some point.

[2019-12-31 15:48] #31 closed

[2019-12-31 22:15] zefexdeveloper commented on #30
@CryptoSmileee Yes, I thought it was something related to the component but it's the browser. https://github.com/brave/brave-browser/issues/6081

[2020-01-02 19:19] #30 closed

[2020-01-04 07:29] zefexdeveloper opened #32 "Transform to image after cropping"
I implemented the cropping with validation and everything works fine on the front end, I also need to validate the backend as the image is going to be sent from an API. If I validate on the front end as the max image size as 5MB and the same on the back end, it won't work cause as the cropper works with base64 I will have a WAY bigger image on the backend:

- https://stackoverflow.com/questions/11

[2020-01-04 11:37] Norserium commented on #32
Hello, @zefexdeveloper!

I didn't understand your problem clearly. How do you check the size of an image at the backend and frontend?

Could you try to use [`canvas.toBlob`](https://developer.mozilla.org/ru/docs/Web/API/HTMLCanvasElement/toBlob) method to get the blob, instead of `canvas.toDataURL`?

[2020-01-04 15:03] zefexdeveloper commented on #32
Hi @Norserium, the file size on the back end depends on what technology you are using, this project I'm using Laravel (PHP) and it's just a matter of calling `getSize` but as we are talking about validation here, the validation rule itself will check if the file size is bigger than what was specified.

If you select an image, let's say with 500kb and `console.log` the `base64` on Chrome it will sh

[2020-01-04 15:06] Norserium commented on #32
It's better to use `blob.size` property to check the size of sending image.

[2020-01-04 15:12] zefexdeveloper commented on #32
@Norserium Yes, but it doesn't change the problem of having different file size on selecting and when sending. For example, the front end validation is when you select a file right? This way you can check if the file isn't bigger than 5mb, but when you crop, the file size is way bigger. The validation on the back end is when sending the image, so I can't put like 5mb max on the back end as well ca

[2020-01-04 15:22] Norserium commented on #32
It's quite strange,. What's image type do you use for converting to `base64`?

[2020-01-04 15:30] zefexdeveloper commented on #32
@Norserium I was using the code above, it's pretty much the same as `canvas.toBlob` as I was reading and `canvas.toBlob` doesn't work on Edge and doesn't have the quality argument in most browsers so it will be pretty much the same.

Do you have a project set up where you can call `canvas.toBlob` and check if the file size is bigger (or a lot bigger) than it should be?

[2020-01-05 01:25] Norserium commented on #32
The conceptual problem consists in impossibility to preserve size of the image after drawing one at an canvas and getting one from that canvas.

I can recommend two ways:
1. Use `image/jpeg` during conversion (`toBlob`, `toDataURL`). You won't get the same size, but it should be pretty similar.
2. Crop the image on your backend by sending full image and coordinates to it.

[2020-01-05 02:46] zefexdeveloper commented on #32
@Norserium The second alternative sounds good, this way I can validate the size both on the front and on the back end without the cropping difference.

I will be trying to second alternative and see if it works nice. Thank you very much.

[2020-01-06 00:29] Norserium commented on #32
@zefexdeveloper, did you solve your problem?

[2020-01-07 17:32] zefexdeveloper commented on #32
@Norserium Sorry the delay answering. I refactored the code in order to send the coordinates and crop on the backend but the libraries asks for integer instead of float when cropping so I had to round them. Is it possible to have an option to return the coordinates as integer?

[2020-01-11 11:33] Norserium commented on #32
I will investigate this possibility. Maybe I should add the prop `roundCoordinates`, but it's the pretty straightforward solution.

[2020-01-11 11:42] zefexdeveloper commented on #32
@Norserium Thank you very much, it will help me a lot, right now I have to round each one and it's pretty shitty solution. Most of the others croppers I saw they have the coordinates as integers, having both in float for precision and integer for compatibility would be great.

[2020-01-12 12:49] hamedsrk opened #33 "cropper box does not show the right section of the image at start"
hello . first of all i have to say thanks for developing this useful component
i have an issue and i dont know the reason. when i put my image to cropper, at start the cropper box does not show the right section of the image.like the picture below(pay attention to the hand that exist in picture. it cut the hand and move it)

<img width="852" alt="Screen Shot 2020-01-12 at 4 04 17 PM" src="https://

[2020-01-12 12:51] Norserium commented on #33
Hello! Could you provide more details? Did you try to reproduce this bug at the codesandbox?

[2020-01-13 07:40] hamedsrk commented on #33
i find the solution. my project is rtl and this problem happen in rtl direction. i changed the direction of the component to ltr and the problem solved

[2020-01-13 07:53] Norserium commented on #33
Thank you for details! It's definitely bug, therefore don't close the issue. I will investigate how to fix it.

[2020-01-13 14:53] zefexdeveloper commented on #32
Anything on this @Norserium ? Thank you

[2020-01-13 20:16] Norserium commented on #32
I'm pretty busy on other projects, so I've postponed the implementing of this feature to the next weekends.  Sorry for delay.

[2020-01-14 12:48] zefexdeveloper commented on #32
@Norserium That is ok, wish you luck. Thank you very much.

[2020-01-19 01:06] Norserium commented on #33
This issue is resolved in `0.15.3`.

[2020-01-19 01:06] Norserium commented on #32
Please update to `0.16.0` version.

[2020-01-19 01:09] zefexdeveloper commented on #32
@Norserium You rock, thank you for this. It's rounded by default now right?

[2020-01-19 01:24] #32 closed

[2020-01-19 01:37] Norserium commented on #32
Yes, I thought out, and I decided that's pretty optimal solution. There is workaround to disable the rounding coordinates, but I couldn't come out with any situation where it might be needed.

[2020-01-19 01:39] zefexdeveloper commented on #32
@Norserium Just updated here and it saved me a few lines of code rounding numbers 😆 Thank you

[2020-01-21 09:57] Norserium commented on #33
@hamedsrk, I close this issue. If you encounter this problem again, please inform me.

[2020-01-21 09:57] #33 closed

[2020-01-23 19:02] igogoson opened #34 "Vue.js vue-advanced-cropper error"
When I select an image it is continuously cropping the image in a loop until it can't crop anymore. I am getting this error in my logs

app.js:81265 Uncaught DOMException: Failed to execute 'drawImage' on 'CanvasRenderingContext2D': The image argument is a canvas element with a width or height of 0.

[2020-01-23 21:59] Norserium commented on #34
Hello, @igogoson! I suppose, that you use the same variable for `src` prop and for storing the cropper result. You shouldn't do it, because you will get the recursion.

[2020-01-26 14:29] TitanFighter commented on #34
Just had the same issue.

What I have:
[code]

[code]

[code]

The problem is within Converter code. I upload an 2.5MB image. The image has not uploaded, but modal with cropper already opened (i.e. opened without image). So, I needed to move modal opening inside `reader.onload`, like this:
[code]

This fixed the issue.

[2020-01-26 14:30] TitanFighter commented on #31
[Possible solution](https://github.com/Norserium/vue-advanced-cropper/issues/34#issuecomment-578507001)

[2020-01-26 19:15] Norserium commented on #34
@TitanFighter, are you saying, that you has the following error?

Have you encountered the recursive cropping?

[2020-01-26 19:52] TitanFighter commented on #34
Yes

No. Maybe because I save cropped image to `this.croppedImage`, not shown above.

[2020-01-27 12:53] Norserium commented on #34
It makes your issue different than issue of @igogoson, and I still should investigate it carefully. I would be grateful for codesandbox that reproduces your problem.

[2020-01-27 19:17] igogoson commented on #34
My problem comes when I do at @change="onChange". I can not read the canvas and yet I am using the exact code on your documentation. The image crops infinitely and I get the following error [Vue warn]: Error in v-on handler: "TypeError: Cannot read property 'toDataURL' of undefined"

my onChange function  is

onChange({coordinates, canvas}) {
                this.coordinates = coordinates

[2020-01-27 20:49] igogoson commented on #34
Here is the link to the code. when I add @change method this happens

https://codesandbox.io/embed/vue-advanced-cropper-rotate-bio7o?fontsize=14&hidenavigation=1&theme=dark

[2020-01-29 11:15] TitanFighter commented on #34
@Norserium this is the [demo](https://codesandbox.io/s/vue-cropper-issue-demo-cy8ky) you requested.

In codesandbox it works. I even tried to upload 10 mb photo + additionally tried to simulate a delay using setTimeout - still works :)

Probably I will be able to play a bit more locally with my project during the upcoming weekend in order to double-check the problem and inform you about the result

[2020-01-29 21:37] Norserium commented on #34
@igogoson, there is an error in your codesandbox.

Pay attention, you use the `this.image` as the source image:
[code]

But you put the result in the same variable:
[code]

So, it lead to infinite recursion. You update the source image on change, then the cropper gets the updated image and crop it again, and etc.

You shouldn't use the same variable for result image and source. Compare your sandbo

[2020-01-29 21:39] Norserium commented on #34
@TitanFighter, thank you! If you succeed and catch the reason of this bug, please inform me.

[2020-01-29 23:23] nickpoulos opened #35 "Prop Debounce Should Be Namespaced/Scoped/Renamed"
Having a global method/function in our application called debounce is conflicting with the prop `debounce`.  Being that many of the debounce packages provide a function or methods simply named debounce(), maybe the prop could be renamed debounceTime?

Thanks for a great package.

[2020-01-30 10:28] Norserium commented on #35
Hello, @nickpoulos!

Could you describe how is this prop is conflicting with your global `debounce` function?

[2020-02-05 15:40] TitanFighter commented on #34
@Norserium I created a local freshly new project with the code from my linked demo - everything is ok. Probably my current project related issue, so in case if I catch this problem again - I will be back with more details.

[2020-02-05 15:42] Norserium commented on #34
@TitanFighter, thank you! Keep me informed.

[2020-02-08 22:50] digitalgym opened #36 "CDN Competent Not Registered"
I'm using the CDN option but am unable to access the canvas component via $refs it's always undefined, do you have a working example using CDN and accessing global components?

[2020-02-08 22:52] Norserium commented on #36
Hello, @digitalgym! Could you provide some code please to illustrate your problem?

[2020-02-10 13:37] tcdsantos commented on #10
Hello!

Firstable, i would like to congratulate the developers of this cool cropper. Despite of being in an early development stage, it is already a very handy vue component.

I am trying to create two buttons that will programmatically zoom in and zoom out the image.

The result i am looking for is the same as if i scroll the mouse up/down in the exact center of the circle stencil. Is there a nat

[2020-02-10 15:55] Norserium commented on #10
@tcdsantos, thank you!

Unfortunately there is no API to programmatically zoom cropper. So I will consider this comment as feature request.

[2020-02-10 15:56] tcdsantos commented on #10
@Norserium, thank you!

[2020-02-19 17:19] Arun27862786 opened #37 "how to download crop image"
anyone answer me to how to add a button to download crop image
like  this  code not available url
https://norserium.github.io/vue-advanced-cropper/tutorials/recipes.html#different-image-restrictions
![Untitled](https://user-images.githubusercontent.com/58700666/74857989-8e4ab980-5312-11ea-9b3f-8d88a579efc8.png)

[2020-02-20 00:22] Norserium commented on #37
Hello, @Arun27862786!

Sorry, but I don't understand completely what you want to get.

Do you want to implement the same button like the button in this example? In this case, you should investigate this [sandbox example](https://codesandbox.io/s/vue-avanced-cropper-basic-jfy5w).

[2020-02-22 10:36] Norserium commented on #35
@nickpoulos, is your issue actual now?

[2020-03-02 09:46] ErriourRU opened #38 "Scroll and restrict area doesn't works"
I use cropper in modal of VueBootstrap, and it's important to use cropped area for crop image. I'm getting code from [example](https://norserium.github.io/vue-advanced-cropper/tutorials/recipes.html#upload-image). No problems in example but not on my site...

[code]

[code]

[code]
With this code I'm getting this: image can't be scallable, it is reduced to a height in the style that everything bec

[2020-03-02 11:11] Norserium commented on #38
Hello, @ErriourRU! Could you provide codesandbox, that will illustrate your problem? The template is [here](https://codesandbox.io/s/vue-avanced-cropper-basic-jfy5w).

[2020-03-02 12:09] ErriourRU commented on #38
@Norserium [https://codesandbox.io/s/vue-avanced-cropper-basic-1ilk9](https://codesandbox.io/s/vue-avanced-cropper-basic-1ilk9). I think image must be cropped to 100% and part beyond the borders of block hidden and movable... Frame must have exactly default set sizes.

[2020-03-02 12:18] Norserium commented on #38
Thank you! Could you provide the image to reproduce your problem also?

[2020-03-02 12:25] Norserium commented on #38
In other words, you want to make the cropping area width always be equal to `200 - 250 px` and height to `200 px`  ?

[2020-03-02 12:37] ErriourRU commented on #38
Yes. Image may be any with large sizes. If what matters is what I used: [https://i.imgur.com/mUZFNyz.jpg](https://i.imgur.com/mUZFNyz.jpg)

[2020-03-02 12:49] Norserium commented on #38
I suppose you want to get something like that
![example](https://user-images.githubusercontent.com/9862719/75677635-ff885600-5c9c-11ea-8b7e-2eef26f3d960.png)

Unfortunately it's not possible right now. In theory it's pretty easy to implement, but it's not obvious what should I do with the edge cases.

[2020-03-02 19:22] woliveirac commented on #4
Hello there!

@Norserium

I'm facing this problem at the moment and i just wanna check what should i do.

I have CORS enabled on my server, only requests coming from an exactly origin can read my image.

In this case, the library is doing a request without the proper header set which should fix the problem.

The "check-orientation" didn't work for me, but, canvas set to false did, however, i don't

[2020-03-02 20:56] Norserium commented on #4
Hello, @woliveirac!

Yes, you can't. It's not the limitation of my library, it's the browser's limitation. If you have got no 'Access-Control-Allow-Origin' in the image loading response header, you can't get the access to content of the canvas (it will be tainted).

Could you provide the url of the page where the cropper is placed and the url of image?

[2020-03-04 22:46] simioluwatomi commented on #32
Please how did you do this? Care to share some code snippets? I'm also using Laravel and I'm at my wits end because I don't know how to get the file object. Please help out. Thank you

[2020-03-06 20:15] Norserium commented on #32
Hello, @simioluwatomi!

I'm not @zefexdeveloper , so I can't share the code snippets, but this task should be pretty trivial. Do you want to download image on the backend or send the cropped image from the frontend to the backend?

[2020-03-07 00:15] NRiebesel opened #39 "Default Stencil with Aspect Ratio and Maximum Width"
Hello,

firstly: Great component, thanks!
Could you provide an example for a cropper configuration with a default stencil having maximum width of 100% of the image but also sticks to a custom aspect ratio (for e.g. 16/9).

I tried a few things and also searched through the docs. Using `setCoordinates`, `ready` event , `stencilProps`, but I cant get it to work. Thank you!!

[2020-03-07 12:01] Norserium commented on #39
Hello, @NRiebesel! If I understood you correctly, there is [the example](https://codesandbox.io/s/vue-avanced-cropper-169-k67t7), that you need.

[2020-03-07 18:27] simioluwatomi commented on #32
I've actually figured this out. Thank you!

[2020-03-08 14:53] NRiebesel commented on #39
Wow, it's as simply as that.
It works. Thanks a lot!

[2020-03-08 14:54] #39 closed

[2020-03-11 04:53] moniroth0310 opened #40 "Disable zoom image"
is there any way to disable the zoom of the image? i only want to crop the original size of the image
thank you

[2020-03-11 10:35] Norserium commented on #40
@moniroth0310, hello! What do you mean by "zoom of the image"? You can disable wheel and touch resize by setting props `wheelResize` and `touchResize` to `false`.

[2020-03-11 13:16] moniroth0310 commented on #40
actually i want to disable touch resize, i just couldn't find the right word to put. by the way, could you please give me a short demo on where exactly do you put the touchResize props?

[2020-03-11 16:29] Norserium commented on #40
[There you are.](https://codesandbox.io/s/vue-avanced-cropper-basic-w81q5)

[2020-03-14 23:43] #38 closed

[2020-03-15 23:51] BenFranklin-1776 opened #41 "Cropped images massively increasing file size -- resource failures"
We have implemented this excellent cropper for profile and drawer photos. However, when uploading, for example, a png iphone photo of 4mb actual size, upload fails due to network error. In reviewing the problem, we found that what's being taken to the server as the cropped images (square, rectangle) are over 15mb each. And this is stretching resource limits and in many cases causing network errors

[2020-03-16 09:33] Norserium commented on #41
Hello, @BenFranklin-1776!

I suppose, that you convert cropped image into data URI. Could you try to set another type?
For example, `canvas.toDataURL('image/jpeg')`.

[2020-03-16 09:56] Norserium commented on #40
@moniroth0310, did you solve the problem?

[2020-03-16 10:32] moniroth0310 commented on #40
yes, my problem has been solved. Thank you

[2020-03-16 12:33] Norserium commented on #40
You are welcome!

[2020-03-16 12:33] #40 closed

[2020-03-17 00:35] BenFranklin-1776 commented on #41
Good day. Thank you for the reply. We did try to set another type. I had tried image/jpeg yesterday and still got very large upload -- server will now accept a huge upload. I think there is also a timeout with the request with that. But in any even it shouldn't be sending an increasing in size upload to the server. Here's the code attached.
[cropper_code.txt](https://github.com/Norserium/vue-advan

[2020-03-17 09:58] Norserium commented on #41
Could you explain, why do you convert dataURL to blob by this way?
[code]

There is [`toBlob`](https://developer.mozilla.org/ru/docs/Web/API/HTMLCanvasElement/toBlob) method.

[2020-03-24 06:17] moniroth0310 opened #42 "Pass cropper to every image and get the result"
hello, allow me to explain my point first before going to the questions.
imagine I have select 3 images from input and set them same aspect ratio, and a button OK that later convert a base64 image (i get from using getResult() method) into an image file and upload it. Using this
[code]
or this
[code]
can only get the result if I have clicked on each image at least once. my question is if I select

[2020-03-24 09:47] Norserium commented on #42
Hello, @moniroth0310! Could you provide [codesanbox example](https://codesandbox.io/s/vue-avanced-cropper-basic-jfy5w)?

[2020-03-24 09:48] Norserium commented on #41
@BenFranklin-1776, any news?

[2020-03-24 09:51] Norserium commented on #35
@nickpoulos, the described problem looks pretty unfortunate, but I can't reproduce it. Therefore I'm going to close this issue now, but feel free to reopen this issue.

[2020-03-24 09:51] #35 closed

[2020-03-24 09:52] Norserium commented on #36
@digitalgym, is your problem solved?

[2020-03-24 09:53] Norserium commented on #37
@Arun27862786, is your problem still actual?

[2020-03-24 15:59] BenFranklin-1776 commented on #41
Good day, Please see attached our update code that is working. However, we are still testing image size issues in what's being sent to the server. I will update when I have the info from testing.
[revCropperCode.txt](https://github.com/Norserium/vue-advanced-cropper/files/4376313/revCropperCode.txt)

[2020-03-27 12:40] typedcode opened #43 "PixelRestrictions for minWidth and minHeight stopt working at Version 0.15.0"
Hi,

setting the Pixel-Restrictions with
`{
    minHeight: 10,
    minWidth: 10,
    maxWidth: 480,
    maxHeight: 110
}`

used to work up to Version 0.14.1, since Version 0.15.0 (testet it up to current version 0.16.0) setting the minWidth and minHeight is broken. The Image used is 1024x786px and I get the following error message when trying to set the default Size to 186x50px:

`Warning: default

[2020-03-28 12:27] Norserium commented on #43
@typedcode, thank you for your report. Fixed in `0.16.1`.

[2020-03-30 10:11] typedcode commented on #43
@Norserium, thanks for the quick fix!

[2020-03-30 10:11] #43 closed

[2020-04-01 18:17] Norserium commented on #42
@moniroth0310, any news?

[2020-04-07 13:51] rhysstubbs opened #44 "Persistant CORs error while using cropper"
I have a web app fetching images cross-origin. The server that is serving those images is configured to allow cross-origin requests and I can see the images in various places. However, when I try and load that image using the cropper I suddenly get failed CORs requests.

In the source I can see you're checking if the image src URL is cross origin, and if so then setting the anonymous flag for the

[2020-04-07 13:58] Norserium commented on #44
Hello, @rhysstubbs!

Please provide the response headers. If you have got no 'Access-Control-Allow-Origin' in the image loading response header, you can't get the access to content of the canvas (it will be tainted).

[2020-04-08 10:23] rhysstubbs commented on #44
@Norserium, Hi!

Sorry I should have updated the issue/added a comment. So after writing that I tested with disabling cache in my browser (Chrome) and thereafter I stopped receiving the CORs errors. The images 100% have the correct CORs related headers and loading multiple times prior to being used in the Cropper component. Was disabling the cache a coincedence or could that be the reason?

[2020-04-08 10:40] Norserium commented on #44
@rhysstubbs, I should notice, that if images loaded correctly, it doesn't mean that they had correct headers. The problems will appear only if you try to work with their internal content (for example, draw at a canvas).

[2020-04-08 10:43] rhysstubbs commented on #44
![Screenshot from 2020-04-08 12-43-16](https://user-images.githubusercontent.com/17863822/78775477-916b3900-7996-11ea-98b5-c6504a4666b6.png)

[2020-04-08 11:03] Norserium commented on #44
@rhysstubbs, I suppose, that there might be a problem with cache, and I should add timestamp to all crossorigin requests to prevent their caching.

[2020-04-08 11:07] Norserium commented on #44
@rhysstubbs, I suppose, that there might be a problem with cache. Could you provide the link to image (perhaps with hidden domain, it doesn't matter right now)?

[2020-04-10 11:51] Norserium commented on #44
@rhysstubbs, any news?

[2020-04-11 11:34] mkaliberda commented on #44
@Norserium  Hi, I have the same problem.
In my case, I'm getting an  error because the cropper send the request to HTTP instead of HTTPS
![image](https://user-images.githubusercontent.com/19783885/79042561-7b14e580-7c01-11ea-9ca4-ea343c528268.png)

[2020-04-11 11:38] Norserium commented on #44
@mkaliberda, could you provide the part of your code?

[2020-04-11 11:42] mkaliberda commented on #44
Thanks for answer
Yes, sure
[code]

[2020-04-11 11:53] Norserium commented on #44
@mkaliberda, how do you invoke `addAttachment` method? What is `request` object? What protocol do you use for the site, where cropper is used?

[2020-04-11 11:59] mkaliberda commented on #44
addAttachment methods work fine
The site working in https and axios has https protocol too.
This error happen before when I try to set a default imageUrl, it's URL that return API
And I've check it.
The problem in the back-end))

![image](https://user-images.githubusercontent.com/19783885/79043010-00e66000-7c05-11ea-87a1-9a665cbfac12.png)

Thank you for your time!

[2020-04-11 12:02] Norserium commented on #44
@mkaliberda, you are welcome!

[2020-04-12 01:36] hmoskva opened #45 "Fixed stencil"
Hi @Norserium. Can you please help out with this. Im trying to set a fixed stencil width and height(regardless of src image). Currently using restrictions but i dont get the same stencil size on each image selected. I have set my own constant restrictions in the props.

**What i expect: Same stencil size on each image selected**
**What i get: stencil dimensions change depending on image selected**

[2020-04-12 18:09] Norserium commented on #45
@hmoskva, if I understand you correctly, you can't set fixed stencil size. The prop `restrictions` sets restrictions for the cropped image size, not the size of stencil, so it will be different for different images.

[2020-04-16 12:21] KonradDeskiewicz opened #46 "Fixed circle stencil padding"
I've followed your documentation but cropper with fixed circle stencil has padding that doesn't allow  full image height or width to be used as a source of cropping. Didn't found (or don't understand) how to solve this issue.

Edit:
It looks that moving image around in fixed mode is not available until first shrink/zoom. After that `imageRestriction` seems to work fine.

[2020-04-16 16:43] Norserium commented on #46
@KonradDeskiewicz, could you provide codesandbox that illustrates your problem?

[2020-04-22 23:32] ThePendulum opened #47 "Handling errors"
Hi,

I was wondering if there's a recommended way to handle whatever error this library may encounter. I figured an `@error` event or the like would be useful to have, so if the cropper fails to load an image for any reason, I can properly reset the interface and inform the user, without having to rely on an arbitrary timer to check whether the `@ready` event fired.

Thanks you in advance!

[2020-04-23 07:41] Norserium commented on #47
Hello, @ThePendulum! Could you provide some codesandbox example, that illustrates your problem?

[2020-04-26 17:46] ThePendulum commented on #47
Hi, thanks for replying!

I added a URL input to one of your examples: https://jsfiddle.net/ThePendulum/9prse6ky/, and a 'loading...' indicator. If you enter the URL to an image, such as https://images.pexels.com/photos/580012/pexels-photo-580012.jpeg?h=650 from the original example, 'loading...' will show up and disappear when the cropper is ready. However, if you enter an invalid image URL, such

[2020-04-28 09:34] Norserium commented on #47
@ThePendulum, thank you for so detailed response! I will investigate the solution.

[2020-05-03 15:59] Norserium commented on #47
@ThePendulum, I've added `error` event in `0.16.2`. The example of using this event is added to [recipes too](https://norserium.github.io/vue-advanced-cropper/tutorials/recipes.html#events).

[2020-05-03 16:01] Norserium commented on #44
@rhysstubbs, I suppose some changes in `0.16.2` can affect and solve your problem.

[2020-05-04 10:45] rhysstubbs commented on #44
@Norserium Thanks, I will take a look

[2020-05-06 15:18] chehonte opened #48 "Get avatar from facebook with 404 error"
Hi!

I use cropper for edit avatar, when user is sign up with facebook. Cropper add timestamp get param to image url before request and facebook send an error.

It was in v0.16.1 but the image appeared. In v0.16.2 i have a blank editor without image. I downgraded version to v0.16.1 and it works.

I don’t understand how it can be in 0.16.1 when we have 404 error but image was appeared.

I think you

[2020-05-06 15:47] Norserium commented on #48
Hello, @chehonte! What's the error does Facebook send to you?

[2020-05-07 09:55] chehonte commented on #48
@Norserium

https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=110928713939171&height=200&width=200&ext=1591361354&hash=AeTkH7LMSPx5oYJo&timestamp=1588769355170

This link with timestamp and we get 404 error, i think facebook validate get params. If we remove timestamp from this link we get an image.

[2020-05-07 13:14] Norserium commented on #44
@rhysstubbs, adding the cache busting leads to another problems with different services, so I rolled away that changes. Please provide the link to the image to reproduce this problem and advice you actual solution.

[2020-05-07 13:23] Norserium commented on #48
@chehonte, I've rolled back the busting cache changes in `0.16.3`.

[2020-05-07 13:32] chehonte commented on #48
@Norserium Thank you!

[2020-05-07 13:32] #48 closed

[2020-05-13 08:45] DavidScicluna opened #49 "Zoom in/out of image"
Hi, I noticed that the image can be zoomed in/out with the mousepad and when I inspect the element it shows that some style is added to the image that enables it to zoom in/out.

My question is if there is a way to bind that zoom in/out feature to a button?

[2020-05-13 09:16] Norserium commented on #49
Hello, @DavidScicluna!

No, there is not. But it's the most desired feature request. Alas, me need pretty much time to implement it.

[2020-05-13 09:55] DavidScicluna commented on #49
Okay, thank you for the fast reply. I love your component thank you for all the work and hope you can implement as soon as possible

[2020-05-18 15:25] Norserium commented on #47
@ThePendulum, any news?

[2020-05-18 15:26] Norserium commented on #37
@Arun27862786, I close the issue. If your problem is still actual feel free to ask me to reopen it.

[2020-05-18 15:26] #37 closed

[2020-05-18 15:27] Norserium commented on #41
@BenFranklin-1776, how is your testing results?

[2020-05-20 13:37] KonradDeskiewicz commented on #46
As you can see in the image below there is enough space to drag the image around with fixed circle stencil but you can't do that until you change a zoom a bit, When you back to initial zoom dragging is OK, but until zoom, it's not.

![image](https://user-images.githubusercontent.com/17060750/82452458-93550b80-9aaf-11ea-998f-3c1194810b49.png)

[2020-05-20 13:44] KonradDeskiewicz commented on #46
And this is how the cropper is placed in component:

[code]

[2020-05-23 12:32] Norserium opened #50 "Thoughts and plans about 1.0"
This issue is created to discuss new changes, include breaking changes in the new version. Feel free to discuss about the planned changes.

**Breaking changes:**
1. Move the styles to independent `.css` file. It will require to add `<link  href="/path/to/vue-advanced-cropper.css" rel="stylesheet">` to your code, but make this process more clearer.
2. Rename `classname`, `backgroundClassname`, `ima

[2020-05-23 13:00] Norserium commented on #46
@KonradDeskiewicz, thank you for your report! This bug is fixed in `0.16.5`.

[2020-05-24 18:41] powolnymarcel commented on #32
Usually when you figure things out, you share it for others..

[2020-05-25 08:47] KonradDeskiewicz commented on #46
Works fine :) Thanks for quick fix :)

[2020-05-25 08:47] #46 closed

[2020-05-26 15:03] dminchev opened #51 "Nuxt integration"
I'm using the library with regular Vue application without any problems.

Now I'm integrating the library in a nuxt application, however passing :src="imageUrl" does not assign to the `src` property but as `data-src` - check the screen shot https://take.ms/ZlgyZ

[code]

I'm able to set the src using refs, but this is incorrect property mutation
[code]

[2020-05-26 16:11] dminchev commented on #51
OK, I've found a solution using `:src.sync="imageUrl"` which resolves my issues.

[2020-06-01 14:06] simioluwatomi commented on #32
@powolnymarcel

Here you go

`Vue component`

[code]

`Controller method`

[code]

[2020-06-05 19:12] chokies commented on #44
experiencing this issue with the current version using s3 end points. My cropper had a v-if and and image is already cached.

[2020-06-05 19:30] Norserium commented on #44
@chokies, could you provide additional data? The link to image? Codesandbox that illustrates your problem?

[2020-06-06 23:39] ChileNetwork opened #52 ""export 'MoveableArea' was not found in 'vue-advanced-cropper'"
Hi there:
I would like to put this issue. Not sure what is going on. Can anybody help here??? Thank you

[2020-06-07 10:05] Norserium commented on #52
Hello, @ChileNetwork. Yes I can.  Could you provide the code that produces this error?

[2020-06-09 07:49] Norserium commented on #52
@ChileNetwork, is your problem solved?

[2020-06-11 05:41] pujara83 opened #53 "Error while using this library on IE Browsers"
Error : “TypeError: Object doesn’t support property or method ‘toBlob’

[2020-06-11 07:40] Norserium commented on #53
Hello, @pujara83! It's not the problem of this library.  IE doesn't support [this method](https://developer.mozilla.org/en-US/docs/Web/API/HTMLCanvasElement/toBlob). Use polyfill to solve this problem.

[2020-06-12 12:00] AlbertRAR commented on #41
Hello @Norserium
Thanks for the great plugin, it works well and fits all the needs.
I understand that my question is not related to the plugin functionality but can you please demonstrate how to properly use the toBlob() method instead of toDataURL()?
Maybe you could place an example to https://norserium.github.io/vue-advanced-cropper/tutorials/recipes.html#getting-result instead of this.image = c

[2020-06-13 13:07] Norserium commented on #41
Hello, @AlbertRAR! I've updated the documentation and added the section ['Upload image to a server'](https://norserium.github.io/vue-advanced-cropper/tutorials/basic-recipes.html#upload-image-to-a-server).

[2020-06-13 14:31] AlbertRAR commented on #41
Hi @Norserium !
Thanks for the quick response and the example, I appreciated!

[2020-06-19 19:46] lexicalninja opened #54 "Resize goes away with restrictions"
Hello,

Thank you for this great tool. It was super easy to use and get going.

I have an issue where I am telling the cropper to set the following restriction:
[code]
but when i set those to the cropper, it stops being able to use the wheel to resize the image while cropping.

I have tried forcing the `:wheelResize="true"` and was not successful.

Any idea on how to get this working? Thank you in

[2020-06-19 19:51] Norserium commented on #54
Hello, @lexicalninja!

I suppose there is the little misunderstanding. The restrictions apply only to the real size of cropped image, not the size of stencil on your screen.

[2020-06-19 19:54] lexicalninja commented on #54
ok. so if I want the cropped image say 64 x64 and no other size, but to allow resizing while cropping is there currently a way to do this?

Thanks for getting back so fast

[2020-06-19 19:57] Norserium commented on #54
Unfortunately, it's not possible right now.

I want to rebuild all resize image system in the future (to make it possible and add the possibility to resize image programatically), but I have too much another work right now.

[2020-06-19 19:58] lexicalninja commented on #54
understandable. I may see if I can hack around it with a 1 pixel difference. Thanks for the quick reply.

[2020-06-19 19:58] #54 closed

[2020-06-21 12:43] ettaegbe commented on #41
pass '`image/jpeg`' as the second parameter.
`canvas.toBlob(callback,'image/jpeg')`

[2020-06-22 17:47] bribar commented on #44
Hi @Norserium

I have the same issue loading images from Amazon s3 buckets. It loads fine not using Cropper (check screenshot, third entry is 200 response).

I have a CORS policy set for my domain in s3 bucket...

![image](https://user-images.githubusercontent.com/10064729/85317806-db32ce00-b473-11ea-9b6b-201b7085173e.png)

I tried exposing the Access-Control-Allow-Origin header but doesn't come a

[2020-06-22 17:57] bribar commented on #44
I found this...
https://intellipaat.com/community/24967/s3-not-returning-access-control-allow-origin-headers,
but I think this would be the responsibility of the plugin.

Or is there an option/parameter to accomplish this?

[2020-06-22 18:26] bribar commented on #44
@rhysstubbs I see you use AmazonS3, how are you getting the headers returned? Is it because you use CloudFront?

[2020-06-22 20:32] Norserium commented on #44
@bribar, I do not see 'access-control-allow-origin' header in your response.
![image](https://user-images.githubusercontent.com/9862719/85326752-7492cc00-b4d6-11ea-9868-0bdc4ee6e978.png)

You can try to change the following line in your rules `<AllowedOrigin>MyDomainHere</AllowedOrigin>` to `<AllowedOrigin>*</AllowedOrigin>`.

In any case I currently suppose that it's not the problem of my library

[2020-06-22 20:39] bribar commented on #44
Yeah I know...Amazon s3 doesn't return it unless you make sure that you use an Origin header with every request.

Your plugin is requesting those images through xhr correct? Does it send Origin in the request?

I'm not sure how to get the header in the response from Amazon.

[2020-06-22 21:06] rhysstubbs commented on #44
Funnily enough I’m still experiencing problem with this CORs issue, but I haven’t given it any attention since I originally posted this issue. I will however take a look at this tomorrow as it’d be good to fix. If I come across anything I will make sure to comment here with the details. I am using CloudFront, yes.

[2020-06-22 22:06] bribar opened #55 "Displaying Cropper within modal or element with display none"
I use UIkit specifically, but also tried on a div element with display:none;

When the modal is displayed, the image and cropper doesn't display.

https://jsfiddle.net/bribar/6chtk9pe/

I've noticed with a div, if I hide the div from within the Cropper Ready event, I can toggle the display attribute and Cropper has no issue.

I really want to use it in a modal. Any work-arounds?

[2020-06-22 22:37] Norserium commented on #44
@bribar, could you provide any link on image at your server?

[2020-06-22 22:57] Norserium commented on #55
@bribar, there are always some [workarounds](https://jsfiddle.net/d35zv1t2/). But I suppose a special method for such cases should be added.

[2020-06-22 23:30] bribar commented on #55
Oh ok that works. Wasn't aware of onResizeWindow(), that in the docs? If not, might be helpful or a reload method :)

[2020-06-22 23:49] Norserium commented on #55
No, it's an undocumented approach. It's a workaround. There should be reload method and I will try to implement it soon.

[2020-06-22 23:51] bribar commented on #55
Ok thanks a lot! Nice work with the plugin btw!

[2020-06-22 23:51] #55 closed

[2020-06-23 10:17] rhysstubbs commented on #44
You are correct, Amazon does not return the CORs headers unless a Origin header is specified on the request. I am going to test this locally and perhaps put in a PR if I find a stable fix.

[2020-06-23 12:03] rhysstubbs commented on #44
FYI;
I've forked this repo and I am currently testing the fix I've applied. In a few days once I'm confident it's working I will submit a PR :)

[2020-06-23 13:40] chokies commented on #44
actually i wasnt sure how i fixed it. its was either adding the cors policy on aws or removing the v-if that i added that hides the cropper. But playing with the hard reload/clear cache thing before sometimes fixes the issue. But then im really not sure. Also im not experiencing it anymore

[2020-06-23 15:51] bribar commented on #44
Hi @chokies

If I disable cache (while dev tools open) the header error doesn't come up. If I close dev tools it will appear again on refresh. But it's still an issue for the end user, who won't be using dev tools or clearing cache every time.

Can you share your CORS policy? I have that set up too, but doesn't seem to help.

@rhysstubbs I look forward to your fix!

[2020-06-23 15:55] Norserium commented on #44
@bribar, alas, I can't reproduce the error until somebody provide me the link to such images. I use the images from other domain in the documentation and don't encounter any problems.

Did you try to set `checkOrientation` to `false`?

[2020-06-23 16:05] bribar commented on #44
@Norserium Interestingly enough, I went to get an image url for you and noticed it's not loading with errors now, WTH haha. I see the response headers now have the correct headers. I don't know what changed.

Maybe CORS policy updates on Amazon take a while to reflect changes? I did upload a different image, maybe CORS update didn't apply to old image that existed prior to update. I have no clue.

[2020-06-23 17:03] bribar commented on #44
@Norserium It's happening with this image...

https://s3-us-west-1.amazonaws.com/yalla.resources/images/clients/random_9.jpg

[2020-06-23 21:43] Norserium commented on #44
@bribar, thanks! But I can't reproduce this error with your link right now. I've already tried in Chrome and Firefox (with enabled and disabled cache).

[2020-06-23 22:22] heons opened #56 "Black background of the image preview with Cropper makes .png with black and transparent not visible."
`<cropper
        ref="imageCropper"
        classname="cropper"
        :src="imagePreview"
        :stencil-props="{ aspectRatio: 1/1 }"
      />`

    currentImage: function(img) {
      if (img) {
        const fr = new FileReader();
        fr.readAsDataURL(img);
        fr.addEventListener("load", () => {
          // Save the file and preview.
          this.imageFile = img;
          this.

[2020-06-23 22:28] heons commented on #56
I was able to remove the alpha channel of png using this.
https://stackoverflow.com/a/54068589/7917275

[2020-06-24 08:43] Norserium commented on #56
@heons, could you attach the image as file and provide a codesandbox?

[2020-06-24 11:45] heons commented on #56
Image :
![add_circle_black_108x108](https://user-images.githubusercontent.com/26397909/85550035-8ebfcd80-b5ee-11ea-8c1a-71cc1101e89c.png)

Sandbox :
https://codesandbox.io/s/youthful-proskuriakova-et7rv?file=/src/components/HelloWorld.vue

[2020-06-25 21:38] Norserium commented on #56
@heons, this bug is fixed in `0.16.6`. Please update to this version and change the color of your background. Example is [here](https://codesandbox.io/s/charming-engelbart-ej0zd).

[2020-06-25 22:26] heons commented on #56
@Norserium Thank you for the fix. It works ok. But I found one weird thing. Ff the style is scoped <style scoped>, it doesn't work.

[2020-06-25 22:36] tre-dev opened #57 "Fixed stencil can't be moved (/w code example)"
First off: thanks for the great tool!

I'm trying to implement the `fixed stencil` ala [twitter style](https://user-images.githubusercontent.com/59442299/85801934-2b47b400-b744-11ea-8e52-c33578581199.png), where the stencil is in fullscreen and it can be moved towards the edges of the images & zoomed.

But I'm running into a problem. I've used exactly the code from the fixed-stencil example, but I

[2020-06-26 08:03] Norserium commented on #56
@heons, I know. I will investigate the solution, but I'm not completely sure that it's possible.

[2020-06-26 08:19] Norserium commented on #57
Hello, @tre-dev!

There was the undocumented aspect. I missed the line `image-restriction="stencil"`. Also you have used the outdated version of the cropper.

Take a look at [the fixed version of your codesandbox](https://codesandbox.io/s/vue-avanced-cropper-169-djycs?file=/src/App.vue:349-376).

[2020-06-26 08:38] tre-dev commented on #57
Awesome! I used the up-to-date version locally, but `image-restriction="stencil"` fixed it. Thanks!

[2020-06-26 09:01] Norserium commented on #57
@tre-dev, unfortunately, it's not possible, because you can't set the stencil height directly (only cropped area). I'm thinking how to fix this limitation in the next version.

[2020-06-26 11:21] tre-dev commented on #57
Ok, thank you.

Is there any way to set a maxWidth/Height within a `fixed stencil`? It seems to be working fine when I reduce the browser width, as in the image keeps the aspect ratio and just "shrinks". But when I set the width/height directly for `.cropper`, it's just "cut" on the sides.

[2020-06-26 12:07] heons commented on #56
It is ok.Just letting you know. Thank you so much~!!!

[2020-06-26 19:48] tre-dev opened #58 "Image restriction "stencil" with custom circle stencil"
I would like to combine the `image-restriction="stencil"` with the custom `circle stencil`.

Below is an example. When you remove `:stencil-component="$options.components.CircleStencil"` it works as it should, just with the wrong stencil.

https://codesandbox.io/s/vue-avanced-cropper-169-3hnj2?file=/src/App.vue

[2020-06-26 20:43] Norserium commented on #58
Hello, @tre-dev!

The stencils props `movable` and `scalable` are not used by cropper, they are used only by stencil. Default components processes them correctly and block moving and scaling, but your custom stencil doesn't.

There is [the example of processing that props](https://codesandbox.io/s/vue-avanced-cropper-169-bydn0?file=/src/circle.vue) by your stencil.

[2020-06-29 15:02] euberdeveloper opened #59 "default size or position, get all the space"
Hi, I want the cropper to cover all the image by default.

I tried with:

[code]

And passing it to `:default-position="defaultPosition"`, but it does not recognize right and bottom.

How to solve the problem, if you do not know the given image width and height?

[2020-06-29 15:11] euberdeveloper commented on #59
I looked better at the docs and I used

[code]

[2020-06-29 15:11] #59 closed

[2020-06-30 07:38] rhysstubbs commented on #44
Have you read through the AWS docs [Troubleshooting CORS issues](https://docs.aws.amazon.com/AmazonS3/latest/dev/cors-troubleshooting.html)? This is definitely an AWS S3 issue, you were right when you previously mentioned the Origin header needs to be specified. The cropper looks to make more than 1 request for the image, if you inspect I expect you find most are sucessful and only 1 is failing?

[2020-06-30 08:57] Norserium commented on #44
@rhysstubbs, yes you are right, but I decide to drop this feature, cause the library user can do it himself by adding timestamp to `src`.

Alas, I can't fix this problem until I get some image, that can be used to reproduce it. But again, I've used much images from external resources at the documentation and don't encounter any problems.

[2020-06-30 09:04] Norserium commented on #59
@euberdeveloper, just for your information, to init coordinates you may use `defaultPosition` and `defaultSize` props separately. But your method is also suited now.

[2020-07-04 14:45] chokies commented on #44
this is my cors config on aws bucket

<?xml version="1.0" encoding="UTF-8"?>
<CORSConfiguration xmlns="http://s3.amazonaws.com/doc/2006-03-01/">
<CORSRule>
    <AllowedOrigin>*</AllowedOrigin>
    <AllowedMethod>GET</AllowedMethod>
    <AllowedHeader>*</AllowedHeader>
</CORSRule>
</CORSConfiguration>

[2020-07-04 19:54] John-Goff commented on #41
Hi! We recently had the same issue described above. After searching through a few different libraries that all had the same underlying issue, I've discovered the solution. You need to make sure that you pass the CORRECT mime type to `canvas.toBlob`. By correct I mean the same image type as the file that was originally uploaded. The best way to do this is to check the magic bytes of the file, falli

[2020-07-07 05:31] stuartraines opened #61 "Restore zoom level on cropper image"
Firstly, I'd just like to say it's an awesome component! Really appreciate your hard work building it.

For my use case, after cropping an image, I give the user the ability to edit the cropped area at a later date. I then want to load the original image pre-cropping back into the component, and then restore the image position and zoom level, so that it shows the previously cropped area within the

[2020-07-07 07:58] Norserium commented on #61
Hello, @stuartraines! You can't set or control initial zoom programatically right now. It's the most desired feature, but one is pretty hard to implement, and I still have not got time to do it.

[2020-07-07 09:22] stuartraines commented on #61
Hello @Norserium. No worries, I'll work around it for now.

[2020-07-09 14:25] PedroRTomas opened #62 "Cannot read property 'height' of undefined"
Hello,
I've tried to run the sample available: https://norserium.github.io/vue-advanced-cropper/
But nothing renders on-screen and browser console presents the following errors:
![image](https://user-images.githubusercontent.com/48090914/87051823-fdf50e80-c1f7-11ea-9d94-e1b0121ac7e1.png)
Following the error pointed out it appears to be related with the computed style property.

npm version:
6.14.5

[2020-07-10 11:02] Norserium commented on #62
Hello, @PedroRTomas! I will investigate this bug on weekends.

[2020-07-11 12:57] Norserium commented on #62
@PedroRTomas, I've fixed the [example of stencil](https://norserium.github.io/vue-advanced-cropper/introduction/concepts.html#stencil) and added the dynamic component that use one as example below. But I couldn't reproduce exactly your bug.

Could you share the code?

[2020-07-11 12:59] Norserium commented on #34
@TitanFighter, @igogoson I close this issue, but if you encounter this problem in the future, feel free to write here.

[2020-07-11 12:59] #34 closed

[2020-07-11 13:00] #47 closed

[2020-07-11 13:00] Norserium commented on #52
The example is fixed. Closing issue.

[2020-07-11 13:00] #52 closed

[2020-07-11 13:01] Norserium commented on #53
@pujara83, any news?

[2020-07-11 13:37] Norserium commented on #42
@moniroth0310, I close issue. Feel free to write here if you encounter this problem in the future.

[2020-07-11 13:37] #42 closed

[2020-07-11 14:04] Norserium commented on #58
@tre-dev, any news?

[2020-07-12 15:20] ThePendulum commented on #47
Thank you so much! This will make it much easier to offer a smooth user experience :-)

[2020-07-12 15:56] Norserium commented on #47
I'm happy to help!

[2020-07-16 15:29] h0rseduck opened #63 "Bootstrap modal is closed when cursor is released outside the modal"
![cropper](https://user-images.githubusercontent.com/4640238/87690234-9f550500-c7a2-11ea-9dd3-8bd328f17701.gif)

Version: 0.16.6

Bootstrap Vue: 2.15.0
Bootstrap: 4.4.1

https://jsfiddle.net/h0rseduck/qb63wsvg/

[2020-07-20 11:05] typedcode opened #64 "Minimum Pixel-Restrictions not working since Version 0.16.2"
Hi,

setting the Pixel-Restrictions with
`{ minHeight: 15, minWidth: 15, maxWidth: 480, maxHeight: 110 }`
worked since Version 0.16.1. It is broken since 0.16.2.

The Vue-Developer-Tools show, that the values were correctly set
`stencilRestrictions:Object
maxHeight:110
maxWidth:480
minHeight:15
minWidth:15`

No error is reported in JS-Console.

The Smallest selection one can make is 102,39 x 76,8.

[2020-07-20 19:59] Norserium commented on #64
Hello, @typedcode!

You're right. Currently there is the limitation for image. It is indeed equal to 10% of visible area and is designated to prevent resize stencil to a point.

But [there is a problem](https://en.wikipedia.org/wiki/Sorites_paradox). When I should prevent resize? So I still think how to solve this problem more elegant.

[2020-07-21 10:08] typedcode commented on #64
Hello @Norserium,

how about shifting the responsibility for this matter to the user? Leave the restriction to 10% but let the user override it with the pixelRestrictions. Then the user has to deal with it.

[2020-07-21 11:28] Norserium commented on #64
@typedcode, I thought about that too. But, there is catch, because your `pixelRestrictions` is used to prevent all possible resizes that will make the stencil smaller than your restrictions. The new limitation prevents only stencil resizing but doesn't prevent wheel or touch zoom.

[2020-07-22 13:13] Atluss commented on #64
Hi all, i have same problem:( Any trick or options for it?

[2020-07-22 14:02] tre-dev commented on #58
Thought I had already commented, sorry. Yes, your example worked!

The only thing I'm missing is an autozoom with fixed width/height, as modifying a pretty wide image will make the height tiny. But AFAIK, you're already aware of that feature request, but don't have enough time, right?

[2020-07-22 14:02] #58 closed

[2020-07-22 14:04] Norserium commented on #58
@tre-dev, yes you are right.

[2020-07-22 14:09] Norserium commented on #64
@typedcode, @Atluss I suppose I can reduce the internal limitation for height and width to make them as small as possible. It's not the ideal solution, but I suppose it will be nice compromise in the current situation.

[2020-07-24 05:01] Atluss commented on #64
I think this will help 👍

[2020-07-24 21:50] Norserium commented on #64
@Atluss, @typedcode could you update to `0.16.10` and give your response.

[2020-07-25 05:03] Atluss commented on #64
Now works fine :) thanks a lot!

[2020-07-26 13:11] Norserium commented on #63
Hello, @h0rseduck!

The problem is that cropper stops an event propagation on its elements click. It breaks the click-out algorithm of the bootstrap dialog window, because to determine that user clicked inside modal it process all `mousedown` events on the dialog window and remember this fact until `mouseup` event occurs.

But the story is not without hope, there is [a workaround](https://jsfiddle

[2020-07-26 13:13] Norserium commented on #62
@PedroRTomas, any news?

[2020-07-26 13:15] Norserium commented on #36
I close this issue. But if you encounter this problem again, feel free to inform.

[2020-07-26 13:15] #36 closed

[2020-07-26 13:17] Norserium commented on #45
@hmoskva, could you provide please the explanation of your case? Why do you need to set static stencil width and height? It looks quite specific. I've started work on implementation of new features, so it would be helpful.

[2020-07-26 13:20] Norserium opened #65 "Bugs / Feature Requests"
Bugs:
1. Scoped styles can't be used as class names of cropper and its elements (#56).

[2020-07-26 13:23] Norserium commented on #56
@heons , I close this issue. The using scoped styles bug is registered.

[2020-07-26 13:23] #56 closed

[2020-07-26 14:17] h0rseduck commented on #63
Hello, @Norserium!

Thanks for response and for the great component!

[2020-07-26 14:17] #63 closed

[2020-07-28 08:24] typedcode commented on #64
I still cant go smaller than 20*20px. There is a new parameter "minimum" which is set to 20. I would like to overwrite it, but I cant.

[2020-07-28 08:25] Norserium commented on #64
@typedcode, could you send me the screenshot? I'm pretty sure that you won't be able to work with stencil smaller than 20px anyway.

[2020-07-31 13:19] PedroRTomas commented on #62
Hi, sorry for the delay
I start thinking that the problem is in the way I'm passing the props to the component, but I'm not totally convinced.
For the example available at the end of the page at https://norserium.github.io/vue-advanced-cropper/ , how would you call it inside of a v-container, for example? And would be mandatory to specify the {height,width, left, top} properties? (The error that I

[2020-07-31 14:36] Norserium commented on #62
@PedroRTomas, could you provide the code details? I still don't get what problem do you encounter. You should set height, width, left and top coordinates of your stencil to correctly place it inside the cropper. How else?

[2020-07-31 17:07] PedroRTomas commented on #62
Here is a print of the files:
![print_1](https://user-images.githubusercontent.com/48090914/89059012-4a93bb80-d358-11ea-9379-b8b66e3e8623.jpg)
The file on the right is copy-paste of https://norserium.github.io/vue-advanced-cropper/
The problem seems to be that I must be setting wrong the properties of 'StencilCoordinates' within App.vue

[2020-07-31 20:02] Norserium commented on #62
Why do you use `stencil-example` outside the cropper? It should be [passed to cropper as prop](https://norserium.github.io/vue-advanced-cropper/tutorials/recipes.html).

[2020-08-05 11:43] PedroRTomas commented on #62
Ok, I've tried doing that and I was able to make cropper example work. However, regarding the stencil example, I still wasn't able to make it functional. Do you provide the full code (HTML and Vue) of an example for that case on your website?

[2020-08-09 10:09] Norserium commented on #62
There is [the example](https://codesandbox.io/s/vue-avanced-cropper-custom-stencil-8fw9k?file=/src/App.vue).

[2020-08-14 09:02] MattiaFailla opened #66 "Black background issue with SVG under VueJS"
Hello,
the background of every svg files is black.
On vue it is impossible to change the background due to the scoped style. (I am using the latest version of this plugin).

Example svg rendering on a normal Chrome tab:
![image](https://user-images.githubusercontent.com/11872425/90232543-21296400-de1d-11ea-8a99-ab64aaabfae7.png)

Under the plugin:
![image](https://user-images.githubusercontent.com

[2020-08-14 15:13] Norserium commented on #66
Hello, @MattiaFailla! Did you try to turn off scoped styles for the cropper and change the background color?

[2020-08-15 06:06] comodorop opened #67 "¿How to block resize auto in the crop?"

[2020-08-15 11:19] Norserium commented on #67
@comodorop, could you please clarify the question? What is auto resize?

[2020-08-15 11:20] MattiaFailla commented on #66
Hello @Norserium. Yes, I have tried to disable scoped style in the vue component but unfortunately it does not seems to have any effect. If you feel more comfortable I can share the code.

[2020-08-15 12:35] Norserium commented on #66
Yes, please.

[2020-08-17 00:44] karelbyte opened #68 "the stencyl, cut the image area?"
Hello, a newbie question, if I use the circle-stencil, it is assumed that the image that will save me is what is inside the circle, but it still saves me a rectangle, shouldn't it be a circle? Am I doing it wrong? Or do I have a misconception? Or that sole round contour is to select, can you get me out of my doubt?

[2020-08-17 07:36] MattiaFailla commented on #66
Template:
[code]

Script:
[code]

Style:
[code]

[2020-08-17 08:22] Norserium commented on #68
Hello, @karelbyte!

The stencil always defines only the rectangle area to crop (it is able to limit maximum and minimum aspect ratios only). It's the intentional decision, because there are plenty of situations where circle stencil, for example, is used to get the square image.

But you can crop the result by yourself. I've wrote [the example](https://codesandbox.io/s/vue-xeb59) before for the sim

[2020-08-17 08:57] Norserium commented on #66
It's better to publish code to codesandbox, for example. You save the developer time to check your code by doing this. There is [the example](https://codesandbox.io/s/vue-avanced-cropper-svg-problem-f7qcv).

Notice, that you set `color` property for `.cropper-background` class instead of `background`.

[2020-08-17 09:30] MattiaFailla commented on #66
Thank you very much and I apologize for the sandbox.
The `color` tag was one of the tests to understand if the problem was related to my misconception of the use of the library API.

I modified the example you made in codesandbox applying "`scoped`" to the style, and as you can see now it doesn't work.

[Example code](https://codesandbox.io/s/vue-avanced-cropper-svg-problem-forked-xn8g8?file=/src/

[2020-08-17 09:42] Norserium commented on #66
Not problem at all, I'm just trying to popularize this method of code sharing.

Yes, it doesn't. It's [known bug](https://github.com/Norserium/vue-advanced-cropper/issues/65).

[2020-08-17 09:45] MattiaFailla commented on #66
I absolutely understand, especially if you are trying to keep an open-source project!

I just missed it! Thanks so much. I'll keep an eye on that issue.

[2020-08-17 09:45] #66 closed

[2020-08-17 09:50] Norserium commented on #66
@MattiaFailla, you can use [the following approach](https://codesandbox.io/s/vue-avanced-cropper-svg-problem-scoped-styles-teqtb) now.

[2020-08-17 09:56] MattiaFailla commented on #66
@Norserium Thanks!

[2020-08-17 10:00] Norserium commented on #66
According the docs:

So I'm not sure that other way is possible. I should somehow pass the `data` attribute to child element from the root, and I'm not sure that there is right way to do it.

Also you can use [not scoped and scoped styles](https://vue-loader.vuejs.org/guide/scoped-css.html#mixing-local-and-global-styles) in your SFC in the same time.

[2020-08-17 10:13] MattiaFailla commented on #66
There is probably no elegant way to do this, but I would suggest you set a default color (eg white) directly in the component or try to see if inherit can work..
Eventually this problem occurs with transparent images and is more common have a white background rather than a black one.

[2020-08-17 10:16] MattiaFailla commented on #66
![image](https://user-images.githubusercontent.com/11872425/90385347-44554d00-e083-11ea-8ed2-a59a085af076.png)
![image](https://user-images.githubusercontent.com/11872425/90385444-74045500-e083-11ea-840c-45bfb27d0dfa.png)

I have tried the inherit keyword and it seems to work pretty well.

Do you think it is possible to define a style class directly in the component and set the background to inher

[2020-08-17 10:29] Norserium commented on #66
I can't, because by default the background of cropper and background of area should are different (transparent and black accordingly).

Yes, but you will see this background when you resize not transparent image with `imageRestriction` that is not equal to `area`. Look at [the example](https://norserium.github.io/vue-advanced-cropper/tutorials/advanced-recipes.html#different-image-restrictions).

[2020-08-18 11:05] Atluss commented on #50
Maybe add muiltycrop functions?

[2020-08-18 11:54] Norserium commented on #50
@Atluss, what do you mean by "multicrop"?

[2020-08-18 14:23] karelbyte opened #69 "dynamic ratios do not work with fixed widths"
Hello, thank you very much for this great tool, I have a query to clarify, the component I want to give in some cases a minimum and maximum width equal, so that the user does not go beyond the width that I preset, but I want to be able to change the aspect ratio, so that it becomes a square (1), or "rectangle", 3/2, but when I apply the restriction to the width the dynamic ratios stop working! Bec

[2020-08-18 15:16] Atluss commented on #50
Crop multiple areas.

[2020-08-18 15:18] Norserium commented on #50
@Atluss could you provide the example of such cropper? I can't imagine any use cases where it would be needed.

[2020-08-18 15:53] Norserium commented on #68
@karelbyte, did you solve your problem?

[2020-08-18 15:56] karelbyte commented on #68
Yes, with the provided example, it worked perfect! Thank you

[2020-08-18 16:05] Norserium commented on #68
@karelbyte, I'm glad to hear it! I close issue then.

[2020-08-18 16:05] #68 closed

[2020-08-18 17:52] Atluss commented on #50
For example to crop several faces on photo. In my case i use two libraries for it.

[2020-08-19 08:43] Norserium commented on #50
@Atluss, what's libraries? I prefer to implement this task by creating multistep cropper, so I would be glad to see the screenshots, examples or video.

[2020-08-20 06:47] Atluss commented on #50
First library vue-advanced-cropper for single crop image, second vue-moveable for multicrop(but this library use react dependencies). For example on this screenshot, selected regions of image for OCR scans. [screenshot](https://cloud.mail.ru/public/HdaU/2NXobRk9M)

[2020-08-20 12:46] Norserium commented on #50
@Atluss, thank you. I understand your use-case now. But it's pretty hard to save the all current features and implement this feature at the same time.

[2020-08-20 15:22] Atluss commented on #50
Ok, i understand:) if there are more ideas I will write about it.

[2020-08-24 13:51] pnutmath commented on #41
Same issue we find 1.8MB image goes to around 24MB.

[2020-08-24 14:38] Norserium commented on #41
@pnutmath, did you try the recommendations above? Look at the [upload example](https://norserium.github.io/vue-advanced-cropper/tutorials/recipes.html#upload-image-to-a-server) in the documentation also. I suppose that it's not the issue of this library.

[2020-08-24 15:07] acurvers commented on #41
I also have this issue,
trying several recommendations from above did not help me. but if you find a solution @pnutmath i gladly hear about it.

[2020-08-24 15:27] Norserium commented on #41
@acurvers, could you provide more details? The source code, for example?

[2020-08-25 05:47] pnutmath commented on #41
@Norserium , @acurvers - if we specified file type correctly while getting data URL `canvas.toDataURL('image/<type>')` it does not produce exponential size, but definately not at best too.

This is specifically with high defination images

Can we identify it using library only thet helpes user of this library?

[2020-08-28 10:15] PedroRTomas commented on #62
Thanks, I think that now I will be able to use it properly!
Closing, once my original problem is solved.

[2020-08-28 12:32] PedroRTomas commented on #62
Sorry about this, I thought that I had found the solution, but the truth is that I can't seem to replicate something like this:
![image](https://user-images.githubusercontent.com/48090914/91560717-3086d200-e932-11ea-9a35-4f6893bf00b3.png)

In the example you provided above, the result is still a normal rectangle cropper, despite you pass 'stencil-component' to the Cropper element.
"
<Cropper

[2020-08-28 14:11] Norserium commented on #62
To replicate something like this, you should customize [the stencil accordingly](https://codesandbox.io/s/vue-avanced-cropper-custom-stencil-2-qogqv).

[2020-08-31 18:53] jonalxh commented on #27
Hi. Is there a method when image start loading? My idea is to show a loading alert when it starts loading and hide it when finished, it is easy if I have just an img, but I have a lot and sometimes user tries to open the same img and I dont want the loader be shown again.

[2020-08-31 18:58] jonalxh opened #70 "How to set the initial size of cropper area?"
Hi, I want to define an initial size of the cropper, my images resolutions may vary, but I want the cropper initially has 800px width and 300px height, I've set it in restriction but it shows me an initial size bigger.

[code]

How to set the initial size according to my requirements?

[2020-08-31 21:49] Norserium commented on #27
@jonalxh, could you provide some example (codesandbox, gif or etc)?

[2020-08-31 21:49] Norserium commented on #70
Hello, @jonalxh. Do you want to set the initial width of [cropper or its stencil](https://norserium.github.io/vue-advanced-cropper/introduction/concepts.html#cropper)?

[2020-08-31 22:00] jonalxh commented on #70
The concepts are a little strange for me because I'm not English speaker, but what I need is to set the size of default selected area, like in the picture below:
 ![image](https://user-images.githubusercontent.com/12530606/91772813-36d3b300-ebab-11ea-834f-45f0f1570f6b.png)

[2020-08-31 22:03] Norserium commented on #70
I don't understand you clearly, but did you see this [example](https://norserium.github.io/vue-advanced-cropper/tutorials/advanced-recipes.html#default-size-and-position) (Default size and position)?

[2020-08-31 22:13] jonalxh commented on #70
Yeah, that's it, thanks a lot, I've not seen this example.

Can you tell me how to set the default width to 100% of the img?

[2020-08-31 22:37] Norserium commented on #70
You can use this approach:
[code]

It will be deprecated soon, but it is only one way do it by this method now. As an alternative you can use `setCoordinates` method to set default size.

[2020-08-31 22:58] jonalxh commented on #70
Thanks a lot, It worked like a charm.

[2020-08-31 22:58] #70 closed

[2020-09-01 17:18] Norserium commented on #57
@tre-devб сould you take a look at [this example](https://norserium.github.io/vue-advanced-cropper/tutorials/showcase.html#twitter). Is that you wanted to implement?

[2020-09-01 18:29] Norserium commented on #49
@DavidScicluna, could you take a look at [this example](https://norserium.github.io/vue-advanced-cropper/tutorials/advanced-recipes.html#manipulate-image)?

[2020-09-01 18:34] Norserium commented on #61
@stuartraines , could you take a look at [this example](https://norserium.github.io/vue-advanced-cropper/tutorials/advanced-recipes.html#default-visible-area) ("default visible area" section)? Is that you want to implement?

[2020-09-01 18:36] Norserium commented on #53
I close this issue due to inactivity. If you encounter this problem in the future feel free to reopen the issue.

[2020-09-01 18:36] #53 closed

[2020-09-01 18:37] Norserium commented on #45
@hmoskva , could you look at [this example](https://norserium.github.io/vue-advanced-cropper/tutorials/showcase.html#twitter)? Is it close to your request?

[2020-09-01 18:41] Norserium commented on #64
@typedcode is your problem still actual?

[2020-09-01 18:43] Norserium commented on #69
@karelbyte is this issue still actual?

[2020-09-01 19:16] stuartraines commented on #61
@Norserium looks great in terms of setting the position and dimensions. I was also looking for a way to set the initial zoom. Will there be a way to do that too?

[2020-09-01 19:55] Norserium commented on #61
@stuartraines, technically it's the initial zoom. Try to zoom out the example with the girl on the beach.

[2020-09-01 20:31] Norserium commented on #41
@pnutmath I'm not sure that it should be a part of this library. It's the pretty specific task that could be solved by other library (for example, [this](https://www.npmjs.com/package/image-type)).

[2020-09-02 02:14] stuartraines commented on #61
@Norserium i'm not sure I follow. I can see that the girl on the beach image is zoomed in a bit initially, but I can't see how that initial zoom is set via a prop or method?

[2020-09-02 07:56] phena109 commented on #66
I don't mind to use non-scoped style just for the background. But I basically had to read all the related threads in order to work out that is what I should do. A bit of hint in the doc will help immensely.

[2020-09-02 09:37] CraigWallsauce opened #71 ".setCoordinates Issue, top value is not being recognised as a number when passed in"
My code sets the width and height from inputs, my code:

this.$refs.cropper.setCoordinates({
          width: parseInt(this.width),
          height: parseInt(this.height),
          top: parseInt(10),
          left: parseInt(10)
})

The top value is always NaN in your cropper component no matter what I pass in.

[2020-09-02 10:15] Norserium commented on #71
Hello, @CraigWallsauce! Could you provide the codesandbox for your problem? What are `this.width` and `this.height` values?

[2020-09-02 10:20] CraigWallsauce commented on #71
I replaced my values in the submitted code, the original was:

this.$refs.cropper.setCoordinates({
width:parseInt(this.customermural.customerwidth),
height:parseInt(this.customermural.customerheight),
top:parseInt(10),
left:parseInt(10)
         })

I have tried with and without parseInt.

A working sample which isn't complete can be found at:

https://dev1.wallsauce.com/wall-murals-wallpaper/dino

[2020-09-02 11:26] Norserium commented on #71
You shouldn't set the coordinates until you define both `this.customermural.customerwidth` and `this.customermural.customerheight`.

When you change width, `croppersetsize` is called and you set width correctly (`parseInt(100) = 100`), but you set height incorrectly (`parseInt("") = NaN`).

[2020-09-02 11:37] CraigWallsauce commented on #71
Thank you, I have amended my code and it appears to be working correctly now

[2020-09-02 11:37] #71 closed

[2020-09-02 12:08] Norserium commented on #71
@CraigWallsauce, you are welcome!

[2020-09-02 13:16] Norserium commented on #61
I suppose there is little misunderstanding about what is the visible area.  I'm updating the documentation now where I will try to explain this concept.

Let's remember, what is the cropper structure:

![cropper](https://user-images.githubusercontent.com/9862719/91986567-8514bd80-ed35-11ea-927a-c82fa88f298b.png)

The image is displayed inside the boundaries. But what's part of the image we see? Wh

[2020-09-02 14:27] Norserium commented on #66
@phena109, I've added [the styling notice section](https://norserium.github.io/vue-advanced-cropper/tutorials/customize-appearance.html#styling-notice) to "Customize appearance" page.

[2020-09-04 10:17] Norserium commented on #49
@DavidScicluna,` zoom` method is finally added. Please update to version `0.17.1`.

[2020-09-04 10:17] #49 closed

[2020-09-04 10:18] Norserium commented on #10
@tcdsantos, `zoom` method is finally added. Please update to `0.17.1` version.

[2020-09-04 11:13] tcdsantos commented on #10
Thank you very much @Norserium!!

[2020-09-04 12:06] Norserium commented on #38
@ErriourRU, hello! Could you look at [the example](https://codesandbox.io/s/vue-advanced-cropper-fixed-stencil-dbnyj). Is that you want to implement?

[2020-09-04 12:53] Norserium commented on #54
Hello, @lexicalninja! Could you take a look at [the following example](https://codesandbox.io/s/vue-advanced-cropper-another-fixed-stencil-1yi6f?file=/src/App.vue). Did you want to implement it?

[2020-09-04 12:55] Norserium commented on #55
@bribar, now you can freely use the method `refresh`. It's called on window resize and it should be called on the external container resize.

[2020-09-04 15:33] lexicalninja commented on #54
Let me take a look next week and see if it works. Thanks for getting back

⁣Sent from TypeApp ​

On Sep 4, 2020, 07:54, at 07:54, Norserium <notifications@github.com> wrote:

[2020-09-04 22:52] bzd2000 opened #72 "Support vue 3"
Hello,

Is there any plan to foresee a next branch for vue 3?

thx,
Filip

[2020-09-05 08:50] tre-dev commented on #57
Amazing! Is it also auto-scaling/zooming to a fixed height/width?

When taking this image:

<img width="590" alt="longimage" src="https://user-images.githubusercontent.com/59442299/92301618-68f76300-ef65-11ea-9322-d6f22187e24a.png">

I would like it to fit inside the red-cube:

![image](https://user-images.githubusercontent.com/59442299/92301601-5e3cce00-ef65-11ea-8dd1-061cf5cd66ad.png)

Otherwise

[2020-09-05 11:00] Norserium commented on #57
@tre-dev , that's what you will get:
![example](https://user-images.githubusercontent.com/9862719/92303652-b84a8d00-ef7f-11ea-95ac-9bb73b952bae.png)

I've moved the code to [codesandbox](https://codesandbox.io/s/vue-advanced-cropper-twitter-zr3np?file=/src/App.vue), so you can experiment with it on your own. But I should warn you: the code is not production ready, because it uses the not released

[2020-09-05 13:29] zaidiqbal opened #73 "Cannot read property 'width' of null"
Getting this error : Uncaught (in promise) TypeError: Cannot read property 'width' of null at VueComponent.resetCoordinates.

I am using cropper inside bootstrap modal, outside bootstrap modal it works fine.

This is how I am using it inside modal:

`<cropper
	class="cropper"
	:src="user.profile_picture"
	:min-height="250"
	:min-width="250"
	:stencil-props="{
		aspectRatio: 1/1,
	}"
	:size-restric

[2020-09-06 10:11] Norserium commented on #73
Hello, @zaidiqbal! I'm investigating your problem. Codesandbox or source code at least will be helpful.

[2020-09-06 10:12] Norserium commented on #72
Hello, @bzd2000. I've not tried yet this library with Vue 3. Have you encountered any troubles?

[2020-09-06 10:41] bzd2000 commented on #72
Yes, it doesn't work currently.

There are some breaking changes -> https://v3.vuejs.org/guide/migration/introduction.html#overview
(also plugin system changed)

I managed to copy the Cropper component (with all sources) in a vue 3 project and with some minor adjustments it seems to work in my use case. So I think it want be a huge work to migrate it.

I forked your project and try to update all n

[2020-09-06 10:58] zaidiqbal commented on #73
Thanks bro, I am attaching source code file
[MyProfileUpdatePicture.zip](https://github.com/Norserium/vue-advanced-cropper/files/5179512/MyProfileUpdatePicture.zip)

[2020-09-06 18:31] Norserium opened #74 "Do you want to contribute?"
There are tasks, that should be solved:

1. Replace `rollup-plugin-babel-minify` by `rollup-plugin-terser`. There are problems with compilation the library with this plugin now.

[2020-09-06 18:35] Norserium commented on #72
I will try to preserve one branch and save backward compatibility. But I need time to investigate this problem, so I think I delay this task to next weekends.

[2020-09-06 18:48] Norserium commented on #73
@zaidiqbal, could you help to reproduce your bug? Your code fragment is too fragmentary. I've created [the codesandbox example](https://codesandbox.io/s/vue-advanced-cropper-bootstrap-modal-z8y47) that uses bootstrap modal and it works just fine.

[2020-09-06 18:55] Norserium commented on #73
The working hypothesis: your image is smaller than `250px` width or `250px` height.

[2020-09-06 19:00] Norserium commented on #73
The working hypothesis: your image width or height is smaller than 250px.

[2020-09-06 19:36] Norserium commented on #73
Try to update to `0.17.2` version.

[2020-09-07 06:22] zaidiqbal commented on #73
@Norserium I have tested it on codesandbox, this seems to be the issue. I will further check it on my system

[2020-09-07 07:59] Norserium commented on #73
@zaidiqbal do the error disappear after update to the newest version?

[2020-09-07 08:04] zaidiqbal commented on #73
I haven't checked it yet, I installed the library 3-4 days ago so I might be on latest version already.

[2020-09-07 08:17] Norserium commented on #73
@zaidiqbal I've updated the library yesterday. In the last version I fixed the calculating of width and height in the case, when minimum size greater than maximum.

The library shouldn't throw the error described above now, but you should check my working hypothesis in any case.

[2020-09-07 08:21] zaidiqbal commented on #73
Ok thanks, I will give it a try. So in any case image dimensions should be greater than min-width, min-height right? If there comes a smaller image than min-width, min-height then it will again cause this issue?

[2020-09-07 08:26] Norserium commented on #73
@zaidiqbal if you pass, for example, an image with width lesser than min-width, cropper sets width equal to the image width and blocks resize. It shouldn't produce the error described in this issue anymore.

[2020-09-07 08:31] zaidiqbal commented on #73
Ok got it, thanks. I will check updated version. Will let you know

[2020-09-10 13:55] sasaorasanin opened #75 "Picture zooming doesn't work when using min-height"
`<cropper class="cropper" :src="image" :stencil-props="{ aspectRatio: 1/1 }" stencil-component="circle-stencil" min-height="50%"></cropper>`

When I use min-height, zooming doesn't work :/

[2020-09-10 14:41] Norserium commented on #75
Hello, @sasaorasanin!

I would be very grateful if any issue was accompanied by a link to codesandbox. I suppose, that the problem is incorrect `min-height` value. You should pass the number to this prop (`0 - 100`), it will be minimum height in the percents of image.

But remember, I plan to change default behavior in `1.0.0` and this prop will accept minimum height in pixels.

[2020-09-10 19:23] Norserium commented on #72
@bzd2000 the version of `rollup-plugin-vue` compatible with the next version of Vue is in the beta stage. It has at least one
 [the painful issue](https://github.com/vuejs/rollup-plugin-vue/issues/364) right now.

[2020-09-11 12:45] bzd2000 commented on #72
ok :)
that was exact the issue I had too

[2020-09-14 04:04] zSoulweaver opened #78 "Background positioning issues with mobile camera image"
Having an issue with mobile camera uploads, specifically it's a Samsung Galaxy S20+, although I can use a photo from my older S8 and the issue persists. I'm able to drop the image into photoshop, re-save, and it works, I'm also able to strip the exif data and it works fine (although no longer rotated correctly).

I'd imagine it has something to do with the exif orientation of the image, it's just

[2020-09-14 07:39] Norserium commented on #78
@zSoulweaver, could you transfer me that image (archived)?

[2020-09-14 12:20] zSoulweaver commented on #78
@Norserium I yoinked all the exif data from it except for the orientation, issue is still persisting so it should reproduce on your side. https://1drv.ms/u/s!Am6aenL1_cmUkUXX0PmPieRBUt3S?e=jUIaCd

Cheers!

[2020-09-14 21:52] Norserium commented on #78
@zSoulweaver, could you update to `0.17.3` and check? Nice puppy by the way!

[2020-09-14 22:02] zSoulweaver commented on #78
@Norserium Can do, as soon as I get home from work, I'll give it a go and close the issue if it's all g.

Cheers for the fast work

[2020-09-15 08:07] Norserium commented on #73
@zaidiqbal, any news?

[2020-09-15 08:08] Norserium commented on #67
@comodorop, I close this issue. If you encounter this problem again, please clarify your issue and I will reopen it.

[2020-09-15 08:08] #67 closed

[2020-09-15 08:08] Norserium commented on #62
@PedroRTomas, any news?

[2020-09-15 08:10] Norserium commented on #64
I close this issue. Feel free to write here if you have any related questions.

[2020-09-15 08:10] #64 closed

[2020-09-15 08:11] Norserium commented on #69
@karelbyte, any news?

[2020-09-15 09:07] #78 closed

[2020-09-15 21:19] Nemesis19 opened #79 "Maximize cropper on image"
Dear Norserium,

I'm sorry to use the repo issue to ask a support question, but I can't find any answers to these questions:

1. how can I maximize the cropper rectangle stencil till the border of the image? I set a cropper like here below to have a fixed draggable square only. But on images with 4:3 proportions the cropper doesn't reach the edges. I expect to have a square from left to right bord

[2020-09-15 21:22] Norserium commented on #79
Hello, @Nemesis19!

1. Could you provide [codesandbox](https://codesandbox.io/s/vue-avanced-cropper-basic-jfy5w) for the first question and the corresponding image?

2. The cropper passes `result-coordinates` prop to stencil, but `RectangleStencil` doesn't have `result-coordinates` in its props, so it's used as html attribute. I will fix this problem in the future.

[2020-09-15 21:57] Norserium commented on #79
If you encounter problems with extracting your code to codesandbox you can provide the screenshots with actual and desired results.

[2020-09-15 21:57] Nemesis19 commented on #79
Hello, thanks for your quick reply.

Ok for question number 2, I can just ignore the thing then.

About question number 1 I could not easily make a working sandbox and I have some proprietary code that I can't expose. What I can tell you is that once the cropper gets rendered in my component **mounted** I do this.

[code]

this works perfectly for 16:9 images made with my iphone but when I use a 4

[2020-09-15 21:57] Norserium commented on #79
Could you provide the screenshots with actual and desired results?

[2020-09-15 22:03] Nemesis19 commented on #79
Sure.

So far these are good, look at the orange cropper, please forgive the red boxes I put on the photos:

![Schermata 2020-09-15 alle 23 47 21](https://user-images.githubusercontent.com/5808262/93269529-6db2e700-f7af-11ea-98a2-11f161957b9e.jpg)
![Schermata 2020-09-15 alle 23 59 15](https://user-images.githubusercontent.com/5808262/93269627-a9e64780-f7af-11ea-8fb0-288d8e5da0c8.jpg)

this is not:

[2020-09-15 22:12] Norserium commented on #79
You shouldn't be sorry, it's all right.

If I understood you correctly you should pass the following function to `default-size`:
[code]

[The codesandbox](https://codesandbox.io/s/vue-advanced-cropper-changed-default-size-ryjv7?file=/src/App.vue).

[2020-09-15 22:18] Nemesis19 commented on #79
Your sandbox is perfect, in my case firefox complains that

`Warning: the default size breaks size restrictions. Check your defaultSize function
Object { width: 2954, height: 2954 }
 Object { minWidth: 0, minHeight: 0, maxWidth: 2954, maxHeight: 2202.4522968197884, minimum: 0 }`

[2020-09-15 22:52] Nemesis19 commented on #79
I consider this issue as solved, I don't think the problem with that picture is worth any investigation.

Thank you very much again!

[2020-09-15 23:32] Norserium commented on #79
@Nemesis19, I suppose, that you pointed out the unknown bug. It's strange, that I can reproduce it only in production release. I will investigate and fix it the next releases.
<details>
  <summary>The image to reproduce</summary>
  <img src="https://user-images.githubusercontent.com/9862719/93275099-a5785980-f7c4-11ea-9240-48acfd8a0720.png">
</details>

[2020-09-17 10:35] Norserium commented on #57
@tre-dev, have you seen the last example? Is that what you wanted to get?

[2020-09-17 10:37] tre-dev commented on #57
Yes, sorry. Exactly what I want!

[2020-09-17 10:41] Norserium commented on #57
@tre-dev, nice! I will try to optimize code later and publish it in the showcase documentation section. It's not straightforward solution, but. at least, the implementing of the new cropper concepts makes this possible.

[2020-09-17 10:42] Norserium commented on #57
@tre-dev, nice! I will try to optimize code later and publish it in the showcase documentation section. It's not straightforward solution, but. at least, the implementing of the new cropper concepts makes this possible.

[2020-09-17 10:42] #57 closed

[2020-09-17 13:41] mathix420 commented on #73
Hi @Norserium same issue here,

The issue seams to be caused by `:stencilProps="{aspectRatio: 50/9}"`, if I remove this line everythings is working fine.
The picture I used to get the issue is exactly `2394`w by `3591`h, i haven't try with other portrait mode pics.

[code]

[code]

[2020-10-02 20:32] chrislebaron commented on #41
@John-Goff's solution worked well for me

[2020-10-09 15:59] simioluwatomi commented on #73
At first try, this is what happens

![image](https://user-images.githubusercontent.com/22191563/95605353-bed19600-0a50-11eb-9b90-e7b4e610367f.png)

[2020-10-20 13:04] isferrei commented on #73
Could anyone help to solve this issue? I'm facing same issue even in [https://codesandbox.io/s/vue-advanced-cropper-bootstrap-modal-z8y47] provided by Norserium.

[2020-10-20 13:04] isferrei commented on #73
@Norserium Could you please try to provide an update fixing this error? It's really hard to work with this tool like that

[2020-10-20 15:00] isferrei opened #81 "Your size break the restrictions. Check your default size function"
Hello team,

I'm facing an issue when opening my pop-up to crop my images using this component. Please take a look on bellow image:
![image](https://user-images.githubusercontent.com/54048443/96604177-2e564980-12cb-11eb-964c-15b90313e8e1.png)

this is my default size function
`  defaultSize(currentIndex) {
      console.log(this.coordinates.width)
      console.log(this.coordinates.height)
      r

[2020-10-20 15:25] Norserium commented on #73
@simioluwatomi this error is fixed in `0.17.3`, but there is another mentioned by our nice guest Isabela.

@isferrei, I'm going to investigate this problem today. Please wait a bit.

[2020-10-20 15:29] Norserium commented on #81
Hello, @isferrei! I'm investigating this problem. Alas, September and October was pretty hard for me, so I didn't have time for my library.

[2020-10-20 15:43] mathix420 commented on #73
@Norserium I also got a similar issue with `0.17.3` as mentioned here https://github.com/Norserium/vue-advanced-cropper/issues/73#issuecomment-694243001

[2020-10-20 15:47] Norserium commented on #73
@mathix420, I've lost your report somehow before, sorry. I'm pretty sure that it's the same issue.

[2020-10-20 16:11] Norserium commented on #81
@isferrei could you provide the image that causes this problem?

[2020-10-20 16:23] Norserium commented on #81
It's pretty suspicious, that `minWidth` is equal to `2304` on your screenshot. What's one of three croppers causes the problem on the screenshot?

[2020-10-20 16:46] isferrei commented on #81
I didn't have a chance to upload any image, it came to me when I opened my modal that contains the crop component
![image](https://user-images.githubusercontent.com/54048443/96617997-b728b180-12da-11eb-987a-cd28ce8242c0.png)

[2020-10-20 16:53] Norserium commented on #81
@isferrei, could you update to `0.17.4`? Then, please, tell me what's one of three croppers above causes this error.

[2020-10-20 16:54] Norserium commented on #79
@Nemesis19 could you check if your error reproduces in `0.17.4`?

[2020-10-20 16:55] Norserium commented on #73
@mathix420 try to update to `0.17.4`. I suppose your problem should be solved in this version.

[2020-10-21 11:03] mathix420 commented on #73
@Norserium alright I'm trying that today

[2020-10-21 12:25] mathix420 commented on #73
@Norserium you're right the issue has been fixed by updating to `0.17.4` thanks!

[2020-10-22 19:43] Nemesis19 commented on #79
@Norserium I've been trying with your yellow image and my image with the new version. It seems the issue still occurs.

I'm really sorry that I can't help more than this. If you were able to reproduce it and in .4 it's fixed, I believe it's fixed.

If you still desire to dig deeper I'm sorry but I can't give you the component code here in public. We need to reach out privately and I'll need to whi

[2020-10-22 19:45] yusuf-io opened #82 "Stencil breaks restriction when zooming"
Hi,
I am working on building cropper for my Vue 2 app, but by using the latest version` vue-advanced-cropper@0.17.4`  the stencil seems break the restriction and overflows outside the cropper when zooming. Pls check out the codesand link:
[](url)https://codesandbox.io/s/advance-vue-cropper-4gc1o
BTW, the bug is fixed when using` vue-advanced-cropper@0.17.3`

[2020-10-22 22:41] Norserium commented on #79
@Nemesis19, I can't reproduce this bug in the documentation examples with this image anymore. Are you sure, that you have updated the package version? Could you provide the console error?

[2020-10-22 22:42] Norserium commented on #82
Hello, @yusuf-io! It's fixed in `0.17.5`. I've picked in this release some changes from the upcoming big release.

[2020-10-22 22:43] Norserium commented on #81
@isferrei, any news?

[2020-10-22 22:44] Norserium commented on #75
I close this issue for now. If you still have questions, feel free to ask.

[2020-10-22 22:44] #75 closed

[2020-10-22 22:46] Norserium commented on #62
I close this issue for now. If you have questions, feel free to ask.

[2020-10-22 22:46] #62 closed

[2020-10-22 22:46] Norserium commented on #45
I close this issue for now. If you have questions, feel free to ask.

[2020-10-22 22:47] Norserium commented on #69
I close this issue for now. If you have questions, feel free to ask.

[2020-10-22 22:47] #69 closed

[2020-10-23 05:31] yusuf-io commented on #82
Thank you for fixing the issue, it works fine with the new release.

[2020-10-23 08:25] Norserium commented on #82
Nice. I close issue then.

[2020-10-23 08:25] #82 closed

[2020-10-23 16:45] Nemesis19 commented on #79
I have 0.17.4 and the console error is gone. I can just tell you that on component init this piece of code

[code]

that I'm using procuces these two outputs in console:

[code]

and

[code]

[2020-10-23 19:42] Norserium commented on #79
I've create [the codesandbox](https://codesandbox.io/s/vue-advanced-cropper-example-6ui34?file=/src/App.vue), that should reproduce your problem. But I can't reproduce it.

[2020-10-23 20:28] Nemesis19 commented on #79
I don't remember why I used setCoordinates, maybe defaultSize has been introduced later?

Anyway, I think I've found the problem. I'm giving to te cropper component a `max-height: 40vh;` because it's a mobile UI and I can't give to the wrapper the whole page.

I disabled it because it was something absent from your both examples given. Disabling it now the cropper works as intented with my origina

[2020-10-23 20:42] Norserium commented on #79
I'm not sure that it's the reason. Look, I've added [the height limitation to my example](https://codesandbox.io/s/vue-advanced-cropper-example-6ui34?file=/src/App.vue). The problem is not reproducing.

[2020-10-23 21:02] Nemesis19 commented on #79
No modal....here you can find my reproduction https://codesandbox.io/s/vue-advanced-cropper-example-forked-ffy58

I changed some code with the one I use....forget about the `if (this.coordinates && this.coordinates.width) {` because in that page I move to another to add details to an object in vuex, so when I get back to the cropper page if I saved the coordinates I set it again on the cropper to

[2020-10-23 21:05] Norserium commented on #79
Could you replace using `init` method by using `defaultSize` prop? I suppose it's the problem.

[2020-10-23 21:17] Nemesis19 commented on #79
I commented all the content of the init() method and added exactly your method defaultSize as from your examples and indeed the prop to the <cropper> element.

Unfortunately no changes...I'm sorry man.

[2020-10-23 21:18] Norserium commented on #79
Did you add `default-size="defaultSize"` line to your cropper template definition?

[2020-10-23 21:19] Nemesis19 commented on #79
Yes, as I said earlier "and indeed the prop to the element."

[2020-10-23 21:23] Norserium commented on #79
I suppose I've reproduced your problem. Thanks. But I need sime time to investigate it.

[2020-10-23 21:24] Nemesis19 commented on #79
Many thanks to you! Can you explain more or less what could you understand?

[2020-10-23 21:35] Norserium commented on #79
Currently I understand that this problem is pretty random. I suppose it can be associated with the order of recalculation computed properties inside my cropper.

I need to reproduce this bug locally now.

[2020-10-23 23:33] Norserium commented on #79
@Nemesis19 try to update to `0.17.6`.

[2020-10-24 07:23] Nemesis19 commented on #79
Awesome, solved! 🎉

Thank you very much!

[2020-10-24 10:10] Norserium commented on #79
The problem finally solved. Nice!

I close issue then.

[2020-10-24 10:10] #79 closed

[2020-10-25 11:44] Norserium commented on #73
@zaidiqbal, @isferrei, @simioluwatomi is this issue still actual (in `0.17.6`)?

[2020-10-28 19:56] mcpeakdb commented on #44
I can reproduce this whenever I put the tags within a v-if statement. Otherwise, the same image works. I don't think the issue is with images, but some behavior with the component when contained within a v-if block.

[2020-10-28 21:31] Norserium commented on #44
@mcpeakdb could you create the codesandbox, that reproduces your problem?

[2020-10-28 22:55] hbalenda opened #83 "Weird issue with images in documentation"
Hi there, the image examples in the documentation & sandbox featuring scantily clad women should be replaced if you wish to be perceived as professional. Women do not like being reminded that they live in a society that objectifies and sexualizes them constantly :) Thank you!

[2020-10-28 23:27] mcpeakdb commented on #44
@Norserium i'll do my best when i'm back at my computer tomorrow. Essentially, I had a v-if block where the comparison returns false, so the cropper is hidden on page load. When changing the data to have the comparison return true to unhide the cropper, I receive the CORS error. Removing the v-if check or changing my code to have the comparison return true on page load (showing the cropper on page

[2020-10-29 14:14] mcpeakdb commented on #44
Hi @Norserium, of course I can't reproduce it in the sandbox (isn't that always how this goes?). I'll see if I can try to determine if there is something special about my environment, sorry this wasn't helpful.

[2020-10-31 01:18] adenilson-lomybr commented on #73
same issue here vue-advanced-cropper@0.17.6

[2020-10-31 10:03] Norserium commented on #73
@adenilson-lomybr, could you provide codesandbox that illustrates your problem?

[2020-10-31 18:11] Norserium commented on #83
Hello, @hbalenda!

There are a large variety of different cultures in the world. Therefore I can assume that in your culture some of used images were inappropriate.

To avoid similar claims in the future I would have to use only simplest neutral images for the documentation. For example, only geometric figures (with caution anyway). But I want to avoid it to preserve individuality and brilliance o

[2020-11-01 22:18] Norserium commented on #73
@adenilson-lomybr try to update to `0.17.7`. I am sure that the reason of the problem is an incorrect combination of size restrictions and cropper height, but the cropper should handle it now.

[2020-11-06 17:25] rhysstubbs commented on #73
@Norserium

As @mathix420 said:

I have just updated to `0.17.7` and I am now seeing this same error. If I remove the stencil prop with ratio then everything looks to be ok.

I am not setting any restrictions, only the stencil ratio, like:

[code]
The full error is:

[code]

[2020-11-06 20:44] Norserium commented on #73
@rhysstubbs I need more data. Some example (maybe codesandbox) to reproduce this error. I would be very helpful.

[2020-11-06 22:16] Norserium commented on #73
I've written tests, that I assume cover any possible situations, but `defaultSize` never equals to `null` after refining of size restrictions. Perhaps, size restrictions doesn't recompute in time, but I need to investigate this hypothesis.

[2020-11-07 14:19] Norserium commented on #73
@rhysstubbs I guess, that cropper is inside the container that has `display: none`. It's the most likely explanation.

[2020-11-07 14:31] #83 closed

[2020-11-07 16:36] Norserium commented on #73
@rhysstubbs could you update to `0.17.8`? The library processes this situation, but you have to [refresh cropper](https://norserium.github.io/vue-advanced-cropper/guides/advanced-recipes.html#dynamic-cropper-size), when cropper will be displayed.

[2020-11-07 16:53] Norserium commented on #81
@isferrei, any news?

[2020-11-09 08:04] rhysstubbs commented on #73
@Norserium

Correct, it is. I will take a look at updating and implementing the refresh :+1:

[2020-11-09 09:26] Norserium commented on #73
@rhysstubbs, it's pretty strange that the cropper worked in `16.0.5`. It doesn't produce the error mentioned above, but it doesn't resize cropper on show anyway.

[2020-11-09 09:56] rhysstubbs commented on #73
@Norserium Hmm, Interesting. I don't have time to do this now but I did very briefly downgrade and immediately saw:

[code]
You can see as soon as I called `getResult` this was thrown. This may be my implementation and the cropped is hidden and I get the default crop/dimentions from the cropper whether it is/was viisble or not. Not I will take a look into this when I have time :)

[2020-11-09 10:25] Norserium commented on #73
@rhysstubbs am I right, that this error is in old version? Did you test the last version?

[2020-11-10 09:23] mick912 commented on #73
I also had the same issue. Cropper container was as display: none. instead of display: none I used v-if expression to hide the container. And that approach solved that issue.

[2020-11-10 09:26] Norserium commented on #73
@mick912 in the latest version it should work even with `display:none`, but you should call [refresh](https://norserium.github.io/vue-advanced-cropper/guides/advanced-recipes.html#dynamic-cropper-size) method when cropper will be displayed.

[2020-11-12 13:42] Norserium commented on #73
@zaidiqbal, @rhysstubbs, @adenilson-lomybr, @simioluwatomi, @isferrei is this problem still actual (in `0.17.8`)?

[2020-11-12 20:24] enoh-barbu opened #84 "One of the worst documentation ever! Incomplete examples and bad explanation! Thanks!"

[2020-11-12 22:35] Norserium commented on #84
Hello, @enoh-barbu!

Welcome to the open source. This documentation is written by me. I don't receive any financial support and do it on my own, so I don't have enough time to make it perfect. Moreover, it's the beta version and this library is still in the development as well as its documentation.

So instead of indiscriminate criticism, I suggest you to write an specific comments, what should be

[2020-11-13 08:08] enoh-barbu commented on #84
I got crazy last night trying to make it working, spent about 3 hours on that, still no results. I understand your statements and agree with them, but in my opinion, this should not go live if the job is half done. I won't put more details. Just wanted to release my stress out here.

[2020-11-13 08:08] #84 closed

[2020-11-13 08:31] Norserium commented on #84
@enoh-barbu there are two kinds of people in the world: who knows how to do things right and who do things. Besides, it's impossible to make the documentation that will be clear for all users without its beta testing. To facilitate their lives I don't mind if users asks their questions in issues in this situation, I try to reply them quickly enough.

Why? Just describe your problem in a nutshell.

[2020-11-13 08:47] dishantsethi opened #85 "Change method name in input tag from Load image from disc section"
Since the method name is uploadImage(event), The method called inside input tag should also be uploadImage() instead of loadImage()

![Screenshot from 2020-11-13 14-12-58](https://user-images.githubusercontent.com/31399916/99047598-6eeb6f00-25ba-11eb-9e63-3d12cc42b987.png)
![Screenshot from 2020-11-13 14-13-07](https://user-images.githubusercontent.com/31399916/99047611-714dc900-25ba-11eb-8352-a11

[2020-11-13 08:52] enoh-barbu commented on #84
**PreviewResult** is nowhere documented. In code examples seems to accept an image which should be an object?? with what properties? How the image can be passed to that? This is just an example, but again, I won't put more work on your belt as I understand you're doing in your spare time.

[2020-11-13 09:01] Norserium commented on #84
@enoh-barbu, first of all, `PreviewResult` is the service component used to display the image in the stencil component. The `img` is object, indeed, and it's passed to this component by cropper itself. Did you want to create the custom stencil?

[2020-11-13 09:18] dishantsethi commented on #85
Create a Pull request for the same https://github.com/Norserium/vue-advanced-cropper/pull/86

[2020-11-13 09:21] Norserium commented on #85
@dishantsethi I've merged it. The changes are published now.

[2020-11-13 09:27] dishantsethi commented on #85
Thank You @Norserium

[2020-11-13 09:27] #85 closed

[2020-11-13 10:03] Norserium commented on #84
I suppose that this fragment of documentation misled you:
![screenshot](https://user-images.githubusercontent.com/9862719/99059953-5a09de00-25b0-11eb-9185-c9194811e36c.png)

It's pretty rare situation when it will be needed you (only for custom stencil),

[2020-11-13 13:19] enoh-barbu commented on #84
I just tried to copy paste the last code example from [here](https://norserium.github.io/vue-advanced-cropper/guides/custom-stencil.html)
I've created a component for that. I need to pass my image. I get this Invalid prop: type check failed for prop "img". Expected Object, got String with value "blob

[2020-11-13 13:23] enoh-barbu commented on #84
Oh, so PreviewResult is that image on the right side, you've showed above....great! I just now barely understood what it does!

[2020-11-13 13:27] Norserium commented on #84
No, no. It's the service component, that is used in the stencil.

You cannot pass image to this stencil directly, it's the stencil, not cropper. I suppose you should need take a look at [the full example](https://codesandbox.io/s/vue-advanced-cropper-custom-stencil-omseq?file=/src/Stencil.vue).

The stencil code is in `Stencil.vue`, the cropper code is in `App.vue`.

[2020-11-13 13:30] Norserium commented on #84
Anyway, what did you want to get exactly? The cropper with this specific circle?

[2020-11-13 13:53] enoh-barbu commented on #84
I thought the code above is to have this result
![image](https://user-images.githubusercontent.com/24221572/99079255-5e41f580-25c8-11eb-990c-79ac03ca4894.png)

[2020-11-13 13:55] enoh-barbu commented on #84
now this makes sense

[2020-11-13 14:16] Norserium commented on #84
Now I understand that it's not obvious at all. I will try to make it more clear to users and provide the link to that codesandbox (I suppose, that similar codesandboxes will be useful for other examples too).

Thanks.

[2020-11-13 14:45] enoh-barbu commented on #84
that will make it easier! thanks! sorry for the hard words

[2020-11-13 14:51] Norserium commented on #84
All's well that ends well. I hope that my library helped you to solve your task.

[2020-11-13 19:14] enoh-barbu opened #87 "PNG images with transparency, will be converted to black"
Original image
![image](https://user-images.githubusercontent.com/24221572/99111634-29986300-25f5-11eb-958e-0245b902e7ab.png)

uploaded image

![image](https://user-images.githubusercontent.com/24221572/99111614-20a79180-25f5-11eb-8328-2f6213800699.png)

try it [here ](**https://codesandbox.io/s/vue-advanced-cropper-custom-stencil-omseq?file=/src/Stencil.vue**)

[2020-11-13 21:32] Norserium commented on #87
@enoh-barbu, cropper background is black by default and you see it (#66). The default background may be changed in the future major release, but I should investigate the advantages and disadvantages of any alternative.

But for now feel free [to change it](https://codesandbox.io/s/vue-advanced-cropper-customize-background-lbwmx?file=/src/App.vue).

[2020-11-13 22:31] Norserium commented on #87
@enoh-barbu, there is two aspects.

Cropper background is black by default and you see it (#66). The default background may be changed in the future major release, but I should investigate the advantages and disadvantages of any alternative. The good news, that you are able to change the background if you want.

But it's just the visual aspect. When you click crop image you indeed receive the imag

[2020-11-14 08:03] enoh-barbu commented on #87
Ok, problem solved. I'll close this then, 10x

[2020-11-14 08:03] #87 closed

[2020-11-14 12:48] matinwd opened #88 "Send image as blob instead of base 64"
Here is my code trying to convert base64 image to blob but does not work.

[code]

[2020-11-14 12:51] Norserium commented on #88
@matinwd, what do you want to achieve? How does it relate to the cropper?

[2020-11-14 13:02] matinwd commented on #88
I want to get the cropped image
i tried to use docs but did not work for me

[2020-11-14 13:05] Norserium commented on #88
@matinwd do you want to upload cropped image to the server then?

[2020-11-14 13:07] matinwd commented on #88
Yes
This is my edited code
It works but i dunno why it sends the first image without crop.

js:```
b64toBlob(dataURI) {

                var byteString = atob(dataURI.split(',')[1]);
                var ab = new ArrayBuffer(byteString.length);
                var ia = new Uint8Array(ab);

                for (var i = 0; i < byteString.length; i++) {
                    ia[i] = byteString.charCodeA

[2020-11-14 13:20] Norserium commented on #88
You should combine **Load image from a disc** and **Upload image to a server** examples together to get what you want. There is [the example](https://codesandbox.io/s/vue-advanced-cropper-load-upload-s7isu?file=/src/App.vue).

Currently to set to form `this.form.image` just uploaded image: `this.form.image = blob`, where is `blob` is the converted image gotten from `reader.result`.

[2020-11-14 14:26] matinwd commented on #88
Ok can u do me a favor and send me one example cause i'm not good with working in frontend....
sending blob to a server.... is not ['This'](https://norserium.github.io/vue-advanced-cropper/guides/recipes.html#upload-image-to-a-server) enough?

[2020-11-14 14:27] matinwd commented on #88
I'm facing this error with second example
[code]

[2020-11-14 14:29] Norserium commented on #88
Add `ref="cropper"` to your cropper:
[code]

[2020-11-14 14:31] Norserium commented on #88
sending blob to a server.... is not 'This' enough?

I don't understand your request clearly.  I've have sent already almost the complete example, just adapt it to your needs (change `"http://example.com/upload/"` to your backend address, set appropriate field name and etc)

[2020-11-14 14:35] matinwd commented on #88
Error changed to
[code]

[2020-11-14 14:41] matinwd commented on #88
[code]
js:
[code]

[2020-11-14 14:46] Norserium commented on #88
Too few information. What's version of cropper do you use? When this error appears?

[2020-11-14 14:48] matinwd commented on #88
Latest version from npm and error appears when i select image from disk

[2020-11-14 14:51] Norserium commented on #88
What's the code for image selecting? Does this error appear for any image? Could you provide the screenshot of the console?

[2020-11-14 14:56] Norserium commented on #88
Did you try to reproduce that bug on codesandbox?

[2020-11-14 15:06] matinwd commented on #88
![2020-11-14_18-35-33](https://user-images.githubusercontent.com/52950867/99150233-3d50d180-26a8-11eb-933b-e4e3db94fdec.png)

[2020-11-14 15:06] matinwd commented on #88
No lemme try it on codepen

[2020-11-14 15:17] Norserium commented on #88
You are trying to send image to the server before you load image from disc actually. You should have two button (one for load image from disc (`loadImage` method), another for upload image to server (`uploadImage` method).

[2020-11-14 15:38] matinwd commented on #88
Now I am using [this](https://codesandbox.io/s/vue-advanced-cropper-load-upload-s7isu?file=/src/App.vue) and now i can not append blob file to the FormData
It is a pain in ass to work with FormData :(

[2020-11-14 15:39] matinwd commented on #88
It send image as null.... and when i dont send the image it appears the errors that i mentioned

[2020-11-14 15:42] Norserium commented on #88
Too few information again. Could you provide the full source code?

[2020-11-14 15:58] matinwd commented on #88
Ok
I Could not send images of my codes
I have one other question: does [this](https://codesandbox.io/s/vue-advanced-cropper-load-upload-s7isu?file=/src/App.vue) code send image as base64 or blob file?

[2020-11-14 16:03] Norserium commented on #88
I don't request full source code, just the fragments like [fragments](https://github.com/Norserium/vue-advanced-cropper/issues/88#issuecomment-727216817) that you send already here.

It sends image as blob.

[2020-11-15 06:58] matinwd commented on #88
html:
[code]
js:
[code]

[2020-11-15 06:58] matinwd commented on #88
In my code i have ```onSubmit``` func instead of uploadImage

[2020-11-15 08:38] Norserium commented on #88
I suppose that it's exactly that he **should do** according to your code and [specification](https://developer.mozilla.org/ru/docs/Web/API/FormData).

Here you add `this.form['image']` (that equals to `null`) to your form with name `image`:
[code]

Here you add blob to your form with name `image`:
[code]

Then you have two fields with the same name. I know nothing about your backend, but I assume

[2020-11-15 13:03] matinwd commented on #88
it solved thanks... that was because of callback function....

[2020-11-15 13:03] #88 closed

[2020-11-15 14:08] Norserium commented on #88
You are welcome!

[2020-11-19 12:31] Norserium commented on #81
@isferrei this issue should be fixed now. If you encounter this problem after update, feel free to reopen the issue.

[2020-11-19 12:31] #81 closed

[2020-11-20 21:08] matinwd opened #89 "What if we want to let image be nullable"
How can we let image as nullable?
when i leave it null it says "can't access property "left", e is null"

[2020-11-21 10:18] Norserium commented on #89
@matinwd, when does this error appear? On calling `getResult`?

[2020-11-21 10:23] matinwd commented on #89
Yes

[2020-11-21 10:28] Norserium commented on #89
I am going to fix the error, but what do you await to receive on calling this function? It will return just:
[code]

[2020-11-21 10:34] Norserium commented on #89
This error is already fixed in `0.17.9`. Please check it.

[2020-11-21 11:03] matinwd commented on #89
Updated
Thanks

[2020-11-21 11:07] Norserium commented on #89
Did it solve your problem?

[2020-11-21 11:17] matinwd commented on #89
Actually no
because what if we want to send form with or without cropped image?
the way you made we only can send form with image

[2020-11-21 11:17] matinwd commented on #89
that is because of blob callback function

[2020-11-21 11:20] Norserium commented on #89
No, it's not. You always can process the case when `image` is null separately.

Could you provide the code of your submit function?

[2020-11-21 11:25] matinwd commented on #89
![2020-11-21_14-54-11](https://user-images.githubusercontent.com/52950867/99876039-75f12d80-2c09-11eb-9f95-b807081cc494.png)

and with the code i sent you here, there will not any image in the request

[2020-11-21 11:27] matinwd commented on #89
![2020-11-21_14-55-52](https://user-images.githubusercontent.com/52950867/99876110-d1232000-2c09-11eb-9bc3-59a41f7b3156.png)

and if i do like this, i can not send form without image

[2020-11-21 11:37] Norserium commented on #89
It's the normal behavior, because `canvas.toBlob` is an asynchronous operation, and you submit the form before this operation is completed.

There are plenty of different ways to implement the desired behavior. The most simple is [here](https://codesandbox.io/s/vue-advanced-cropper-load-upload-2-zkd2u?file=/src/App.vue).

[2020-11-21 14:47] matinwd commented on #89
solved thanks

[2020-11-21 14:48] Norserium commented on #89
You are welcome!

[2020-11-21 14:48] #89 closed

[2020-11-27 22:06] alibabaazimi commented on #44
Hi @Norserium , I am using google cloud storage (bucket) and cropper does not appear. Can you help me please. I use laravel and vue. and and this is the content of my cors.php:
`    'paths' => ['api/*'],

    'allowed_methods' => ['*'],

    'allowed_origins' => ['*'],

    'allowed_origins_patterns' => [],

    'allowed_headers' => ['*'],

    'exposed_headers' => ['*'],

    'max_age' => 0,

[2020-11-27 22:09] Norserium commented on #44
@alibabaazimi, what does mean "cropper does not appear"? Do you encounter any errors in the console? Could you provide the link to the image?

[2020-11-28 03:21] alibabaazimi commented on #44
![Screen Shot 2020-11-28 at 7 50 49 AM](https://user-images.githubusercontent.com/13467999/100492872-85630000-314e-11eb-92c8-5da2a0e0cfbc.png)

[2020-11-28 03:28] alibabaazimi commented on #44
![Screen Shot 2020-11-28 at 7 57 43 AM](https://user-images.githubusercontent.com/13467999/100492940-7df02680-314f-11eb-8701-0aa5ee973c2c.png)

[2020-11-28 10:20] Norserium commented on #44
@alibabaazimi, I suppose, that it's not the problem of this library. To access to the image content server should return the appropriate [`Access-Control-Allow-Origin`](https://developer.mozilla.org/ru/docs/Web/HTTP/%D0%97%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B8/Access-Control-Allow-Origin) header, but it doesn't return it now.

If you crop the image on your server you can set `canvas` pro

[2020-11-28 10:21] Norserium commented on #44
I've tested [image from your website](https://storage.googleapis.com/negah-296822.appspot.com/post_photos/336tSHFDFbS2OLXDz0sRENM47M5Zb5wIBbGX1AO9.jpeg) in other croppers also. Same problem.

[2020-11-28 11:23] alibabaazimi commented on #44
Thanks for your considering. I have found the problem and it is solved now. Google cloud has its own CORS settings for its bucket. Again thank you so much

[2020-11-28 11:40] Norserium commented on #44
@alibabaazimi, you are welcome!

[2020-11-30 17:37] Norserium commented on #44
I wrote [the short section about CORS](https://norserium.github.io/vue-advanced-cropper/guides/cross-origin.html) for the documentation. I hope it would be helpful.

[2020-11-30 17:45] Norserium commented on #73
I assume this issue is solved. Feel free to write if you encounter one in the future.

[2020-11-30 17:45] #73 closed

[2020-11-30 17:46] Norserium commented on #61
It's possible now by [setting default visible area](https://norserium.github.io/vue-advanced-cropper/guides/advanced-recipes.html#default-visible-area).

[2020-11-30 17:46] #61 closed

[2020-12-02 12:47] airyng opened #90 "How do I change the background color for images with a transparent background?"
If you set an image with a transparent background, then after processing it, the canvas background will set to black.
how can I change the default color for the background?

Now my component looks like this:
![image](https://user-images.githubusercontent.com/14352077/100874498-55e52800-34ad-11eb-86ed-51c6b503ed18.png)

[2020-12-02 12:49] Norserium commented on #90
@airyng, how do you processing your image? Similar issue #87.

[2020-12-02 12:52] Norserium commented on #90
By the way, you can set aspect ratio by one property:
[code]

[2020-12-02 22:21] alekbarszczewski opened #91 "How I can show only stencil (visible area) and hide the rest of image?"
On mobile devices I want to make stencil (visible image area) to be 100% of screen width, and hide the rest of image (and black borders). I am talking about variant where you don't move stencil, only image.

[code]

Right now it looks like this:

<img width="471" alt="photo" src="https://user-images.githubusercontent.com/2742373/100938469-00cd0480-34f5-11eb-8153-dce111ad622a.png">

But I would lik

[2020-12-02 23:12] Norserium commented on #91
@alekbarszczewski, I'm not sure that I understand you exactly. Let's try to make it gradually. Is[ this example](https://codesandbox.io/s/confident-firefly-uvkis?file=/src/App.vue) close to your desired result?

[2020-12-02 23:19] Norserium commented on #91
Do you have the example of similar cropper?

[2020-12-03 04:51] jbonnett92 opened #92 "Show only cropped area?"
Hi,
Is it possible to show only the cropped area? No resizing controls...
So if I wanted to crop image to an aspect ratio of lets say 16/9 and the image for example was 4/3, what I would like to see is that 4/3 image filling the 16/9 area along with still being able to move the image within that area along with the ability to zoom the image within that area too. Not the current examples that are t

[2020-12-03 06:22] airyng commented on #90
Thanks for response.
I changed max and min props to aspectRatio prop.

About processing. Its divided to 3 steps:

Step 1:
`save () { const { canvas } = this.$refs.cropper.getResult(); this.$emit('onSave', canvas); }`

Step 2:
Resizing image
![image](https://user-images.githubusercontent.com/14352077/100970565-da7f8700-353d-11eb-9d99-ff4c515d9113.png)

Step 3:
Uploading to server
![image](https://u

[2020-12-03 07:22] airyng commented on #90
I found the solution [here](https://stackoverflow.com/questions/32160098/change-html-canvas-black-background-to-white-background-when-creating-jpg-image)

[2020-12-03 07:22] #90 closed

[2020-12-03 08:05] alekbarszczewski commented on #91
@Norserium yes, it's very close, just would like to get rid of black borders/margins on top and bottom.
What I want to achieve is same as in Instagram application - when you edit / adjust photo you see only visible square on the screen - the rest of the image is hidden.

[2020-12-03 09:14] Norserium commented on #91
@alekbarszczewski are you referring to this window?
![image](https://user-images.githubusercontent.com/9862719/100988347-b08b8c00-3560-11eb-91ca-73e441ce00f3.png)

You should note, that visible area in their case may be larger than image, so you would see the borders (in their case white borders).
![image](https://user-images.githubusercontent.com/9862719/100988602-f47e9100-3560-11eb-8bc8-9139743c

[2020-12-03 10:08] Norserium commented on #91
Is [this example](https://codesandbox.io/s/vue-advanced-cropper-instagram-like-d3gi9?file=/src/App.vue) close to your desired result?

It's the most simple approach to implement stretching. But it has some limitations: for example, it's pretty hard to set limitation of minimum and maximum width/height.

The solution is very simple:
1. Set the cropper width equal to width of container.
2. Set the c

[2020-12-03 10:13] Norserium commented on #92
@jbonnett92 I assume that you want to get something like [that](https://codesandbox.io/s/vue-advanced-cropper-instagram-like-d3gi9?file=/src/App.vue)?

[2020-12-03 10:15] Norserium commented on #90
The nice description of the problem by the way. I suppose it will be helpful for other developers that encounter a similar trouble.

[2020-12-03 11:12] jbonnett92 commented on #92
That looks good to me 👍
Is there a rotation handler like with the twitter zoom example?

[2020-12-03 11:14] Norserium commented on #92
Alas, there is no possibility to rotate an image inside this cropper. I have suggested the workaround in #24 earlier.

[2020-12-03 11:17] jbonnett92 commented on #92
Thank you!

[2020-12-03 11:17] #92 closed

[2020-12-03 11:27] jbonnett92 commented on #92
I just realised the example breaks on window resize?

[2020-12-03 11:33] Norserium commented on #92
@jbonnett92 could you provide the screenshot? It shouldn't.

[2020-12-03 11:43] jbonnett92 commented on #92
It may have been my edit: [example](https://codesandbox.io/s/vue-advanced-cropper-instagram-like-forked-kic9w?file=/src/App.vue)

[2020-12-03 11:51] Norserium commented on #92
It's the bug obviously. I will try to investigate how to fix it lately, thanks.

[Temporary workaround](https://codesandbox.io/s/vue-advanced-cropper-instagram-like-142-q8k4c?file=/src/App.vue).

[2020-12-03 16:42] alekbarszczewski commented on #91
Thank you! This is exactly what I need!
Great library btw.

[2020-12-03 16:48] alekbarszczewski opened #93 "Add typescript definitions"
Correct me if I am wrong but it seems that ts definitions are not shipped along with this library.
Also package `@types/vue-advanced-cropper` does not exist.
For now I am shimming lib like this (I took code from another ts lib) but it would be nice to have ts typings out of the box:

[code]

[2020-12-03 16:58] Norserium commented on #91
You are welcome!

[2020-12-03 17:13] Norserium commented on #93
This library doesn't have typings now, but some of internals were rewritten on Typescript already. I hope that sometime I will write them, but there are too much other plans and work.

Don't close this issue. It will remind me about this task.

[2020-12-03 17:42] alekbarszczewski commented on #93
Never done this for vue component but AFAIK most of generating can be done automatically with this lib https://github.com/ktsn/vuetype for example. For any .ts files typescript can autogenerate typings automatically also on build time.

[2020-12-03 17:44] Norserium commented on #93
You are right, `.d.ts` files can be automatically generated from source files. But currently only the not public internals are written on Typescript, so it useless now.

[2020-12-04 15:26] alekbarszczewski commented on #91
@Norserium Hey, I still have one more problem with your approach / example.
In my app it must be possible to edit cropped area - AFAIK normally you do this with `default-size` and `default-position` properties like in one of your examples. However `default-size` is already defined (as per your example) to fill visible area:

[code]

When I change this to some other value it breaks stencil (stencil

[2020-12-04 16:18] Norserium commented on #91
What do you mean by "editing cropped area"? Do you want to set default size and default position?

[2020-12-04 16:46] alekbarszczewski commented on #91
Thanks,
I couldn't find it (`default-visible-area`) because in docs this prop is missing (https://norserium.github.io/vue-advanced-cropper/components/cropper.html#props) and instead there is "default-position".
Thanks for help it works nice now :)

[2020-12-04 16:48] Norserium commented on #91
@alekbarszczewski it's the unstable API now, so it's poorly documented now. By the way, `default-position` and `default-size` works well, but not in your case.

[2020-12-06 07:49] yogsky commented on #84
I believe this example now include a bug where if you try first to resize the stencil (not drag it), stencil is stuck and cannot move afterwards.

[2020-12-06 08:10] Norserium commented on #84
@yogsky, thank you! It's fixed now.

[2020-12-06 11:18] yogsky commented on #84
@Norserium 🥇
First off, thanks a lot (also for the awesome package).
May I ask what was the needed change that you made 🤓 ?

[2020-12-06 11:23] Norserium commented on #84
My pleasure.

In the previous versions `ResizeEvent` received three arguments, include the native event. I decide, that the first argument (i.e. event) is redundant, because I can't rely on event, that user passes, so it was removed in the new versions.

To fix this problem I just removed the passing of the native event as the first argument of `ResizeEvent` constructor (line 50).

[2020-12-06 12:54] yogsky commented on #84
@Norserium,
got it, Thank you! ❤️

[2020-12-08 23:19] Norserium commented on #91
@alekbarszczewski in the last release `0.18.0` the recommended approach to create such croppers [was changed](https://codesandbox.io/s/vue-advanced-cropper-instagram-like-0180-1fhgk?file=/src/App.vue).

[2020-12-08 23:27] Norserium commented on #92
@jbonnett92 in the last release `0.18.0` the recommended approach to create such croppers [was changed](https://codesandbox.io/s/vue-advanced-cropper-instagram-like-142-q8k4c?file=/src/App.vue).

[2020-12-09 12:14] Norserium commented on #92
All I did was remove the grid and change the aspect ratio and the padding bottom on the cropper container to match.

This bug is fixed in `0.18.1` now.

[2020-12-11 00:22] phena109 commented on #72
Seems like they have 1 commit related to style since beta 9 (beta 11 as of now). Also there is a mention [vite](https://github.com/vitejs/vite#readme).

[2020-12-11 06:54] phena109 commented on #72
I am sorry, I think `rollup-plugin-vue` actually just got out of beta. It's 6.0.0 now. The setting in the `rollup.config.js` should have the plugin portion like this (sort of explained in the readme of the plugin).
[code]

Then you will change the index.js to adopt the new vue 3 way (`createApp()` etc.).

On my computer, it compiles fine, passed all test as a standalone and compiles fine in my own

[2020-12-12 11:00] alekbarszczewski commented on #91
Thanks, I can't try it because I upgraded Vue in my app to 3.x and vue-advanced-cropper fails to load - I am going to create separate issue for that.

[2020-12-12 11:05] alekbarszczewski commented on #72
For me importing vue-advanced-cropper in ionic/vue3 project breaks the app (without any specific errors logged to the console).

[2020-12-13 17:14] Norserium commented on #92
@jbonnett92 the native rotation was added in `0.19.0`. [The rotate / flip example](https://norserium.github.io/vue-advanced-cropper/guides/advanced-recipes.html#rotate-flip-image).

[2020-12-13 17:16] Norserium commented on #24
@GhaniHaa, the native rotation was added in `0.19.0`. [The rotate / flip example](https://norserium.github.io/vue-advanced-cropper/guides/advanced-recipes.html#rotate-flip-image).

[2020-12-14 19:02] damianlluch opened #94 "Error: [Vue warn]: Error in v-on handler: "TypeError: this.$refs.cropper is undefined""
Hi! thanks for your job.

I try with your library (example code) in my project with Vue 2 - Typescript.

And when call to crop function, I get this error:

![image](https://user-images.githubusercontent.com/1463804/102123531-42d83d80-3e47-11eb-8eba-f42c6ff90aa2.png)

Any suggestion?

[2020-12-14 19:04] Norserium commented on #94
@damianlluch I suggest, that you've not set the appropriate ref on the cropper:
[code]

[2020-12-14 19:28] damianlluch commented on #94
thanks bro!

[2020-12-15 07:29] Norserium commented on #94
@damianlluch you are welcome!

[2020-12-15 07:29] #94 closed

[2020-12-15 09:13] scramatte opened #95 "Question: Cropper overlay with links ?"
Hello,

First of all thank you to made this amazing work. It's well documented and works great. It saves me  lot of time.

Can you post an example to create buttons/link  over the cropper as they achieve in IOS?
![image](https://user-images.githubusercontent.com/188766/102194103-30005000-3ebd-11eb-91e8-1743b204b54f.png)
**IOS orignal cropper**

![image](https://user-images.githubusercontent.com/18

[2020-12-15 09:17] Norserium commented on #95
@scramatte, could you provide the codesandbox for your example? The buttons above the cropper can be set by using absolute positioning. There are [similar examples](https://github.com/Norserium/vue-advanced-cropper/blob/master/example/docs/.vuepress/components/set-coordinates-example.vue) in the documentation code.

[2020-12-15 09:18] Norserium commented on #95
I don't understand this problem exactly. Do you want to reduce the image size to fit to the stencil? Then use `image-restriction: none`.

[2020-12-15 13:55] scramatte commented on #95
Hello,

following your example I've been able to set buttons over cropper.  It's work fine but do you think that is possible to place such buttons relative to the circle stencil?

![image](https://user-images.githubusercontent.com/188766/102223286-cac05500-3ee4-11eb-8f59-03f0fa5ff146.png)

[code]

[code]

[2020-12-15 14:00] Norserium commented on #95
Why do you need it? It looks as pretty strange usecase. There are different approaches to implement it, but I suppose the most elegant way is the creating of the custom stencil component.

[2020-12-17 20:34] Norserium commented on #72
I've started work on [the adaption to breaking changes in Vue 3](https://github.com/Norserium/vue-advanced-cropper/tree/vue-next). It works already now, but it's pretty raw, just like the ecosystem of the last Vue version.

[2020-12-19 19:09] Norserium commented on #95
@scramatte, any news?

[2020-12-24 17:55] Norserium opened #96 "Help with migration to 1.0.0"
I'm going to make the first release finally. It's the important step for this library, but it can bring many different
inconveniences to you.

To facilitate the process of migrating I wrote [the following guide](https://norserium.github.io/vue-advanced-cropper/introduction/migration.html).

Also, in the following month I'm ready to answer all your questions about migration and help you with this p

[2020-12-24 17:55] #50 closed

[2020-12-25 12:24] Norserium commented on #72
@bzd2000, @phena109, @alekbarszczewski finally, it has arrived. The vue-advanced-cropper is available for Vue 3 now.
[code]
[code]
Examples: [Bundler](https://codesandbox.io/s/vue-advanced-cropper-vue-3-yrxou?file=/src/App.vue) / [CDN](https://jsfiddle.net/norserium/w5o7z6ts/)

[2020-12-26 00:10] Flawe opened #97 "Moving a cropped image up and down also scrolls the page"
When moving a cropped image around on a mobile device the up/down movements also scroll the page at the same time. Is there a way to stop the touchmove event (I assume this is the one causing this) to propagate past the cropper?

[2020-12-26 09:56] Norserium commented on #97
Hello, @Flawe! It shouldn't. I've tested it on my devices. Could you provide more details? What's the used version of the library, the browser, the device?

[2020-12-26 09:58] Norserium commented on #97
Do you encounter this problem with the examples in the documentation?

[2020-12-26 21:46] Flawe commented on #97
Hey @Norserium,

I'm using

nuxt@2.14.7
bootstrap-vue@2.19.0
vue-advanced-cropper@0.18.0

And tested on both Chrome and DuckDuckGo on a Pixel 3 with whatever is latest Android version as of today.

I haven't tested the examples, I'll see if I can create a small repro case.

[2020-12-26 23:16] Norserium commented on #97
@Flawe, please test the examples. It helps to understands whether it's the internal bug of the library or its depends on your code somehow.

[2020-12-28 09:01] LaKing commented on #41
https://norserium.github.io/ has only 404 pages at the moment ... is this temporary?

[2020-12-28 09:44] Norserium commented on #41
@LaKing, I've fixed the links in my messages. The section names was changed.

[2020-12-30 00:46] RenchuSong opened #98 "[vue-advanced-cropper@next] change event not emitted during stencil drag/resize"
Not sure if I am doing the work correctly, but following the documentation I can make every work except no change event is emitted when I drag or resize the stencil

Here is the code change to implement croppping: https://github.com/RenchuSong/PRESS/pull/8/files?file-filters%5B%5D=.vue#diff-a58a39731588df2e03dd299875905e28577393f1135e9455a7c54a66b1f2103dR28-R48

As the code shows, @change should t

[2020-12-30 02:08] RenchuSong commented on #98
Ok, I have verified the issue with barebone vue projects.
I created a vue 2 project and installed vue-advanced-cropper@release, it works and the @change event is triggered.
I created a vue 3 project and installed vue-advanced-cropper@2.0.0 and vue-advanced-cropper@next, the image can be loaded, and the slencil can be dragged and resized, but @change event is not triggered.

[2020-12-30 02:20] RenchuSong commented on #98
Steps to reproduce:
1. Install vue/cli 4.5.9, yarn 1.22.10
2. vue create test, choose vue 3 default settings
3. cd test & yarn add vue-advanced-cropper@next
4. yarn serve
5. Copy the minimal example in https://norserium.github.io/vue-advanced-cropper/ to replace App.vue
6. Reproduce in browser

[2020-12-30 09:04] Norserium commented on #98
@RenchuSong thank you for so detailed report and investigation. Such bug reports are even nice to receive.

This bug is fixed in `2.0.3` now.

By the way, you can easily test the different versions in codesandboxes ([Vue 2](https://codesandbox.io/s/vue-avanced-cropper-basic-jfy5w) / [Vue 3](https://codesandbox.io/s/vue-advanced-cropper-vue-3-yrxou?file=/src/App.vue)). Sometimes it's much faster.

[2020-12-30 16:39] RenchuSong commented on #98
@Norserium thank you so much for the fix and it works!

[2020-12-30 16:39] #98 closed

[2021-01-06 12:48] tre-dev opened #99 "Twitter range slider not smooth"
When upgrading to 1.0.1 and using the example Twitter Cropper, the ranger isn't smooth anymore and jerks around. Would be awesome if you could fix that.

https://norserium.github.io/vue-advanced-cropper/guides/showcase.html#twitter

[2021-01-06 14:44] Norserium commented on #99
@tre-dev, nice to meet you again! Could you provide the video of its jerking? Do you encounter that effect [here](https://codesandbox.io/s/vue-advanced-cropper-twitter-suoyc?file=/src/App.vue)?

[2021-01-06 15:00] tre-dev commented on #99
Hey! 👋 I actually edited the example you linked with 1.0.1 version as well and it jerked (jerking meaning that instead of being able to smoothly scroll with the range slider, it stops working for half a second or so). The example you linked now though is working smoothly. Did you change something?

[2021-01-06 15:16] Norserium commented on #99
I've disabled `transitions` for the cropper.

They are not needed in this example. I'm still testing the another approach to prevent transitions  only for zoom:
`this.$refs.cropper.zoom(0.5, null, { transitions: false })`

It look pretty good, but I'm still not sure about it.

[2021-01-06 15:18] tre-dev commented on #99
Ah awesome, that fixed it.

[2021-01-06 16:09] tre-dev commented on #99
I think there's another bug.

![image](https://user-images.githubusercontent.com/59442299/103790734-e5986c00-5041-11eb-8b61-56a256c8692d.png)

https://codesandbox.io/s/vue-advanced-cropper-twitter-forked-tdmcc?file=/src/App.vue

Even if I set minWidth & minHeight to 0, it gets stuck at a certain zoom level. This includes zooming with scrolling as well range slider, though with the range slider its

[2021-01-06 17:07] Norserium commented on #99
It's not exactly the bug of my example, because it's designed for 1/1 aspect ratio. But it's possible to improve the code for an arbitrary aspect ratio.

[The example.](https://codesandbox.io/s/vue-advanced-cropper-twitter-improved-clnnp?file=/src/App.vue)

[2021-01-08 13:50] evgeniy-logvinov commented on #93
Have the same problem

[2021-01-10 20:35] tre-dev commented on #99
Sorry for responding late. That worked. Thanks!

[2021-01-10 21:59] Norserium commented on #99
You are welcome! I close issue then.

[2021-01-10 21:59] #99 closed

[2021-01-10 22:57] Norserium commented on #97
@Flawe, any news?

[2021-01-12 17:17] Flawe commented on #97
@Norserium
Sorry, I haven't gotten to this yet. Will keep you posted once I have some more info.

[2021-01-15 19:37] ANaumow opened #100 "How can I make preview like this?"
### How can I make avatar preview like this?

![example](https://user-images.githubusercontent.com/31388766/104770758-226f0c00-5782-11eb-9a65-27b5e6206a18.jpg)

I know that I can do this by `canvas.toDataURL()` but it is slow, is there a better way?

[2021-01-16 16:02] Norserium commented on #100
@ANaumow, check [this example](https://codesandbox.io/s/vue-advanced-cropper-preview-native-dblzn?file=/src/App.vue). If the result is good for you, then update to `1.2.1` and use the new `Preview` component.

[2021-01-16 16:04] Norserium commented on #100
There is [the corresponding section](https://norserium.github.io/vue-advanced-cropper/guides/recipes.html#preview-the-result) in the documentation now also.

[2021-01-16 19:55] Norserium commented on #91
@alekbarszczewski I close issue. If you encounter this issue in the future, feel free to ask.

[2021-01-16 19:55] #91 closed

[2021-01-16 19:55] Norserium commented on #95
@scramatte  I close issue. If you encounter this issue in the future, feel free to ask.

[2021-01-16 19:55] #95 closed

[2021-01-18 03:55] monkeytroy opened #101 "Is it possible to limit the zoom in so that there is never greater than a 1 to 1 pixel ratio from the image to the stencil sizes?"
On a stencil restricted crop where I have specified a stencil w and h...  I would like to not allow the crop area to be more than a 1 to 1 pixel size in the stencil.

So for a 100x100 stencil and a 200x200 image, I want to be able to zoom out so that the full 200x200 pixels were fit into the 100x100 crop area.   But when I zoom out I never want the part of the image in the stencil to be less than

[2021-01-18 03:59] monkeytroy commented on #101
Of course as soon as I send this I figure it out...   but why does this behave differently than setting min-height and min-width on the component?

:size-restrictions-algorithm="percentsRestriction"

`
percentsRestriction({ minWidth, minHeight, maxWidth, maxHeight, imageWidth, imageHeight }) {
      return {
          minWidth: 100,
          minHeight: 100,
          maxWidth: maxWidth,

[2021-01-18 08:34] ANaumow commented on #100
Thanks, this is what I needed!

[2021-01-18 10:11] #100 closed, assigned to nobody

[2021-01-18 10:13] Norserium commented on #101
@monkeytroy, hello! What's the library version do you use?

[2021-01-20 11:18] Norserium commented on #101
@monkeytroy, any news?

[2021-01-20 14:06] monkeytroy commented on #101
Yup.. that was it.  minWidth and minHeight work fine on 1.0.0.   Ty much sir.

[2021-01-20 15:46] Norserium commented on #101
@monkeytroy, just for your information, the default `sizeRestrictionsAlgorithm` limits the size in percents relative to image size. So `minWidth`, `maxWidth`, `minHeight` or `maxHeight` just sets the restriction relative to image (for example, 25%, 50% and etc of the image).

This behavior was changed, and now the restrictions `minWidth`, `maxWidth`, `minHeight` or `maxHeight` sets the restriction

[2021-01-20 16:48] CalebJTSmith opened #102 "canvas.toDataURL() without rendering the component"
Is it possible to crop an image without rendering the cropping tool itself? Example - we are putting together a tool to allow for consumers to crop images and some products do not allow cropping, but we want to capture the blob data from saved coordinates to render back on the frontend.

I have tried using a v-show on the component and fetching the data through the $ref, but it returned empty. I c

[2021-01-20 16:58] Norserium commented on #102
@CalebJTSmith, alas, I don't understand your use-case completely. Do you need to crop the image programmatically by known coordinates? Do you need do it only to preview the cropped area?

[2021-01-20 17:01] CalebJTSmith commented on #102
Yes exactly! It's a little odd, but I have a "soft crop" of coordinates that I set when I initialize the cropper. In most cases, the end user will start cropping with that as the starting point. If consumer cropping is disabled, then I just want to grab the soft crop and continue.

The actual flow for this use case: Consumer picks a product -> Consumer picks an image for this product (with predefi

[2021-01-20 17:05] Norserium commented on #102
Do you need to use blob data anywhere else? If not, you can use `Preview` component for this case. [Example](https://codesandbox.io/s/vue-advanced-cropper-preview-native-dblzn?file=/src/App.vue).

In your case I suppose it would be look as follows:
[code]

[2021-01-20 17:06] CalebJTSmith commented on #102
I had no idea this was available! Oh this is fantastic. This should take care of my issue.

[2021-01-20 17:06] #102 closed

[2021-01-20 17:35] Norserium commented on #102
It was added 4 days ago, so it's not surprising. There is some words about it in the documentation also that may be helpful ([documentation](https://norserium.github.io/vue-advanced-cropper/components/preview.html), [example](https://norserium.github.io/vue-advanced-cropper/guides/recipes.html#preview-the-result))

[2021-01-21 07:28] Zahod opened #103 "On iOS, page reloads, when you try to crop photo"
Device: iPhone 11 Pro.
You can see this issue on recipes page, when you upload photo created by phone camera:
https://norserium.github.io/vue-advanced-cropper/guides/recipes.html#load-image-from-a-disc

I believe this is all because of large image size.

Before that I used old version 0.15.3, and it worked well in that point.

[2021-01-21 09:03] Norserium commented on #103
@Zahod, alas, I don't have got iPhone 11 Pro. Could you record a screen video?

[2021-01-21 10:24] Zahod commented on #103
@Norserium It might not only iPhone 11 Pro issue, I think any iOS device has this problem.
Video:
https://www.dropbox.com/s/gfp2qqi7w8b7bdd/RPReplay_Final1611223423.MP4?dl=0
In sandbox - same issue
https://www.dropbox.com/s/6c1njcvjhiwq4sc/RPReplay_Final1611224076.MP4?dl=0

P.S: On Android phones everything works well

[2021-01-21 10:36] Norserium commented on #103
@Zahod I currently don't have any iOS device, so I need your assistance now.

Could you test the following sandboxes: [1.21.1](https://codesandbox.io/s/vue-avanced-cropper-basic-jfy5w), [1.1.0](https://codesandbox.io/s/peaceful-northcutt-wjplp), [1.0.2](https://codesandbox.io/s/cocky-smoke-gjh9b), [0.20.1](https://codesandbox.io/s/morning-glade-mv7ot)?

The video is not needed now, just check if t

[2021-01-21 10:39] Norserium commented on #103
I found also the following [thread](https://apple.stackexchange.com/a/56165). This issue may be linked with memory insufficiency problem.

[2021-01-21 11:19] zalemmm opened #104 "Disable auto zoom when resizing stencil programatically"
Hello and thanks for this great tool !
I'm using a static cropper that can be resized programatically.
I don't want fixed ratio because it's the user that defines it choosing width and height.
It works well except that when adjusting the width and height, there's an auto zoom and move of the picture that i found no way to deactivate.

Here is the cropper when page is loaded (stencil fits the width

[2021-01-21 11:23] Norserium commented on #104
@zalemmm could you provide codesandbox or the cropper source code at least?

[2021-01-21 11:58] Zahod commented on #103
@Norserium
 [1.21.1](https://codesandbox.io/s/vue-avanced-cropper-basic-jfy5w), [1.1.0](https://codesandbox.io/s/peaceful-northcutt-wjplp), [1.0.2](https://codesandbox.io/s/cocky-smoke-gjh9b) - has this issue
[0.20.1](https://codesandbox.io/s/morning-glade-mv7ot) - works well !

So, it might be a memory issue on device, but modern phones has a lot of memory. To reach the limit you will need to try

[2021-01-21 12:01] Norserium commented on #103
Yes, it would be. I just try to find some clues.

Could you test [1.0.0](https://codesandbox.io/s/eloquent-sky-vxi16) also?

[2021-01-21 12:36] Zahod commented on #103
Yep, It works too.

[2021-01-21 12:40] Norserium commented on #103
It's interesting. Could you test [1.0.1](https://codesandbox.io/s/distracted-swartz-fer1c?file=/src/main.js) also?

[2021-01-21 13:05] Zahod commented on #103
Has that issue, page reloads.

[2021-01-21 13:11] Norserium commented on #103
It's really bad, because it may be associated with transforms. Thanks for the investigation, I will check what can I do.